<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImmortalSasuke_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,556},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>ImmortalSasuke_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,556},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>ImmortalSasuke_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,385},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
            <key>ImmortalSasuke_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,80},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>ImmortalSasuke_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>ImmortalSasuke_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,693},{45,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>ImmortalSasuke_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,308},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>ImmortalSasuke_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,386},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>ImmortalSasuke_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,980},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>ImmortalSasuke_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,386},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,220},{72,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,463},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,151},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,425},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,236},{79,39}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,39}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,85},{74,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,457},{62,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>ImmortalSasuke_KnockDown_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,78},{51,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,66}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,976},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,710},{89,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,73}}</string>
                <key>sourceSize</key>
                <string>{89,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,801},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,303},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,73}}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,225},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{45,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,462},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,382},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,891},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,542},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,225},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,145},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,378},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,146},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,709},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,912},{106,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,615},{71,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{71,58}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,86},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>ImmortalSasuke_NAttack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,225},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,317},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,511},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,151},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,971},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,882},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,752},{53,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,61}}</string>
                <key>sourceSize</key>
                <string>{53,61}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,540},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,396},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,529},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>ImmortalSasuke_Skill01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,831},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,887},{87,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,63}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,798},{87,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{89,64}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,618},{89,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,64}}</string>
                <key>sourceSize</key>
                <string>{89,64}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,151},{83,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,366},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,76},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,885},{84,67}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{84,67}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,618},{90,70}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,464},{90,74}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{82,66}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>ImmortalSasuke_Skill02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,537},{53,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,71}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>ImmortalSasuke_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,317},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>ImmortalSasuke_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>ImmortalSasuke_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,229},{35,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,75}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>ImmortalSasuke_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,236},{35,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,77}}</string>
                <key>sourceSize</key>
                <string>{35,77}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,294},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,693},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,72}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,149},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,227},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,78},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,673},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,618},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,798},{85,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,62}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>ImmortalSasuke_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,767},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,464},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,464},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,308},{39,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,76}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{39,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,76}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,306},{53,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,151},{55,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,230},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>ImmortalSasuke_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,464},{66,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{200,94}</string>
            </dict>
            <key>ImmortalSasuke_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,162}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>ImmortalSasuke_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{130,106}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{200,106}</string>
            </dict>
            <key>ImmortalSasuke_Skill10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{148,98}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{148,98}}</string>
                <key>sourceSize</key>
                <string>{200,98}</string>
            </dict>
            <key>ImmortalSasuke_Skill11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,765},{145,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{147,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{147,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{149,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,84}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>ImmortalSasuke_Skill12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,618},{145,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Skill12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{147,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{147,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Skill12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{149,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,84}}</string>
                <key>sourceSize</key>
                <string>{151,84}</string>
            </dict>
            <key>ImmortalSasuke_Skill12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,315},{147,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{147,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Skill12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{145,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Skill12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,166},{147,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{147,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>ImmortalSasuke_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,560},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>ImmortalSasuke_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,688},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>ImmortalSasuke_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,590},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ImmortalSasuke_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,397},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>ImmortalSasuke_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,610},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>ImmortalSasuke_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,450},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ImmortalSasuke.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8db1c55b8e4e0dbfcded712d9d867db0$</string>
            <key>textureFileName</key>
            <string>ImmortalSasuke.png</string>
        </dict>
    </dict>
</plist>
