<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kisame_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,300},{43,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,90}}</string>
                <key>sourceSize</key>
                <string>{43,90}</string>
            </dict>
            <key>Kisame_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,316},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>Kisame_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,300},{43,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,90}}</string>
                <key>sourceSize</key>
                <string>{43,90}</string>
            </dict>
            <key>Kisame_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,184},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>Kisame_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,432},{61,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,84}}</string>
                <key>sourceSize</key>
                <string>{61,84}</string>
            </dict>
            <key>Kisame_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,392},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>Kisame_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,426},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,389},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,368},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,362},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,271},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>Kisame_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,191},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>Kisame_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,561},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>Kisame_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{61,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>Kisame_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,496},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>Kisame_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,261},{60,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,83}</string>
            </dict>
            <key>Kisame_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,430},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>Kisame_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,260},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>Kisame_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,330},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>Kisame_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{61,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>Kisame_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>Kisame_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{117,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,62}}</string>
                <key>sourceSize</key>
                <string>{117,62}</string>
            </dict>
            <key>Kisame_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,414},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>Kisame_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,267},{86,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,56}}</string>
                <key>sourceSize</key>
                <string>{86,56}</string>
            </dict>
            <key>Kisame_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,174},{113,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,64}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>Kisame_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,346},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>Kisame_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,226},{92,76}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>Kisame_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,240},{106,91}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{106,91}}</string>
                <key>sourceSize</key>
                <string>{200,91}</string>
            </dict>
            <key>Kisame_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,89},{124,92}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{124,92}}</string>
                <key>sourceSize</key>
                <string>{200,92}</string>
            </dict>
            <key>Kisame_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{128,85}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{128,85}}</string>
                <key>sourceSize</key>
                <string>{200,85}</string>
            </dict>
            <key>Kisame_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,88},{128,84}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>Kisame_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,183},{122,82}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{200,82}</string>
            </dict>
            <key>Kisame_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{120,83}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{120,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>Kisame_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,517},{62,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>Kisame_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,497},{62,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>Kisame_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,490},{62,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>Kisame_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,453},{62,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>Kisame_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,432},{62,86}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>Kisame_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,304},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,267},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>Kisame_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,325},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,298},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Kisame_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,401},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>Kisame_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,498},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>Kisame_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,182},{58,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{58,77}</string>
            </dict>
            <key>Kisame_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,60},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>Kisame_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,88},{94,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,124}}</string>
                <key>sourceSize</key>
                <string>{94,124}</string>
            </dict>
            <key>Kisame_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,174},{92,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,119}}</string>
                <key>sourceSize</key>
                <string>{92,119}</string>
            </dict>
            <key>Kisame_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,174},{95,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,109}}</string>
                <key>sourceSize</key>
                <string>{95,109}</string>
            </dict>
            <key>Kisame_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,268},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{94,102}</string>
            </dict>
            <key>Kisame_Skill04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,258},{44,40}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>Kisame_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,216},{44,40}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{44,40}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>Kisame_Skill04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,174},{44,40}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{44,40}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>Kisame_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{56,54}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{56,54}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>Kisame_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,455},{58,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{58,56}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>Kisame_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,455},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>Kisame_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,414},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,74}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>Kisame_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,573},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,74}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>Kisame_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,174},{101,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,84}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
            <key>Kisame_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,88},{101,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,84}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
            <key>Kisame_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,84}}</string>
                <key>offset</key>
                <string>{81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{278,84}}</string>
                <key>sourceSize</key>
                <string>{440,84}</string>
            </dict>
            <key>Kisame_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{276,84}}</string>
                <key>offset</key>
                <string>{80,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{276,84}}</string>
                <key>sourceSize</key>
                <string>{440,84}</string>
            </dict>
            <key>Kisame_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{276,84}}</string>
                <key>offset</key>
                <string>{79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,0},{276,84}}</string>
                <key>sourceSize</key>
                <string>{440,84}</string>
            </dict>
            <key>Kisame_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{276,84}}</string>
                <key>offset</key>
                <string>{79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,0},{276,84}}</string>
                <key>sourceSize</key>
                <string>{440,84}</string>
            </dict>
            <key>Kisame_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,88},{214,84}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,0},{214,84}}</string>
                <key>sourceSize</key>
                <string>{440,84}</string>
            </dict>
            <key>Kisame_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,487},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>Kisame_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,427},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>Kisame_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,228},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>Kisame_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,364},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>Kisame_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,361},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>Kisame_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,344},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>Kisame_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,333},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>Kisame_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kisame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a33313ae8f0e4cb5c4d762ec3b465df6$</string>
            <key>textureFileName</key>
            <string>Kisame.png</string>
        </dict>
    </dict>
</plist>
