<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Amaterasu_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,277},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>Amaterasu_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,235},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>Amaterasu_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,193},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>Amaterasu_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,319},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>Amaterasu_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,361},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>Amaterasu_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,380},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>Qilin_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,508},{124,152}}</string>
                <key>offset</key>
                <string>{-45,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{124,152}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,634},{118,148}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{118,148}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{104,144}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,5},{104,144}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{114,124}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,11},{114,124}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{104,114}}</string>
                <key>offset</key>
                <string>{25,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,13},{104,114}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,380},{64,184}}</string>
                <key>offset</key>
                <string>{40,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,26},{64,184}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{64,182}}</string>
                <key>offset</key>
                <string>{38,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,30},{64,182}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,383},{124,170}}</string>
                <key>offset</key>
                <string>{34,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,41},{124,170}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,366},{140,176}}</string>
                <key>offset</key>
                <string>{39,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,36},{140,176}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>Qilin_Move_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,508},{126,164}}</string>
                <key>offset</key>
                <string>{29,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,48},{126,164}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
            <key>SasukeSusano_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,194},{227,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,187}}</string>
                <key>sourceSize</key>
                <string>{227,187}</string>
            </dict>
            <key>SasukeSusano_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,189}}</string>
                <key>sourceSize</key>
                <string>{274,189}</string>
            </dict>
            <key>SasukeSusano_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{271,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,189}}</string>
                <key>sourceSize</key>
                <string>{271,189}</string>
            </dict>
            <key>SasukeSusano_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{246,190}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{246,190}}</string>
                <key>sourceSize</key>
                <string>{268,190}</string>
            </dict>
            <key>SasukeSusano_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{246,190}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{246,190}}</string>
                <key>sourceSize</key>
                <string>{260,190}</string>
            </dict>
            <key>SasukeSusano_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,193},{234,185}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{234,185}}</string>
                <key>sourceSize</key>
                <string>{286,189}</string>
            </dict>
            <key>SasukeSusano_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,185},{204,179}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{204,179}}</string>
                <key>sourceSize</key>
                <string>{224,189}</string>
            </dict>
            <key>SasukeSusano_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{205,181}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{205,181}}</string>
                <key>sourceSize</key>
                <string>{225,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sasuke_Skill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6008a1dad27a8c1eb4b475816f5d7771$</string>
            <key>textureFileName</key>
            <string>Sasuke_Skill.png</string>
        </dict>
    </dict>
</plist>
