<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hiruzen_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,932},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>Hiruzen_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,930},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>Hiruzen_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,237},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,69}}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>Hiruzen_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,237},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>Hiruzen_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,564},{41,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,73}}</string>
                <key>sourceSize</key>
                <string>{41,73}</string>
            </dict>
            <key>Hiruzen_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,476},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>Hiruzen_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,678},{50,65}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Hiruzen_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,793},{54,65}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Hiruzen_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,733},{48,63}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,63}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Hiruzen_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,680},{54,65}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>Hiruzen_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,878},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>Hiruzen_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,237},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>Hiruzen_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,487},{77,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,23}}</string>
                <key>sourceSize</key>
                <string>{77,23}</string>
            </dict>
            <key>Hiruzen_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,496},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>Hiruzen_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,783},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>Hiruzen_KnockDown_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,730},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>Hiruzen_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,772},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>Hiruzen_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,512},{82,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>Hiruzen_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,310},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>Hiruzen_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,701},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>Hiruzen_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,237},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>Hiruzen_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,237},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>Hiruzen_NAttack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,702},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>Hiruzen_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,633},{43,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{43,73}</string>
            </dict>
            <key>Hiruzen_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,611},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>Hiruzen_NAttack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,518},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>Hiruzen_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,310},{44,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,78}</string>
            </dict>
            <key>Hiruzen_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,372},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>Hiruzen_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,237},{51,73}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{51,73}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,397},{65,81}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{65,81}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,524},{61,85}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{61,85}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,532},{89,101}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{89,101}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,783},{89,101}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{89,101}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,897},{89,101}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{89,101}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,869},{61,61}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{61,61}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,814},{53,63}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{53,63}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,797},{63,59}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{63,59}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill02_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,932},{61,59}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{61,59}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>Hiruzen_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,397},{59,82}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{59,82}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,829},{63,54}}</string>
                <key>offset</key>
                <string>{-13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{63,54}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,880},{45,46}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{45,46}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,58},{67,112}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,26},{67,112}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,647},{75,134}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,4},{75,134}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,886},{73,134}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,4},{73,134}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,237},{75,134}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,4},{75,134}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,530},{61,90}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{61,90}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>Hiruzen_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,932},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>Hiruzen_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,496},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>Hiruzen_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,622},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>Hiruzen_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,736},{59,64}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,70},{59,64}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,462},{75,54}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,80},{75,54}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,897},{117,56}}</string>
                <key>offset</key>
                <string>{20,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,78},{117,56}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,397},{133,54}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,80},{133,54}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,237},{139,54}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,80},{139,54}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,237},{137,72}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,62},{137,72}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,237},{141,66}}</string>
                <key>offset</key>
                <string>{41,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,68},{141,66}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,237},{171,134}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,0},{171,134}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{167,120}}</string>
                <key>offset</key>
                <string>{58,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,14},{167,120}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,236},{159,66}}</string>
                <key>offset</key>
                <string>{53,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,68},{159,66}}</string>
                <key>sourceSize</key>
                <string>{291,134}</string>
            </dict>
            <key>Hiruzen_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,733},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>Hiruzen_Skill04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,586},{45,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,73}}</string>
                <key>sourceSize</key>
                <string>{45,73}</string>
            </dict>
            <key>Hiruzen_Skill04_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,639},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>Hiruzen_Skill04_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,928},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>Hiruzen_Skill04_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,849},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Hiruzen_Skill04_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,821},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>Hiruzen_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,583},{36,73}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,160},{36,73}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,695},{36,73}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,160},{36,73}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,647},{248,201}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,32},{248,201}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,397},{248,217}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,16},{248,217}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{248,233}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,0},{248,233}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{248,233}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,0},{248,233}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{248,233}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,0},{248,233}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{296,233}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{296,233}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,233}}</string>
                <key>offset</key>
                <string>{78,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{402,233}}</string>
                <key>sourceSize</key>
                <string>{562,233}</string>
            </dict>
            <key>Hiruzen_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,678},{72,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>Hiruzen_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,756},{64,56}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{64,56}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>Hiruzen_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,858},{62,54}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{62,54}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>Hiruzen_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,172},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>Hiruzen_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,520},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>Hiruzen_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,310},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>Hiruzen_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,397},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Hiruzen_Skill11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,312},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>Hiruzen_Skill11_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,237},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>Hiruzen_Skill12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,481},{81,66}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,2},{81,66}}</string>
                <key>sourceSize</key>
                <string>{245,68}</string>
            </dict>
            <key>Hiruzen_Skill12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,897},{109,66}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,2},{109,66}}</string>
                <key>sourceSize</key>
                <string>{245,68}</string>
            </dict>
            <key>Hiruzen_Skill12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{143,66}}</string>
                <key>offset</key>
                <string>{51,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,2},{143,66}}</string>
                <key>sourceSize</key>
                <string>{245,68}</string>
            </dict>
            <key>Hiruzen_Skill12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,397},{69,88}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{69,88}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,783},{95,64}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{95,64}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,310},{79,78}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{79,78}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,397},{65,84}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{65,84}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,596},{61,82}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{61,82}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,310},{79,78}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{79,78}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,397},{97,64}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,52},{97,64}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,635},{73,96}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{73,96}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,897},{85,106}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{85,106}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Skill12_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,237},{71,80}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,36},{71,80}}</string>
                <key>sourceSize</key>
                <string>{153,116}</string>
            </dict>
            <key>Hiruzen_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,733},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>Hiruzen_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,747},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>Hiruzen_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,583},{74,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>Hiruzen_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,641},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>Hiruzen_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,418},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>Hiruzen_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hiruzen.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f939726a13212e7acd140066f23e4d7$</string>
            <key>textureFileName</key>
            <string>Hiruzen.png</string>
        </dict>
    </dict>
</plist>
