<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Itachi_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,478},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Itachi_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,343},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>Itachi_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>Itachi_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,438},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>Itachi_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,515},{38,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,75}}</string>
                <key>sourceSize</key>
                <string>{38,75}</string>
            </dict>
            <key>Itachi_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,541},{42,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,73}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>Itachi_Hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{44,61}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>Itachi_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,248},{32,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,343},{34,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,343},{34,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,343},{34,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,248},{32,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_Idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,386},{34,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_Idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,348},{36,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Itachi_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,335},{75,44}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>Itachi_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,519},{74,38}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Itachi_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,325},{80,26}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{80,26}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>Itachi_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{69,42}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>Itachi_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,535},{41,48}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,74}</string>
            </dict>
            <key>Itachi_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,632},{34,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,74}</string>
            </dict>
            <key>Itachi_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,649},{53,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>Itachi_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,256},{44,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>Itachi_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,367},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>Itachi_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,407},{81,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>Itachi_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,585},{36,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{36,71}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>Itachi_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,466},{37,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{37,67}}</string>
                <key>sourceSize</key>
                <string>{37,73}</string>
            </dict>
            <key>Itachi_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,469},{75,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>Itachi_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,446},{75,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>Itachi_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,578},{65,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>Itachi_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,560},{34,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,73}}</string>
                <key>sourceSize</key>
                <string>{34,73}</string>
            </dict>
            <key>Itachi_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,429},{35,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{35,69}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>Itachi_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,668},{43,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>Itachi_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,659},{43,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>Itachi_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,464},{60,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>Itachi_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,650},{61,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>Itachi_NAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,407},{61,57}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>Itachi_NAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,478},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>Itachi_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,417},{34,78}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,20},{34,78}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,437},{30,78}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,20},{30,78}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,422},{40,78}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,20},{40,78}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,379},{36,78}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,20},{36,78}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,162},{176,80}}</string>
                <key>offset</key>
                <string>{62,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{176,80}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,88},{176,84}}</string>
                <key>offset</key>
                <string>{62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,14},{176,84}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,174},{172,80}}</string>
                <key>offset</key>
                <string>{60,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{172,80}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{176,84}}</string>
                <key>offset</key>
                <string>{62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,14},{176,84}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{168,84}}</string>
                <key>offset</key>
                <string>{58,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,14},{168,84}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,88},{176,84}}</string>
                <key>offset</key>
                <string>{62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,14},{176,84}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,174},{172,80}}</string>
                <key>offset</key>
                <string>{60,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{172,80}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{176,84}}</string>
                <key>offset</key>
                <string>{62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,14},{176,84}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{168,84}}</string>
                <key>offset</key>
                <string>{58,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,14},{168,84}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,453},{38,76}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,22},{38,76}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>Itachi_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,244},{28,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,79}}</string>
                <key>sourceSize</key>
                <string>{28,79}</string>
            </dict>
            <key>Itachi_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,379},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>Itachi_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,493},{66,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>Itachi_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,454},{67,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>Itachi_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,330},{75,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>Itachi_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,559},{73,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>Itachi_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,546},{59,69}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>Itachi_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,400},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>Itachi_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,412},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>Itachi_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,166},{33,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,80}}</string>
                <key>sourceSize</key>
                <string>{33,80}</string>
            </dict>
            <key>Itachi_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,438},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>Itachi_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,343},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>Itachi_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,623},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>Itachi_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,624},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>Itachi_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,614},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>Itachi_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Itachi_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,348},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>Itachi_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{209,162}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,162}}</string>
                <key>sourceSize</key>
                <string>{217,162}</string>
            </dict>
            <key>Itachi_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,162}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{219,162}}</string>
                <key>sourceSize</key>
                <string>{233,162}</string>
            </dict>
            <key>Itachi_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{215,162}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{215,162}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>Itachi_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{178,158}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{178,158}}</string>
                <key>sourceSize</key>
                <string>{206,162}</string>
            </dict>
            <key>Itachi_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,257},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,347},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,257},{146,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,84}}</string>
                <key>sourceSize</key>
                <string>{146,84}</string>
            </dict>
            <key>Itachi_Skill11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,256},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,244},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,257},{146,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,84}}</string>
                <key>sourceSize</key>
                <string>{146,84}</string>
            </dict>
            <key>Itachi_Skill11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,166},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,166},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{146,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,84}}</string>
                <key>sourceSize</key>
                <string>{146,84}</string>
            </dict>
            <key>Itachi_Skill11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,166},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
            <key>Itachi_Skill12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,471},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>Itachi_Skill12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,484},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>Itachi_Skill12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,394},{79,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,32}</string>
            </dict>
            <key>Itachi_Skill12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,426},{79,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,26}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>Itachi_Skill12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,335},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>Itachi_Skill12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,490},{74,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>Itachi_Skill12_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,335},{58,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>Itachi_Skill12_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,555},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>Itachi_Skill12_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,596},{34,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,71}}</string>
                <key>sourceSize</key>
                <string>{34,73}</string>
            </dict>
            <key>Itachi_Skill12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,174},{80,18}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,18}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>Itachi_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,468},{58,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>Itachi_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,530},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>Itachi_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,505},{61,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>Itachi_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,470},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>Itachi_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,410},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>Itachi_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,590},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Itachi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61694b04d706a5a5512669149b2d43f4$</string>
            <key>textureFileName</key>
            <string>Itachi.png</string>
        </dict>
    </dict>
</plist>
