<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Han_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,661},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>Han_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,787},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>Han_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>Han_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>Han_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>Han_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>Han_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,697},{45,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>Han_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,740},{45,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,70}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>Han_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,594},{47,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,70}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>Han_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,627},{73,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,41}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>Han_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,542},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>Han_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{78,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,24}}</string>
                <key>sourceSize</key>
                <string>{78,24}</string>
            </dict>
            <key>Han_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{44,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{44,68}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>Han_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,666},{46,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>Han_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,653},{56,72}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>Han_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,583},{78,68}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{78,68}}</string>
                <key>sourceSize</key>
                <string>{112,72}</string>
            </dict>
            <key>Han_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{71,54}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{71,54}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,567},{77,58}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{77,58}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,633},{85,62}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{85,62}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,567},{93,92}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{93,92}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{89,96}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{89,96}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,542},{89,96}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{89,96}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,434},{165,106}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{165,106}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{165,106}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{165,106}}</string>
                <key>sourceSize</key>
                <string>{189,114}</string>
            </dict>
            <key>Han_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,218},{168,106}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,0},{168,106}}</string>
                <key>sourceSize</key>
                <string>{546,106}</string>
            </dict>
            <key>Han_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{206,106}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,0},{206,106}}</string>
                <key>sourceSize</key>
                <string>{546,106}</string>
            </dict>
            <key>Han_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,158},{192,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,0},{192,106}}</string>
                <key>sourceSize</key>
                <string>{546,106}</string>
            </dict>
            <key>Han_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,106}}</string>
                <key>offset</key>
                <string>{90,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,0},{366,106}}</string>
                <key>sourceSize</key>
                <string>{546,106}</string>
            </dict>
            <key>Han_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,352},{165,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{165,106}</string>
            </dict>
            <key>Han_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,460},{165,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,105}}</string>
                <key>sourceSize</key>
                <string>{165,105}</string>
            </dict>
            <key>Han_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,326},{165,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{165,106}</string>
            </dict>
            <key>Han_Skill10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{165,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{165,106}</string>
            </dict>
            <key>Han_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{154,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,113}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>Han_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,110},{158,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,106}}</string>
                <key>sourceSize</key>
                <string>{158,106}</string>
            </dict>
            <key>Han_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{169,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,106}}</string>
                <key>sourceSize</key>
                <string>{169,106}</string>
            </dict>
            <key>Han_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,326},{165,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{165,106}</string>
            </dict>
            <key>Han_Skill12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{148,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,50}}</string>
                <key>sourceSize</key>
                <string>{148,50}</string>
            </dict>
            <key>Han_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,661},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>Han_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,711},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>Han_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,722},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>Han_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,670},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>Han_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,744},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>Han_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Han.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e1b879544da76f65653c678d9830a1$</string>
            <key>textureFileName</key>
            <string>Han.png</string>
        </dict>
    </dict>
</plist>
