<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sanshouuo_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>Sanshouuo_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,227},{113,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,42}}</string>
                <key>sourceSize</key>
                <string>{113,42}</string>
            </dict>
            <key>Sanshouuo_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,178},{131,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,42}}</string>
                <key>sourceSize</key>
                <string>{131,42}</string>
            </dict>
            <key>Sanshouuo_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{150,40}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>Sanshouuo_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{176,39}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{176,39}}</string>
                <key>sourceSize</key>
                <string>{230,39}</string>
            </dict>
            <key>Sanshouuo_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{174,46}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{174,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>Sanshouuo_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{174,46}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{174,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>Sanshouuo_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{174,46}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{174,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>Sanshouuo_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,44}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{178,44}}</string>
                <key>sourceSize</key>
                <string>{230,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sanshouuo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0055656c12bcc009c9f667e14c5cb916$</string>
            <key>textureFileName</key>
            <string>Sanshouuo.png</string>
        </dict>
    </dict>
</plist>
