<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tendo_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,696},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1200},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1296},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1400},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1600},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1800},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1800},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1800},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,0},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,200},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,200},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,400},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,400},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,600},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,600},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,800},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,800},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,896},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1000},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1000},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1096},{560,200}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,200}}</string>
                <key>sourceSize</key>
                <string>{560,200}</string>
            </dict>
            <key>Tendo_Skill04_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,0},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,232},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,464},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,928},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1392},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1624},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
            <key>Tendo_Skill04_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1296},{305,232}}</string>
                <key>offset</key>
                <string>{38.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,232}}</string>
                <key>sourceSize</key>
                <string>{305,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DevaPath.png</string>
            <key>size</key>
            <string>{1985,2000}</string>
            <key>textureFileName</key>
            <string>DevaPath.png</string>
        </dict>
    </dict>
</plist>
