<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ino_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,506},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>Ino_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,565},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>Ino_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,889},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>Ino_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>Ino_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,619},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>Ino_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,789},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>Ino_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,750},{37,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,74}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>Ino_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,723},{37,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,74}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>Ino_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,702},{37,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,74}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>Ino_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,684},{37,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,74}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>Ino_Idle_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,380},{37,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,74}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>Ino_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>Ino_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>Ino_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,789},{67,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,36}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>Ino_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>Ino_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,961},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>Ino_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,734},{34,73}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{34,73}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,484},{64,67}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{64,67}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,521},{58,63}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{58,63}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,891},{42,63}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{42,63}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,684},{48,73}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,73}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,741},{46,67}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{46,67}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{56,79}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{56,79}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,469},{34,87}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{34,87}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,761},{42,71}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{42,71}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,770},{44,67}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{44,67}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{58,83}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{58,83}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,387},{64,89}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{64,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,453},{76,81}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{76,81}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_NAttack_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{60,75}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{60,75}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>Ino_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,456},{52,63}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{52,63}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,673},{48,71}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,13},{48,71}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,433},{38,71}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{38,71}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,820},{40,67}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{40,67}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,816},{54,63}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{54,63}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,283},{100,23}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{100,23}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{100,23}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{100,23}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,308},{98,23}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{98,23}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{100,23}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{100,23}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,935},{62,47}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,15},{62,47}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,444},{30,85}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{30,85}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{64,53}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{64,53}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,872},{44,55}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{44,55}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>Ino_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,631},{40,72}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{40,72}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>Ino_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,531},{34,80}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>Ino_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,567},{40,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{40,76}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>Ino_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,599},{68,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{68,76}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>Ino_Skill02_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,297},{24,76}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{24,76}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>Ino_Skill02_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,827},{60,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{60,64}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>Ino_Skill02_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,792},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>Ino_Skill02_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,754},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>Ino_Skill02_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,940},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Ino_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,538},{46,78}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{46,78}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Ino_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,431},{36,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Ino_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,385},{44,88}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{44,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Ino_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{62,86}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Ino_Skill03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,380},{62,86}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Ino_Skill03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,333},{50,88}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{50,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Ino_Skill03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,667},{34,75}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{34,75}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,679},{50,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{50,73}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,505},{54,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,561},{36,77}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,762},{28,71}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{28,71}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,331},{28,73}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,73}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,723},{36,73}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{36,73}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>Ino_Skill03_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,856},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>Ino_Skill03_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,624},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>Ino_Skill03_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>Ino_Skill03_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,608},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>Ino_Skill03_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,476},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,60}}</string>
                <key>sourceSize</key>
                <string>{81,60}</string>
            </dict>
            <key>Ino_Skill03_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,609},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>Ino_Skill03_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,331},{54,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>Ino_Skill03_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,935},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>Ino_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{39,100}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{39,100}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,297},{81,102}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{81,102}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,85},{97,106}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{97,106}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,184},{97,104}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{97,104}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{81,110}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,110}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,228},{101,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{101,122}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,105},{121,126}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{121,126}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,208},{87,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{87,126}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{89,126}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{89,126}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,357},{38,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,74}}</string>
                <key>sourceSize</key>
                <string>{38,74}</string>
            </dict>
            <key>Ino_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{89,124}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{89,124}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,113},{93,126}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{93,126}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{109,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{109,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{101,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{101,128}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Ino_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,283},{25,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,72}}</string>
                <key>sourceSize</key>
                <string>{25,72}</string>
            </dict>
            <key>Ino_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,834},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>Ino_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,586},{31,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,669},{31,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,375},{23,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{23,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,406},{31,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{43,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{43,74}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,703},{45,74}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{45,74}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,586},{43,68}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{43,68}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,902},{37,46}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{37,46}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Ino_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,840},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>Ino_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>Ino_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,862},{48,53}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>Ino_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,805},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>Ino_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,553},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>Ino_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,950},{48,53}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ino.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ba64d1afa8ac029e4e215e7f18a5fcc$</string>
            <key>textureFileName</key>
            <string>Ino.png</string>
        </dict>
    </dict>
</plist>
