<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kiba_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,381},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>Kiba_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,330},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>Kiba_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,124},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>Kiba_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,452},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>Kiba_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,421},{53,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,65}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>Kiba_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,374},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>Kiba_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,549},{92,78}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,78}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>Kiba_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,458},{92,78}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,78}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>Kiba_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,273},{86,76}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{86,76}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>Kiba_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,419},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>Kiba_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,349},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>Kiba_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,437},{75,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,28}}</string>
                <key>sourceSize</key>
                <string>{75,28}</string>
            </dict>
            <key>Kiba_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,299},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>Kiba_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,72},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>Kiba_KnockDown_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,479},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>Kiba_NAttack2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,378},{92,78}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,78}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>Kiba_NAttack2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,357},{92,78}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,78}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>Kiba_NAttack2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,362},{92,78}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,78}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>Kiba_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,374},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>Kiba_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,424},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>Kiba_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,136},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>Kiba_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,303},{59,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,75}</string>
            </dict>
            <key>Kiba_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,361},{45,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{45,75}</string>
            </dict>
            <key>Kiba_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,218},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>Kiba_NAttack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,189},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Kiba_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,475},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>Kiba_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>Kiba_NAttack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,388},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>Kiba_NAttack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,415},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>Kiba_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,348},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Kiba_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,366},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>Kiba_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,510},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>Kiba_Run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,397},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Kiba_Run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,311},{66,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{66,53}</string>
            </dict>
            <key>Kiba_Run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,471},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>Kiba_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,190},{137,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,55}}</string>
                <key>sourceSize</key>
                <string>{137,55}</string>
            </dict>
            <key>Kiba_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,254},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>Kiba_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,476},{65,51}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{65,51}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Kiba_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{67,45}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{67,45}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Kiba_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,446},{83,47}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,47}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Kiba_Skill04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,403},{63,47}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{63,47}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Kiba_Skill04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,432},{67,49}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{67,49}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Kiba_Skill04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,357},{67,39}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{67,39}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>Kiba_Skill04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,213},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>Kiba_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>Kiba_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,467},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Kiba_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,248},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>Kiba_Skill04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,191},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>Kiba_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Kiba_Skill04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,479},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>Kiba_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,110},{144,142}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{144,142}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{204,138}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{204,138}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,126}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{234,126}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{230,120}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{230,120}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{150,122}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{150,122}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,247},{108,134}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,29},{108,134}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{106,146}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,14},{106,146}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,236},{136,92}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{136,92}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,96},{146,92}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,72},{146,92}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{158,92}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,72},{158,92}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{150,92}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{150,92}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,124},{170,92}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{170,92}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill05_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,142},{138,92}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,72},{138,92}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>Kiba_Skill06_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,536},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>Kiba_Skill06_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,426},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>Kiba_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,195},{64,51}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,51}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>Kiba_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,142},{64,51}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{64,51}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>Kiba_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,364},{64,49}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{64,49}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>Kiba_Skill10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,142},{64,51}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{64,51}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>Kiba_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>Kiba_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,239},{62,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Kiba_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,320},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>Kiba_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,130},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>Kiba_Skill11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,256},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>Kiba_Skill11_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,330},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>Kiba_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,269},{91,75}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{91,75}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>Kiba_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,218},{91,81}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,81}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>Kiba_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,301},{91,71}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{91,71}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>Kiba_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,456},{91,81}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{91,81}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>Kiba_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,299},{93,77}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,77}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>Kiba_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,301},{91,71}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{91,71}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kiba.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47a1d3df10081f49587f0c801cba0505$</string>
            <key>textureFileName</key>
            <string>Kiba.png</string>
        </dict>
    </dict>
</plist>
