<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Logo.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{773,841}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{773,841}}</string>
        <key>sourceSize</key>
        <string>{773,841}</string>
      </dict>
      <key>Kiba_Skill_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,0},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,289},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,578},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,841},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1130},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,867},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,0},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,289},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,578},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,867},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1419},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,1156},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1156},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1708},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,1445},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1445},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1947,0},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1947,289},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1947,578},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,867},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,1156},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,1445},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1997},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,1734},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1734},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{1761,1734},{587,289}}</string>
        <key>offset</key>
        <string>{-83,-84}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{587,289}}</string>
        <key>sourceSize</key>
        <string>{587,289}</string>
      </dict>
      <key>Kiba_Skill04_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2286},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,2286},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,2023},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,2023},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{2534,0},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{2534,477},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{2348,954},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2348,1431},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2348,1908},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2763},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,2763},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,2500},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,2500},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{2060,2385},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{3049,0},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{3049,477},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{2863,954},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{2863,1431},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{2863,1908},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{2575,2385},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3240},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,3240},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,2977},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,2977},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{2060,2862},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{2575,2862},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{3564,0},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{3564,477},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{3378,954},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{3378,1431},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{3378,1908},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{3090,2385},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill04_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{3090,2862},{515,477}}</string>
        <key>offset</key>
        <string>{204,-115}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{515,477}}</string>
        <key>sourceSize</key>
        <string>{515,477}</string>
      </dict>
      <key>Kiba_Skill03_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1030,3454},{461,259}}</string>
        <key>offset</key>
        <string>{149,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,259}}</string>
        <key>sourceSize</key>
        <string>{461,259}</string>
      </dict>
      <key>Kiba_Skill03_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1491,3454},{461,259}}</string>
        <key>offset</key>
        <string>{149,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,259}}</string>
        <key>sourceSize</key>
        <string>{461,259}</string>
      </dict>
      <key>Kiba_Skill03_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1952,3454},{461,259}}</string>
        <key>offset</key>
        <string>{149,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,259}}</string>
        <key>sourceSize</key>
        <string>{461,259}</string>
      </dict>
      <key>Kiba_Skill03_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3605,2385},{461,259}}</string>
        <key>offset</key>
        <string>{149,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,259}}</string>
        <key>sourceSize</key>
        <string>{461,259}</string>
      </dict>
      <key>Kiba_Skill03_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3605,2644},{461,259}}</string>
        <key>offset</key>
        <string>{-103,-48}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,259}}</string>
        <key>sourceSize</key>
        <string>{461,259}</string>
      </dict>
      <key>Kiba_Skill03_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3605,2903},{461,259}}</string>
        <key>offset</key>
        <string>{-103,-48}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{461,259}}</string>
        <key>sourceSize</key>
        <string>{461,259}</string>
      </dict>
      <key>Kiba_NAttack_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,2023},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3605,3162},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2413,3368},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2718,3368},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3023,3368},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3328,3368},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3633,3368},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3717},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,3717},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,3717},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_NAttack_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,3717},{305,206}}</string>
        <key>offset</key>
        <string>{6.5,-66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,206}}</string>
        <key>sourceSize</key>
        <string>{305,206}</string>
      </dict>
      <key>Kiba_Nttack_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,3713},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1446,3713},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,3713},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1898,3713},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2124,3713},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2350,3713},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2060,2023},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Nttack_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{2060,2201},{226,178}}</string>
        <key>offset</key>
        <string>{-1.5,-57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,178}}</string>
        <key>sourceSize</key>
        <string>{226,178}</string>
      </dict>
      <key>Kiba_Walk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,2023},{112,89}}</string>
        <key>offset</key>
        <string>{-11.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>Kiba_Walk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2060,3339},{112,89}}</string>
        <key>offset</key>
        <string>{-11.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>Kiba_Walk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,2112},{112,89}}</string>
        <key>offset</key>
        <string>{-11.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>Kiba_Walk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2172,3339},{112,89}}</string>
        <key>offset</key>
        <string>{-11.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>Kiba_Walk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{2284,3339},{112,89}}</string>
        <key>offset</key>
        <string>{-11.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>Kiba_Walk_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2284,3339},{112,89}}</string>
        <key>offset</key>
        <string>{-11.5,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>Kiba_Idle_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,2201},{91,78}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,78}}</string>
        <key>sourceSize</key>
        <string>{91,78}</string>
      </dict>
      <key>Kiba_Idle_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2348,867},{91,78}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,78}}</string>
        <key>sourceSize</key>
        <string>{91,78}</string>
      </dict>
      <key>Kiba_Idle_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2439,867},{91,78}}</string>
        <key>offset</key>
        <string>{-11,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,78}}</string>
        <key>sourceSize</key>
        <string>{91,78}</string>
      </dict>
      <key>Kiba_KnockDown_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{3938,3162},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_KnockDown_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{3910,3237},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_KnockDown_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3988,3237},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_KnockDown_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3938,3312},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_KnockDown_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3938,3387},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_KnockDown_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{3938,3462},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_KnockDown_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{3938,3537},{78,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,75}}</string>
        <key>sourceSize</key>
        <string>{78,75}</string>
      </dict>
      <key>Kiba_Float_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2413,3612},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>Kiba_Float_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{2478,3612},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>Kiba_Float_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2543,3612},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>Kiba_Run_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,2229},{67,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>Kiba_Run_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,2229},{67,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>Kiba_Run_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,2229},{67,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>Kiba_Run_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,2229},{67,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>Kiba_Run_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3893,954},{67,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>Kiba_Run_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3960,954},{67,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>Kiba_Idle02_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4027,954},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>Kiba_Idle02_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4016,3162},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>Kiba_Idle02_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,2023},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>Kiba_Idle02_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,2089},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>Kiba_Hurt_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,2155},{53,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,65}}</string>
        <key>sourceSize</key>
        <string>{53,65}</string>
      </dict>
      <key>Kiba_Hurt_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,2220},{53,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,65}}</string>
        <key>sourceSize</key>
        <string>{53,65}</string>
      </dict>
      <key>Kiba_Skill04_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,2285},{59,39}}</string>
        <key>offset</key>
        <string>{1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,39}}</string>
        <key>sourceSize</key>
        <string>{59,39}</string>
      </dict>
      <key>Kiba_Skill04_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,2324},{59,39}}</string>
        <key>offset</key>
        <string>{1,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,39}}</string>
        <key>sourceSize</key>
        <string>{59,39}</string>
      </dict>
      <key>Kiba_AirHurt_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{4016,3312},{50,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,49}}</string>
        <key>sourceSize</key>
        <string>{50,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Kiba War [Darmianto].png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>Kiba War [Darmianto].png</string>
    </dict>
  </dict>
</plist>
