<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{576,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,256}}</string>
                <key>sourceSize</key>
                <string>{576,256}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,197},{94,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,227}}</string>
                <key>sourceSize</key>
                <string>{94,227}</string>
            </dict>
            <key>zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,291},{165,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,224}}</string>
                <key>sourceSize</key>
                <string>{165,224}</string>
            </dict>
            <key>zhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{240,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,197}}</string>
                <key>sourceSize</key>
                <string>{240,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6acbda5b5770244cf2ee9aa445cbce55$</string>
            <key>textureFileName</key>
            <string>tile2.png</string>
        </dict>
    </dict>
</plist>
