<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{576,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,192}}</string>
                <key>sourceSize</key>
                <string>{576,192}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{576,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,256}}</string>
                <key>sourceSize</key>
                <string>{576,256}</string>
            </dict>
            <key>rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{197,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,123}}</string>
                <key>sourceSize</key>
                <string>{197,123}</string>
            </dict>
            <key>rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,0},{126,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,109}}</string>
                <key>sourceSize</key>
                <string>{126,109}</string>
            </dict>
            <key>rock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,0},{134,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,99}}</string>
                <key>sourceSize</key>
                <string>{134,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile3.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f58ec7ff7ff3f55d580e5250f1b6d702$</string>
            <key>textureFileName</key>
            <string>tile3.png</string>
        </dict>
    </dict>
</plist>
