<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jugo_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,74},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>Jugo_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,973},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Jugo_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,138},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Jugo_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,753},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>Jugo_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,578},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>Jugo_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,202},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>Jugo_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,83},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>Jugo_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,335},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>Jugo_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,399},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>Jugo_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,260},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>Jugo_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,399},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>Jugo_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,306},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>Jugo_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,638},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>Jugo_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,345},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>Jugo_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,759},{73,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,52}}</string>
                <key>sourceSize</key>
                <string>{73,52}</string>
            </dict>
            <key>Jugo_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,833},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>Jugo_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,890},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Jugo_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,332},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>Jugo_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,893},{63,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,77}}</string>
                <key>sourceSize</key>
                <string>{63,77}</string>
            </dict>
            <key>Jugo_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>Jugo_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,895},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>Jugo_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,832},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Jugo_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,183},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>Jugo_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,672},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>Jugo_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,231},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>Jugo_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{107,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{107,71}</string>
            </dict>
            <key>Jugo_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,832},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>Jugo_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,332},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>Jugo_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,834},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>Jugo_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,488},{148,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,71}}</string>
                <key>sourceSize</key>
                <string>{148,71}</string>
            </dict>
            <key>Jugo_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,94},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,68}</string>
            </dict>
            <key>Jugo_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,499},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>Jugo_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,110},{104,79}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{104,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>Jugo_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,896},{118,79}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{118,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>Jugo_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{128,79}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{128,79}}</string>
                <key>sourceSize</key>
                <string>{200,79}</string>
            </dict>
            <key>Jugo_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,332},{65,64}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{65,64}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Jugo_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,509},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Jugo_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,896},{114,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,69}}</string>
                <key>sourceSize</key>
                <string>{114,69}</string>
            </dict>
            <key>Jugo_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,373},{108,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,71}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>Jugo_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,416},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>Jugo_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,483},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{106,63}</string>
            </dict>
            <key>Jugo_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,111},{107,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,63}}</string>
                <key>sourceSize</key>
                <string>{107,63}</string>
            </dict>
            <key>Jugo_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{106,63}</string>
            </dict>
            <key>Jugo_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,773},{59,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,75}}</string>
                <key>sourceSize</key>
                <string>{59,75}</string>
            </dict>
            <key>Jugo_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,132},{97,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,58}}</string>
                <key>sourceSize</key>
                <string>{97,58}</string>
            </dict>
            <key>Jugo_Skill02_07_boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,694},{138,61}}</string>
                <key>offset</key>
                <string>{44.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,61}}</string>
                <key>sourceSize</key>
                <string>{150,61}</string>
            </dict>
            <key>Jugo_Skill02_07_boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,694},{148,61}}</string>
                <key>offset</key>
                <string>{47,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,61}}</string>
                <key>sourceSize</key>
                <string>{150,61}</string>
            </dict>
            <key>Jugo_Skill02_07_boom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,234},{150,70}}</string>
                <key>offset</key>
                <string>{48,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,74}</string>
            </dict>
            <key>Jugo_Skill02_07_boom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,488},{148,73}}</string>
                <key>offset</key>
                <string>{49,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,73}}</string>
                <key>sourceSize</key>
                <string>{150,73}</string>
            </dict>
            <key>Jugo_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,132},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>Jugo_Skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,894},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>Jugo_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,265},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>Jugo_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,676},{58,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,81}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>Jugo_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,896},{86,116}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>Jugo_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,230},{90,110}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,110}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>Jugo_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,150},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>Jugo_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,676},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>Jugo_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,896},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>Jugo_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,342},{55,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,105}}</string>
                <key>sourceSize</key>
                <string>{55,105}</string>
            </dict>
            <key>Jugo_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,271},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>Jugo_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{70,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>Jugo_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,216},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>Jugo_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,967},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>Jugo_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,541},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>Jugo_Skill04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,834},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>Jugo_Skill04_16_boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,896},{148,117}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{148,117}}</string>
                <key>sourceSize</key>
                <string>{164,117}</string>
            </dict>
            <key>Jugo_Skill04_16_boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,396},{149,90}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{149,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>Jugo_Skill04_16_boom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,386},{100,91}}</string>
                <key>offset</key>
                <string>{13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{148,91}</string>
            </dict>
            <key>Jugo_Skill04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,207},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>Jugo_Skill04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,972},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Jugo_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,638},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>Jugo_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,890},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>Jugo_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>Jugo_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,326},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>Jugo_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,591},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>Jugo_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,220},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{104,84}</string>
            </dict>
            <key>Jugo_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,694},{200,196}}</string>
                <key>offset</key>
                <string>{38,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,4},{200,196}}</string>
                <key>sourceSize</key>
                <string>{314,200}</string>
            </dict>
            <key>Jugo_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{196,200}}</string>
                <key>offset</key>
                <string>{38,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,14},{196,200}}</string>
                <key>sourceSize</key>
                <string>{314,214}</string>
            </dict>
            <key>Jugo_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{200,204}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,12},{200,204}}</string>
                <key>sourceSize</key>
                <string>{314,216}</string>
            </dict>
            <key>Jugo_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,250}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,22},{200,250}}</string>
                <key>sourceSize</key>
                <string>{314,272}</string>
            </dict>
            <key>Jugo_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,230}}</string>
                <key>offset</key>
                <string>{35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,20},{200,230}}</string>
                <key>sourceSize</key>
                <string>{314,250}</string>
            </dict>
            <key>Jugo_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{210,232}}</string>
                <key>offset</key>
                <string>{30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,12},{210,232}}</string>
                <key>sourceSize</key>
                <string>{314,244}</string>
            </dict>
            <key>Jugo_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,171},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>Jugo_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,449},{66,90}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,326},{46,90}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{46,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,652},{36,90}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,652},{34,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{34,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>Jugo_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,834},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>Jugo_Skill11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,844},{50,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,85}}</string>
                <key>sourceSize</key>
                <string>{50,85}</string>
            </dict>
            <key>Jugo_Skill11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,418},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>Jugo_Skill11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,234},{160,130}}</string>
                <key>offset</key>
                <string>{38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,2},{160,130}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>Jugo_Skill11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,488},{162,130}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,2},{162,130}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>Jugo_Skill11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{140,124}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,8},{140,124}}</string>
                <key>sourceSize</key>
                <string>{240,132}</string>
            </dict>
            <key>Jugo_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>Jugo_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,591},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>Jugo_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,591},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>Jugo_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,90},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>Jugo_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,688},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>Jugo_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,759},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jugo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abb93848d4a9794a681b8cb5be6c9571$</string>
            <key>textureFileName</key>
            <string>Jugo.png</string>
        </dict>
    </dict>
</plist>
