<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Karasu_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,174},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>Karasu_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,177},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>Karasu_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,91},{38,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,72}}</string>
                <key>sourceSize</key>
                <string>{38,72}</string>
            </dict>
            <key>Karasu_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{38,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,73}}</string>
                <key>sourceSize</key>
                <string>{38,73}</string>
            </dict>
            <key>Karasu_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,91},{38,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,72}}</string>
                <key>sourceSize</key>
                <string>{38,74}</string>
            </dict>
            <key>Karasu_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,185},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>Karasu_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>Karasu_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,109},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>Karasu_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>Karasu_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{58,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>Karasu_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{58,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>Karasu_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{58,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>Karasu_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,62},{45,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{45,72}</string>
            </dict>
            <key>Karasu_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>Karasu_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,42},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>Karasu_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,73}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>Karasu_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{63,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>Karasu_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,109},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>Karasu_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,223},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>Karasu_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,236},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>Karasu_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>Karasu_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,240},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>Karasu_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,131},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Karasu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d8495bcc3e1ad8bfd124b981213df5a$</string>
            <key>textureFileName</key>
            <string>Karasu.png</string>
        </dict>
    </dict>
</plist>
