<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shino_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,787},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>Shino_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,825},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>Shino_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,714},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>Shino_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,783},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>Shino_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,712},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>Shino_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,736},{45,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>Shino_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,647},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,621},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,617},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,587},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,587},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,617},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_Idle_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,621},{28,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,77}}</string>
                <key>sourceSize</key>
                <string>{28,77}</string>
            </dict>
            <key>Shino_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,129},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>Shino_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,757},{74,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>Shino_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,613},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>Shino_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,673},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>Shino_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,821},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>Shino_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,261},{41,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,469},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{63,76}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{63,76}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,341},{51,76}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{51,76}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{43,72}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{43,72}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{67,72}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{67,72}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,807},{61,72}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{61,72}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Shino_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{37,69}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{37,69}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Shino_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,794},{31,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{31,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Shino_NAttack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,870},{43,69}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{43,69}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Shino_NAttack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,548},{63,57}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Shino_NAttack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,769},{59,57}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{59,57}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Shino_NAttack_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,764},{41,73}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{41,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>Shino_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,585},{34,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,77}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>Shino_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{30,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,73}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>Shino_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,736},{26,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{26,75}}</string>
                <key>sourceSize</key>
                <string>{36,77}</string>
            </dict>
            <key>Shino_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,700},{34,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,76}}</string>
                <key>sourceSize</key>
                <string>{40,76}</string>
            </dict>
            <key>Shino_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{30,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{40,76}</string>
            </dict>
            <key>Shino_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,828},{55,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,54}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>Shino_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,208},{51,42}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{51,42}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>Shino_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,633},{49,38}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{49,38}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>Shino_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,574},{57,50}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,50}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>Shino_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{40,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,77}}</string>
                <key>sourceSize</key>
                <string>{40,77}</string>
            </dict>
            <key>Shino_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,419},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>Shino_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{43,77}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,76},{43,77}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,548},{37,77}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,76},{37,77}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,464},{81,145}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,8},{81,145}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,266},{123,141}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,12},{123,141}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,409},{123,137}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,16},{123,137}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,547},{159,143}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,10},{159,143}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{173,145}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,8},{173,145}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{237,153}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{237,153}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,241},{221,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{221,153}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{309,135}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{309,135}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{353,125}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{353,125}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill05_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,510},{73,77}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,76},{73,77}}</string>
                <key>sourceSize</key>
                <string>{367,153}</string>
            </dict>
            <key>Shino_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{31,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{31,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>Shino_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,651},{47,76}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>Shino_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,677},{35,76}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>Shino_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{54,80}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>Shino_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,708},{54,74}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>Shino_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,494},{50,78}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>Shino_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,413},{54,80}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{54,80}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>Shino_Skill11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{48,82}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{48,82}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>Shino_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,827},{69,55}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Shino_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,708},{71,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Shino_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,951},{55,61}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Shino_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,764},{69,55}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Shino_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,663},{71,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Shino_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{55,61}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shino.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68cf20222330aadae279a7afacb2528c$</string>
            <key>textureFileName</key>
            <string>Shino.png</string>
        </dict>
    </dict>
</plist>
