<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tenten_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>Tenten_Extern_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,368},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
            <key>Tenten_Extern_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,154},{32,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{32,83}</string>
            </dict>
            <key>Tenten_Extern_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,393},{67,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{67,88}</string>
            </dict>
            <key>Tenten_Extern_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,324},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{67,90}</string>
            </dict>
            <key>Tenten_Extern_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>Tenten_Extern_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,368},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
            <key>Tenten_Extern_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,393},{67,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{67,88}</string>
            </dict>
            <key>Tenten_Extern_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,324},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{67,90}</string>
            </dict>
            <key>Tenten_Extern_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>Tenten_Extern_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,234},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>Tenten_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,679},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>Tenten_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>Tenten_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,637},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>Tenten_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,428},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>Tenten_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>Tenten_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,498},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>Tenten_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,462},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>Tenten_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,550},{36,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>Tenten_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,462},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>Tenten_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,553},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>Tenten_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,491},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>Tenten_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,232},{57,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,33}</string>
            </dict>
            <key>Tenten_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,760},{36,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>Tenten_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,629},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>Tenten_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,239},{32,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,68}}</string>
                <key>sourceSize</key>
                <string>{32,68}</string>
            </dict>
            <key>Tenten_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,583},{52,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>Tenten_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{41,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,68}</string>
            </dict>
            <key>Tenten_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,500},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Tenten_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,664},{55,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Tenten_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,636},{60,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>Tenten_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,623},{39,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,66}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>Tenten_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,369},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>Tenten_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,697},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>Tenten_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{44,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>Tenten_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,497},{55,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>Tenten_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,765},{49,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{49,56}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>Tenten_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,721},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>Tenten_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,664},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>Tenten_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,584},{28,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,74}</string>
            </dict>
            <key>Tenten_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,639},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>Tenten_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,707},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>Tenten_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,356},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Tenten_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,505},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>Tenten_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,536},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>Tenten_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,779},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>Tenten_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>Tenten_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,450},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>Tenten_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,218},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>Tenten_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,81},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>Tenten_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,669},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>Tenten_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,743},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>Tenten_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,286},{43,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,68}}</string>
                <key>sourceSize</key>
                <string>{43,70}</string>
            </dict>
            <key>Tenten_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,518},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>Tenten_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,426},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>Tenten_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,436},{67,83}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,99}</string>
            </dict>
            <key>Tenten_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,163},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>Tenten_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,152},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>Tenten_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{79,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,99}}</string>
                <key>sourceSize</key>
                <string>{79,99}</string>
            </dict>
            <key>Tenten_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>Tenten_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,81},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>Tenten_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,163},{34,67}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,77}</string>
            </dict>
            <key>Tenten_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,355},{53,69}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{53,69}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>Tenten_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{132,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,77}</string>
            </dict>
            <key>Tenten_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,75},{129,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,77}}</string>
                <key>sourceSize</key>
                <string>{129,77}</string>
            </dict>
            <key>Tenten_Skill04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,238},{94,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,75}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>Tenten_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,77}}</string>
                <key>sourceSize</key>
                <string>{139,77}</string>
            </dict>
            <key>Tenten_Skill04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,75},{125,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,75}}</string>
                <key>sourceSize</key>
                <string>{125,77}</string>
            </dict>
            <key>Tenten_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{94,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,73}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>Tenten_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{100,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>Tenten_Skill04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{130,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,71}}</string>
                <key>sourceSize</key>
                <string>{130,77}</string>
            </dict>
            <key>Tenten_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,736},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>Tenten_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,567},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>Tenten_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>Tenten_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,315},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>Tenten_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,75},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
            <key>Tenten_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,150},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>Tenten_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,538},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>Tenten_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,584},{37,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,67}}</string>
                <key>sourceSize</key>
                <string>{37,67}</string>
            </dict>
            <key>Tenten_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,720},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>Tenten_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,698},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>Tenten_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,583},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>Tenten_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>Tenten_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,154},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>Tenten_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,245},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>Tenten_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,297},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>Tenten_Skill05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,379},{83,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,69}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>Tenten_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,309},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>Tenten_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,665},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>Tenten_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,485},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>Tenten_Skill10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{58,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,46}}</string>
                <key>sourceSize</key>
                <string>{58,46}</string>
            </dict>
            <key>Tenten_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,614},{66,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Tenten_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,432},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>Tenten_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,735},{50,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Tenten_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,588},{66,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Tenten_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,291},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>Tenten_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,723},{50,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tenten.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b680220c9b852b334af4b712aaecf91f$</string>
            <key>textureFileName</key>
            <string>Tenten.png</string>
        </dict>
    </dict>
</plist>
