<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gaara_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Gaara_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,571},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>Gaara_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>Gaara_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,621},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
            <key>Gaara_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,560},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>Gaara_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,492},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>Gaara_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,439},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,390},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,352},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,401},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,571},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>Gaara_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>Gaara_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,567},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>Gaara_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,288},{35,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{35,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>Gaara_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,277},{73,96}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{73,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>Gaara_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{65,82}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{103,84}</string>
            </dict>
            <key>Gaara_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,158},{43,97}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{43,97}}</string>
                <key>sourceSize</key>
                <string>{163,97}</string>
            </dict>
            <key>Gaara_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,325},{77,86}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>Gaara_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,189},{87,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>Gaara_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{107,82}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{163,82}</string>
            </dict>
            <key>Gaara_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,203},{113,83}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{163,83}</string>
            </dict>
            <key>Gaara_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,78},{109,87}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{109,87}}</string>
                <key>sourceSize</key>
                <string>{163,87}</string>
            </dict>
            <key>Gaara_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,530},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>Gaara_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,86},{106,70}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,222},{134,70}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,78},{148,70}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,150},{140,70}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>Gaara_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,532},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>Gaara_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,359},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>Gaara_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{136,71}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{136,71}}</string>
                <key>sourceSize</key>
                <string>{318,71}</string>
            </dict>
            <key>Gaara_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{156,74}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{156,74}}</string>
                <key>sourceSize</key>
                <string>{318,74}</string>
            </dict>
            <key>Gaara_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{197,74}}</string>
                <key>offset</key>
                <string>{60,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,0},{197,74}}</string>
                <key>sourceSize</key>
                <string>{319,74}</string>
            </dict>
            <key>Gaara_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,74}}</string>
                <key>offset</key>
                <string>{60,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{199,74}}</string>
                <key>sourceSize</key>
                <string>{319,74}</string>
            </dict>
            <key>Gaara_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,572},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>Gaara_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,532},{45,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,70}}</string>
                <key>sourceSize</key>
                <string>{45,70}</string>
            </dict>
            <key>Gaara_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,477},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>Gaara_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{45,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{45,75}</string>
            </dict>
            <key>Gaara_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,404},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
            <key>Gaara_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,579},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>Gaara_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>Gaara_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,612},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>Gaara_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,639},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>Gaara_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,608},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>Gaara_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{39,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,76}}</string>
                <key>sourceSize</key>
                <string>{39,76}</string>
            </dict>
            <key>Gaara_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{41,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,76}}</string>
                <key>sourceSize</key>
                <string>{41,76}</string>
            </dict>
            <key>Gaara_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,352},{47,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{47,76}</string>
            </dict>
            <key>Gaara_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>Gaara_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,294},{56,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>Gaara_Skill06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,288},{38,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,524},{34,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,496},{34,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,494},{36,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,482},{40,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,446},{48,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,364},{48,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,440},{52,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,428},{52,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Skill06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,227},{52,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Gaara_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,500},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>Gaara_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,420},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>Gaara_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,294},{52,54}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>Gaara_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,348},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>Gaara_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,428},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>Gaara_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,303},{54,54}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gaara.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6704a8fa351c7bce04090a84b7efa05c$</string>
            <key>textureFileName</key>
            <string>Gaara.png</string>
        </dict>
    </dict>
</plist>
