<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Six_Path_Of_Pain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,207}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,207}}</string>
                <key>sourceSize</key>
                <string>{298,207}</string>
            </dict>
            <key>Six_Path_Of_Pain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{398,257}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,257}}</string>
                <key>sourceSize</key>
                <string>{398,257}</string>
            </dict>
            <key>Six_Path_Of_Pain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{498,307}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,307}}</string>
                <key>sourceSize</key>
                <string>{498,307}</string>
            </dict>
            <key>Six_Path_Of_Pain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,0},{192,241}}</string>
                <key>offset</key>
                <string>{82,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,241}}</string>
                <key>sourceSize</key>
                <string>{192,241}</string>
            </dict>
            <key>Six_Path_Of_Pain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,0},{400,201}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,201}}</string>
                <key>sourceSize</key>
                <string>{400,201}</string>
            </dict>
            <key>Six_Path_Of_Pain_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{346,320}}</string>
                <key>offset</key>
                <string>{-29,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,320}}</string>
                <key>sourceSize</key>
                <string>{346,320}</string>
            </dict>
            <key>Six_Path_Of_Pain_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,292},{266,423}}</string>
                <key>offset</key>
                <string>{-19,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,423}}</string>
                <key>sourceSize</key>
                <string>{266,423}</string>
            </dict>
            <key>Six_Path_Of_Pain_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,342},{225,400}}</string>
                <key>offset</key>
                <string>{-28.5,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,400}}</string>
                <key>sourceSize</key>
                <string>{225,400}</string>
            </dict>
            <key>Six_Path_Of_Pain_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,348},{165,310}}</string>
                <key>offset</key>
                <string>{-28.5,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,310}}</string>
                <key>sourceSize</key>
                <string>{165,310}</string>
            </dict>
            <key>Six_Path_Of_Pain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,367},{180,222}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,222}}</string>
                <key>sourceSize</key>
                <string>{180,222}</string>
            </dict>
            <key>Six_Path_Of_Pain_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,274},{257,228}}</string>
                <key>offset</key>
                <string>{17.5,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,228}}</string>
                <key>sourceSize</key>
                <string>{257,228}</string>
            </dict>
            <key>Six_Path_Of_Pain_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,306},{301,207}}</string>
                <key>offset</key>
                <string>{45.5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,207}}</string>
                <key>sourceSize</key>
                <string>{301,207}</string>
            </dict>
            <key>Six_Path_Of_Pain_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{213,367}}</string>
                <key>offset</key>
                <string>{-28.5,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,367}}</string>
                <key>sourceSize</key>
                <string>{213,367}</string>
            </dict>
            <key>Six_Path_Of_Pain_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,746},{210,320}}</string>
                <key>offset</key>
                <string>{91,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,320}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>Six_Path_Of_Pain_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,768},{286,273}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,273}}</string>
                <key>sourceSize</key>
                <string>{286,273}</string>
            </dict>
            <key>Six_Path_Of_Pain_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,726},{259,200}}</string>
                <key>offset</key>
                <string>{19.5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,200}}</string>
                <key>sourceSize</key>
                <string>{259,200}</string>
            </dict>
            <key>Six_Path_Of_Pain_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,727},{217,249}}</string>
                <key>offset</key>
                <string>{29,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,249}}</string>
                <key>sourceSize</key>
                <string>{217,249}</string>
            </dict>
            <key>Six_Path_Of_Pain_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,537},{213,251}}</string>
                <key>offset</key>
                <string>{1.5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,251}}</string>
                <key>sourceSize</key>
                <string>{213,251}</string>
            </dict>
            <key>Six_Path_Of_Pain_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,560},{233,276}}</string>
                <key>offset</key>
                <string>{-38.5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,276}}</string>
                <key>sourceSize</key>
                <string>{233,276}</string>
            </dict>
            <key>Six_Path_Of_Pain_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1152},{294,174}}</string>
                <key>offset</key>
                <string>{-57.5,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,174}}</string>
                <key>sourceSize</key>
                <string>{294,174}</string>
            </dict>
            <key>Six_Path_Of_Pain_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1112},{199,254}}</string>
                <key>offset</key>
                <string>{19.5,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,254}}</string>
                <key>sourceSize</key>
                <string>{199,254}</string>
            </dict>
            <key>Six_Path_Of_Pain_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1072},{145,299}}</string>
                <key>offset</key>
                <string>{-37.5,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,299}}</string>
                <key>sourceSize</key>
                <string>{145,299}</string>
            </dict>
            <key>Six_Path_Of_Pain_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1032},{146,220}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,220}}</string>
                <key>sourceSize</key>
                <string>{146,220}</string>
            </dict>
            <key>Six_Path_Of_Pain_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1169},{49,83}}</string>
                <key>offset</key>
                <string>{10.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,83}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AsuraPath.png</string>
            <key>size</key>
            <string>{2000,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3d33bfd5761a85936b473c1e2b20804$</string>
            <key>textureFileName</key>
            <string>AsuraPath.png</string>
        </dict>
    </dict>
</plist>
