<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AsuraPath_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,138},{32,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,81}}</string>
                <key>sourceSize</key>
                <string>{32,81}</string>
            </dict>
            <key>AsuraPath_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{35,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,81}}</string>
                <key>sourceSize</key>
                <string>{35,81}</string>
            </dict>
            <key>AsuraPath_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{34,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,79}}</string>
                <key>sourceSize</key>
                <string>{34,79}</string>
            </dict>
            <key>AsuraPath_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{75,84}</string>
            </dict>
            <key>AsuraPath_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>AsuraPath_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,123},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>AsuraPath_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>AsuraPath_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,73},{63,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,83}}</string>
                <key>sourceSize</key>
                <string>{63,83}</string>
            </dict>
            <key>AsuraPath_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,38},{70,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>AsuraPath_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>AsuraPath_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,161},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>AsuraPath_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,225},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>AsuraPath_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,172},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>AsuraPath_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>AsuraPath_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,225},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AsuraPath.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c607ea28f18f9ce5c1aa355121fdb996$</string>
            <key>textureFileName</key>
            <string>AsuraPath.png</string>
        </dict>
    </dict>
</plist>
