<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Karin_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,677},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>Karin_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,641},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>Karin_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>Karin_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,616},{49,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,61}}</string>
                <key>sourceSize</key>
                <string>{49,61}</string>
            </dict>
            <key>Karin_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>Karin_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,579},{35,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,67}}</string>
                <key>sourceSize</key>
                <string>{35,67}</string>
            </dict>
            <key>Karin_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,459},{28,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,72}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Karin_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{28,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{28,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Karin_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,314},{28,74}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{28,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Karin_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{30,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{30,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>Karin_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>Karin_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,302},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>Karin_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,472},{71,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,31}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>Karin_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,602},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>Karin_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,616},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>Karin_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,58},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{24,72}</string>
            </dict>
            <key>Karin_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,462},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Karin_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,465},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>Karin_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{39,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,71}}</string>
                <key>sourceSize</key>
                <string>{39,71}</string>
            </dict>
            <key>Karin_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,510},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>Karin_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,665},{37,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,62}}</string>
                <key>sourceSize</key>
                <string>{37,62}</string>
            </dict>
            <key>Karin_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,412},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,72}</string>
            </dict>
            <key>Karin_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,376},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>Karin_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,576},{37,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,69}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
            <key>Karin_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,456},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>Karin_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,263},{49,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,84}}</string>
                <key>sourceSize</key>
                <string>{49,84}</string>
            </dict>
            <key>Karin_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,138},{48,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,86}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>Karin_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,314},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>Karin_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{33,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,73}}</string>
                <key>sourceSize</key>
                <string>{33,73}</string>
            </dict>
            <key>Karin_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,646},{51,64}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>Karin_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,111},{68,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>Karin_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,275},{77,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,66}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>Karin_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{83,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>Karin_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,195},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>Karin_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,183},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,78}</string>
            </dict>
            <key>Karin_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,394},{27,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,72}}</string>
                <key>sourceSize</key>
                <string>{27,72}</string>
            </dict>
            <key>Karin_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,319},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>Karin_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,132},{26,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,72}}</string>
                <key>sourceSize</key>
                <string>{26,72}</string>
            </dict>
            <key>Karin_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,249},{60,71}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,4},{60,71}}</string>
                <key>sourceSize</key>
                <string>{188,75}</string>
            </dict>
            <key>Karin_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,298},{74,72}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,6},{74,72}}</string>
                <key>sourceSize</key>
                <string>{188,78}</string>
            </dict>
            <key>Karin_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,120},{92,73}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{92,73}}</string>
                <key>sourceSize</key>
                <string>{188,81}</string>
            </dict>
            <key>Karin_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,64},{108,71}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{108,71}}</string>
                <key>sourceSize</key>
                <string>{188,71}</string>
            </dict>
            <key>Karin_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,137},{106,71}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{188,71}</string>
            </dict>
            <key>Karin_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,64},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>Karin_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,226},{73,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>Karin_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,508},{69,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>Karin_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,505},{69,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>Karin_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,593},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>Karin_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,538},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>Karin_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,322},{58,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>Karin_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,421},{39,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{39,72}</string>
            </dict>
            <key>Karin_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,407},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>Karin_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,175},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>Karin_Skill03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,210},{49,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,81}}</string>
                <key>sourceSize</key>
                <string>{49,81}</string>
            </dict>
            <key>Karin_Skill03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,261},{39,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,81}}</string>
                <key>sourceSize</key>
                <string>{39,81}</string>
            </dict>
            <key>Karin_Skill03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,418},{39,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,73}}</string>
                <key>sourceSize</key>
                <string>{39,81}</string>
            </dict>
            <key>Karin_Skill03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,326},{48,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,73}}</string>
                <key>sourceSize</key>
                <string>{48,81}</string>
            </dict>
            <key>Karin_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,244},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>Karin_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,387},{23,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,73}}</string>
                <key>sourceSize</key>
                <string>{23,73}</string>
            </dict>
            <key>Karin_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{31,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,73}}</string>
                <key>sourceSize</key>
                <string>{31,73}</string>
            </dict>
            <key>Karin_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,390},{32,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,73}}</string>
                <key>sourceSize</key>
                <string>{32,73}</string>
            </dict>
            <key>Karin_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{40,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>Karin_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,365},{40,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>Karin_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,343},{42,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>Karin_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{36,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>Karin_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,549},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{42,67}</string>
            </dict>
            <key>Karin_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,54}}</string>
                <key>offset</key>
                <string>{51,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,4},{164,54}}</string>
                <key>sourceSize</key>
                <string>{266,58}</string>
            </dict>
            <key>Karin_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{138,55}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{138,55}}</string>
                <key>sourceSize</key>
                <string>{266,55}</string>
            </dict>
            <key>Karin_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{118,54}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{266,54}</string>
            </dict>
            <key>Karin_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,632},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>Karin_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,574},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>Karin_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,396},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Karin_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,608},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>Karin_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>Karin_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>Karin_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{156,60}}</string>
                <key>offset</key>
                <string>{52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{266,60}</string>
            </dict>
            <key>Karin_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{136,58}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{266,58}</string>
            </dict>
            <key>Karin_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,58},{114,60}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{266,60}</string>
            </dict>
            <key>Karin_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,489},{45,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,71}}</string>
                <key>sourceSize</key>
                <string>{45,71}</string>
            </dict>
            <key>Karin_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,536},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>Karin_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,456},{50,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,71}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>Karin_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>Karin_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,556},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>Karin_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,615},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>Karin_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,504},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>Karin_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,57},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>Karin_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>Karin_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,704},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>hBuff_Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,263},{25,7}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{25,7}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>hBuff_Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,485},{28,13}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>hBuff_Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,525},{27,11}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>hBuff_Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,127},{28,19}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>hBuff_Effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,468},{28,15}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>hBuff_Effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,227},{26,15}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>hBuff_Effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,500},{27,23}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>hBuff_Effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,206},{26,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>hBuff_Effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,157},{22,7}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>hBuff_Effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,120},{20,5}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Karin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c14608f2b9d5598e40d3f979b48bb7$</string>
            <key>textureFileName</key>
            <string>Karin.png</string>
        </dict>
    </dict>
</plist>
