<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Bagua.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{189,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,86}}</string>
        <key>sourceSize</key>
        <string>{189,86}</string>
      </dict>
      <key>Kujiyose.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{164,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,34}}</string>
        <key>sourceSize</key>
        <string>{164,34}</string>
      </dict>
      <key>dcBuff_Effect_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{58,97}}</string>
        <key>offset</key>
        <string>{0,-18}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,41},{58,97}}</string>
        <key>sourceSize</key>
        <string>{72,143}</string>
      </dict>
      <key>dcBuff_Effect_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{62,83}}</string>
        <key>offset</key>
        <string>{-3,-19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,41},{62,83}}</string>
        <key>sourceSize</key>
        <string>{76,126}</string>
      </dict>
      <key>dcBuff_Effect_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,34},{59,96}}</string>
        <key>offset</key>
        <string>{1.5,-21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,46},{59,96}}</string>
        <key>sourceSize</key>
        <string>{68,146}</string>
      </dict>
      <key>hsBuff_Effect_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,34},{68,34}}</string>
        <key>offset</key>
        <string>{-1.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{68,34}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>dcBuff_Effect_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,58},{65,82}}</string>
        <key>offset</key>
        <string>{0.5,-16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,36},{65,82}}</string>
        <key>sourceSize</key>
        <string>{72,121}</string>
      </dict>
      <key>hsBuff_Effect_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,83},{68,32}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{68,32}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hp_restore_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,68},{15,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,49}}</string>
        <key>sourceSize</key>
        <string>{15,49}</string>
      </dict>
      <key>eBuff_Effect_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,58},{28,15}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,22},{28,15}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>Hiraishin2Effect_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,83},{66,62}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,13},{66,62}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>eBuff_Effect_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,86},{26,15}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,22},{26,15}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>tBuff_Effect_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,68},{10,16}}</string>
        <key>offset</key>
        <string>{-19,-21}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,48},{10,16}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>all_use.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,68},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>eBuff_Effect_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,112},{28,12}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,25},{28,12}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>dcBuff_Effect_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{51,81}}</string>
        <key>offset</key>
        <string>{4.5,-16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,36},{51,81}}</string>
        <key>sourceSize</key>
        <string>{68,120}</string>
      </dict>
      <key>dcBuff_Effect_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,86},{50,81}}</string>
        <key>offset</key>
        <string>{-3.5,-25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,53},{50,81}}</string>
        <key>sourceSize</key>
        <string>{67,137}</string>
      </dict>
      <key>eBuff_Effect_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,86},{27,22}}</string>
        <key>offset</key>
        <string>{0,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,15},{27,22}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>dcBuff_Effect_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,93},{67,79}}</string>
        <key>offset</key>
        <string>{-0.5,-22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,48},{67,79}}</string>
        <key>sourceSize</key>
        <string>{76,131}</string>
      </dict>
      <key>eBuff_Effect_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,123},{27,11}}</string>
        <key>offset</key>
        <string>{0,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,26},{27,11}}</string>
        <key>sourceSize</key>
        <string>{27,37}</string>
      </dict>
      <key>hp_restore_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,93},{17,19}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,17},{17,19}}</string>
        <key>sourceSize</key>
        <string>{17,49}</string>
      </dict>
      <key>eBuff_Effect_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,134},{26,18}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{26,18}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>tBuff_Effect_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,112},{29,16}}</string>
        <key>offset</key>
        <string>{3.5,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{14,31},{29,16}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>dcBuff_Effect_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,115},{65,69}}</string>
        <key>offset</key>
        <string>{0.5,-25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,55},{65,69}}</string>
        <key>sourceSize</key>
        <string>{74,128}</string>
      </dict>
      <key>hp_restore_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,149},{18,16}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,19},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,49}</string>
      </dict>
      <key>eBuff_Effect_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,108},{25,6}}</string>
        <key>offset</key>
        <string>{-0.5,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,31},{25,6}}</string>
        <key>sourceSize</key>
        <string>{26,37}</string>
      </dict>
      <key>eBuff_Effect_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,114},{22,7}}</string>
        <key>offset</key>
        <string>{0,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{22,7}}</string>
        <key>sourceSize</key>
        <string>{22,37}</string>
      </dict>
      <key>dcBuff_Effect_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,136},{66,76}}</string>
        <key>offset</key>
        <string>{-0.5,-24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,52},{66,76}}</string>
        <key>sourceSize</key>
        <string>{75,131}</string>
      </dict>
      <key>hsBuff_Effect_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,152},{71,32}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,3},{71,32}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hsBuff_Effect_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,223},{71,32}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{71,32}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>Hiraishin2Effect_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,160},{75,57}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,17},{75,57}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>eBuff_Effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,167},{20,5}}</string>
        <key>offset</key>
        <string>{0,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{20,5}}</string>
        <key>sourceSize</key>
        <string>{20,37}</string>
      </dict>
      <key>eBuff_Effect_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,172},{28,18}}</string>
        <key>offset</key>
        <string>{0,-9.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,19},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,37}</string>
      </dict>
      <key>HiraishinEffect_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{75,57}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,17},{75,57}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>dcBuff_Effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{58,71}}</string>
        <key>offset</key>
        <string>{0,-16.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,37},{58,71}}</string>
        <key>sourceSize</key>
        <string>{68,112}</string>
      </dict>
      <key>hsBuff_Effect_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,123},{71,34}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{71,34}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>tBuff_Effect_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,140},{25,28}}</string>
        <key>offset</key>
        <string>{-11.5,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,36},{25,28}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>hsBuff_Effect_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,157},{71,33}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{71,33}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hsBuff_Effect_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,180},{71,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{71,31}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>HiraishinEffect_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,149},{66,62}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,13},{66,62}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>smk_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,215},{61,64}}</string>
        <key>offset</key>
        <string>{-2.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{61,64}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>Kagura_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,168},{22,21}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{22,21}}</string>
        <key>sourceSize</key>
        <string>{22,24}</string>
      </dict>
      <key>hp_restore_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,189},{21,22}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,14},{21,22}}</string>
        <key>sourceSize</key>
        <string>{21,49}</string>
      </dict>
      <key>hsBuff_Effect_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,190},{71,31}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{71,31}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hsBuff_Effect_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,202},{71,30}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{71,30}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hsBuff_Effect_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,232},{70,34}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{70,34}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hsBuff_Effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{70,32}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{70,32}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>smk_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,266},{64,64}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{66,65}</string>
      </dict>
      <key>hsBuff_Effect_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{64,32}}</string>
        <key>offset</key>
        <string>{-3.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{64,32}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>smk_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,316},{61,60}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,60}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>Hiraishin2Effect_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,211},{61,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,15},{61,59}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>HiraishinEffect_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,217},{61,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,15},{61,59}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>smk_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,221},{61,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>tBuff_Effect_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,221},{42,58}}</string>
        <key>offset</key>
        <string>{-2,-6}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,12},{42,58}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>tBuff_Effect_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,263},{40,55}}</string>
        <key>offset</key>
        <string>{-2,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,10},{40,55}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>tBuff_Effect_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,279},{40,54}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,10},{40,54}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>tBuff_Effect_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,319},{40,51}}</string>
        <key>offset</key>
        <string>{-2,1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,8},{40,51}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>tBuff_Effect_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,270},{31,51}}</string>
        <key>offset</key>
        <string>{1.5,2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{11,7},{31,51}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>tBuff_Effect_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,276},{40,50}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{3,8},{40,50}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>tBuff_Effect_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,294},{39,49}}</string>
        <key>offset</key>
        <string>{-1.5,3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,7},{39,49}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>sharingan.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,333},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>sharingan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,330},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>sharingan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>sharingan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,274},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>tBuff_Effect_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,274},{37,40}}</string>
        <key>offset</key>
        <string>{-4.5,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,24},{37,40}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>Kagura_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,303},{48,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,43}}</string>
        <key>sourceSize</key>
        <string>{48,43}</string>
      </dict>
      <key>Kagura_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,314},{36,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,32}}</string>
        <key>sourceSize</key>
        <string>{36,32}</string>
      </dict>
      <key>Kagura_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,301},{46,41}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,41}}</string>
        <key>sourceSize</key>
        <string>{47,41}</string>
      </dict>
      <key>kazi.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,322},{44,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,43}}</string>
        <key>sourceSize</key>
        <string>{44,43}</string>
      </dict>
      <key>Kagura_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,322},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>tBuff_Effect_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,342},{30,39}}</string>
        <key>offset</key>
        <string>{3,3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,12},{30,39}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>smk_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,365},{32,32}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>SkillEffect.png</string>
      <key>size</key>
      <string>{512,424}</string>
      <key>textureFileName</key>
      <string>SkillEffect.png</string>
    </dict>
  </dict>
</plist>
