<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,86}}</string>
                <key>sourceSize</key>
                <string>{189,86}</string>
            </dict>
            <key>Hiraishin2Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,126},{75,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{75,57}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>Hiraishin2Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,185},{67,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>Hiraishin2Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{61,59}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>HiraishinEffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{75,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{75,57}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>HiraishinEffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{67,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>HiraishinEffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,65},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{61,59}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>Kagura_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,113},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>Kagura_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,171},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>Kagura_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,355},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>Kagura_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,310},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>Kagura_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>Kujiyose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>hp_restore_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,259},{15,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,49}}</string>
                <key>sourceSize</key>
                <string>{15,49}</string>
            </dict>
            <key>hp_restore_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,279},{18,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>hp_restore_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,260},{17,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>hp_restore_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,90},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>kazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,326},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>sharingan.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,305},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sharingan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,276},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sharingan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,260},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sharingan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,209},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>smk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,137},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>smk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,250},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>smk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>smk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,193},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>smk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,126},{62,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SkillEffect.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73bf51b29b72af695cc49a5e69509b4a$</string>
            <key>textureFileName</key>
            <string>SkillEffect.png</string>
        </dict>
    </dict>
</plist>
