<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pain_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,546},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>Pain_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,543},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>Pain_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,335},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>Pain_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,501},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>Pain_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,377},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>Pain_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,106},{49,71}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,79}</string>
            </dict>
            <key>Pain_Hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,590},{51,63}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,79}</string>
            </dict>
            <key>Pain_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{32,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{34,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,226},{34,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{34,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{32,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,262},{32,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,252},{32,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,262},{32,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,262},{32,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,296},{81,40}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>Pain_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{85,36}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>Pain_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,489},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>Pain_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,487},{53,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>Pain_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>Pain_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,386},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>Pain_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,429},{56,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>Pain_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,360},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>Pain_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,424},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>Pain_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,443},{56,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>Pain_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,486},{55,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,68}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>Pain_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,368},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>Pain_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,249},{82,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{82,60}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>Pain_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,255},{82,50}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{82,50}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>Pain_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,486},{55,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,68}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>Pain_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,286},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,81}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>Pain_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{76,67}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>Pain_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{66,67}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>Pain_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,451},{56,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>Pain_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,487},{55,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,81}</string>
            </dict>
            <key>Pain_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,221},{32,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>Pain_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,106},{52,83}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>Pain_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,160},{50,83}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{50,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>Pain_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,183},{36,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>Pain_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,336},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>Pain_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,219},{66,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>Pain_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,325},{50,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,79}}</string>
                <key>sourceSize</key>
                <string>{50,79}</string>
            </dict>
            <key>Pain_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,421},{63,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>Pain_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,377},{64,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>Pain_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{60,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>Pain_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,215},{35,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,83}}</string>
                <key>sourceSize</key>
                <string>{35,83}</string>
            </dict>
            <key>Pain_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{34,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,81}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Pain_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,106},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>Pain_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>Pain_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,155},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>Pain_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>Pain_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,144},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>Pain_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,212},{35,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{35,83}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>Pain_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,87}}</string>
                <key>sourceSize</key>
                <string>{50,87}</string>
            </dict>
            <key>Pain_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,106},{47,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,87}}</string>
                <key>sourceSize</key>
                <string>{47,87}</string>
            </dict>
            <key>Pain_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,509},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>Pain_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>Pain_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>Pain_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>Pain_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>Pain_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,334},{24,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>Pain_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{27,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,80}}</string>
                <key>sourceSize</key>
                <string>{27,80}</string>
            </dict>
            <key>Pain_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,334},{24,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>Pain_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,307},{25,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,80}}</string>
                <key>sourceSize</key>
                <string>{25,80}</string>
            </dict>
            <key>Pain_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,338},{28,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,78}}</string>
                <key>sourceSize</key>
                <string>{28,78}</string>
            </dict>
            <key>Pain_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,287},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>Pain_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,311},{23,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,80}}</string>
                <key>sourceSize</key>
                <string>{23,80}</string>
            </dict>
            <key>Pain_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,593},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>Pain_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,544},{66,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>Pain_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{59,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>Pain_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>Pain_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,157},{68,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>Pain_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,643},{59,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sBuff_Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,307},{26,7}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{26,7}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>sBuff_Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,381},{28,13}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>sBuff_Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,411},{27,11}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>sBuff_Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,468},{28,19}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>sBuff_Effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,429},{28,15}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>sBuff_Effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,440},{26,15}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>sBuff_Effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,487},{27,23}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>sBuff_Effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,512},{26,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>sBuff_Effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,335},{22,7}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>sBuff_Effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,359},{20,5}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pain.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da5085e9d6ff2755b96ef0e4aa4a70be$</string>
            <key>textureFileName</key>
            <string>Pain.png</string>
        </dict>
    </dict>
</plist>
