<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shikamaru_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,440},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>Shikamaru_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,433},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>Shikamaru_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,277},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>Shikamaru_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,181},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>Shikamaru_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,319},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>Shikamaru_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,321},{33,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,74}}</string>
                <key>sourceSize</key>
                <string>{33,74}</string>
            </dict>
            <key>Shikamaru_Hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,73},{28,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,74}</string>
            </dict>
            <key>Shikamaru_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,323},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>Shikamaru_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,339},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>Shikamaru_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,23}}</string>
                <key>sourceSize</key>
                <string>{83,23}</string>
            </dict>
            <key>Shikamaru_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,304},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>Shikamaru_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,392},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>Shikamaru_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,142},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>Shikamaru_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,172},{36,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>Shikamaru_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,287},{32,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,76}}</string>
                <key>sourceSize</key>
                <string>{32,78}</string>
            </dict>
            <key>Shikamaru_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,221},{64,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>Shikamaru_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>Shikamaru_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,288},{32,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,75}}</string>
                <key>sourceSize</key>
                <string>{32,75}</string>
            </dict>
            <key>Shikamaru_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,169},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>Shikamaru_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,210},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Shikamaru_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,210},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>Shikamaru_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>Shikamaru_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,322},{30,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,74}}</string>
                <key>sourceSize</key>
                <string>{30,74}</string>
            </dict>
            <key>Shikamaru_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,103},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>Shikamaru_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,372},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>Shikamaru_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,192},{74,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>Shikamaru_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>Shikamaru_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,268},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>Shikamaru_NAttack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,385},{55,59}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>Shikamaru_NAttack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>Shikamaru_NAttack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{34,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,79}}</string>
                <key>sourceSize</key>
                <string>{34,79}</string>
            </dict>
            <key>Shikamaru_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{28,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,80}}</string>
                <key>sourceSize</key>
                <string>{28,80}</string>
            </dict>
            <key>Shikamaru_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,122},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>Shikamaru_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,103},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>Shikamaru_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,102},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>Shikamaru_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,85},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>Shikamaru_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,64},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Shikamaru_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,64},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>Shikamaru_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Shikamaru_Skill01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Shikamaru_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,323},{31,60}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{31,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>Shikamaru_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,372},{53,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>Shikamaru_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,159},{79,60}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>Shikamaru_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,64},{99,60}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>Shikamaru_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{129,60}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>Shikamaru_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{139,60}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{139,60}}</string>
                <key>sourceSize</key>
                <string>{261,60}</string>
            </dict>
            <key>Shikamaru_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,69}}</string>
                <key>offset</key>
                <string>{54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{153,69}}</string>
                <key>sourceSize</key>
                <string>{261,69}</string>
            </dict>
            <key>Shikamaru_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>Shikamaru_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,44},{39,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,80}}</string>
                <key>sourceSize</key>
                <string>{39,80}</string>
            </dict>
            <key>Shikamaru_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,394},{37,51}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
            <key>Shikamaru_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,356},{36,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,65}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>Shikamaru_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,354},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>Shikamaru_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,225},{32,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{32,69}</string>
            </dict>
            <key>Shikamaru_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,440},{48,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>Shikamaru_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,394},{37,51}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,69}</string>
            </dict>
            <key>Shikamaru_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,259},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>Shikamaru_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,140},{27,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,80}}</string>
                <key>sourceSize</key>
                <string>{27,80}</string>
            </dict>
            <key>Shikamaru_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,126},{31,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,80}}</string>
                <key>sourceSize</key>
                <string>{31,80}</string>
            </dict>
            <key>Shikamaru_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,159},{31,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,80}}</string>
                <key>sourceSize</key>
                <string>{31,80}</string>
            </dict>
            <key>Shikamaru_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,139},{31,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,80}}</string>
                <key>sourceSize</key>
                <string>{31,80}</string>
            </dict>
            <key>Shikamaru_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,377},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>Shikamaru_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,433},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>Shikamaru_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,427},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>Shikamaru_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>Shikamaru_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,428},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>Shikamaru_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,426},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>lwBuff_Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,221},{26,7}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{26,7}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>lwBuff_Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,184},{28,13}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>lwBuff_Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,192},{27,11}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>lwBuff_Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,316},{28,19}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>lwBuff_Effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,126},{28,15}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>lwBuff_Effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,156},{26,15}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>lwBuff_Effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,287},{27,23}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>lwBuff_Effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,346},{26,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>lwBuff_Effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,221},{22,7}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>lwBuff_Effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,64},{20,5}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,5}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shikamaru.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0a2c3d097aa42032d3b29a6a73a7d6$</string>
            <key>textureFileName</key>
            <string>Shikamaru.png</string>
        </dict>
    </dict>
</plist>
