<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>htower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e31ddd76c55ef7f91d90ecc63a280c2$</string>
            <key>textureFileName</key>
            <string>Tower.png</string>
        </dict>
    </dict>
</plist>
