<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SageJiraiya_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,417},{89,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,63}}</string>
                <key>sourceSize</key>
                <string>{89,63}</string>
            </dict>
            <key>SageJiraiya_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,415},{53,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,89}</string>
            </dict>
            <key>SageJiraiya_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,173},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>SageJiraiya_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,409},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>SageJiraiya_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,175},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>SageJiraiya_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,244},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>SageJiraiya_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,309},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>SageJiraiya_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,373},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>SageJiraiya_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,468},{97,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,40}}</string>
                <key>sourceSize</key>
                <string>{97,40}</string>
            </dict>
            <key>SageJiraiya_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,333},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>SageJiraiya_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,132},{100,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>SageJiraiya_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,417},{93,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,73}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
            <key>SageJiraiya_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,333},{59,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,74}}</string>
                <key>sourceSize</key>
                <string>{59,74}</string>
            </dict>
            <key>SageJiraiya_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,332},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>SageJiraiya_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,130},{100,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>SageJiraiya_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,190},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>SageJiraiya_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,60},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>SageJiraiya_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,86},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>SageJiraiya_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,417},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>SageJiraiya_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,401},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>SageJiraiya_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,314},{85,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,63}}</string>
                <key>sourceSize</key>
                <string>{85,63}</string>
            </dict>
            <key>SageJiraiya_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,258},{81,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,64}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>SageJiraiya_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{53,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,175},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,85},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,2},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,411},{75,63}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{97,63}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,364},{126,63}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,79}</string>
            </dict>
            <key>SageJiraiya_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{121,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,64}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>SageJiraiya_Skill01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,232},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>SageJiraiya_Skill01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,112},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>SageJiraiya_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,170},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>SageJiraiya_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,275},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>SageJiraiya_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,166},{64,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>SageJiraiya_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,175},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>SageJiraiya_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,442},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,132},{106,66}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,364},{126,66}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,358},{118,66}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{118,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,125},{98,66}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>SageJiraiya_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,90},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>SageJiraiya_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,174},{71,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,82}}</string>
                <key>sourceSize</key>
                <string>{71,82}</string>
            </dict>
            <key>SageJiraiya_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,2},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>SageJiraiya_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,2},{82,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,132},{102,72}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,6},{102,72}}</string>
                <key>sourceSize</key>
                <string>{180,78}</string>
            </dict>
            <key>SageJiraiya_Skill03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{128,72}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{126,72}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,240},{128,72}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{128,72}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{128,72}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{128,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,236},{126,72}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{180,72}</string>
            </dict>
            <key>SageJiraiya_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,437},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>SageJiraiya_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>SageJiraiya_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,415},{53,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,89}</string>
            </dict>
            <key>SageJiraiya_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,101},{54,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,87}}</string>
                <key>sourceSize</key>
                <string>{54,87}</string>
            </dict>
            <key>SageJiraiya_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,225},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,87}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>SageJiraiya_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,83},{61,77}}</string>
                <key>offset</key>
                <string>{-38,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,26},{61,77}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,304},{179,183}}</string>
                <key>offset</key>
                <string>{27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,2},{179,183}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,242},{173,163}}</string>
                <key>offset</key>
                <string>{33,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,3},{173,163}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,304},{179,183}}</string>
                <key>offset</key>
                <string>{48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,12},{179,183}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,242},{173,163}}</string>
                <key>offset</key>
                <string>{55,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,16},{173,163}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,242},{171,149}}</string>
                <key>offset</key>
                <string>{53,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,41},{171,149}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{171,153}}</string>
                <key>offset</key>
                <string>{53,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,42},{171,153}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,304},{185,151}}</string>
                <key>offset</key>
                <string>{66,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,35},{185,151}}</string>
                <key>sourceSize</key>
                <string>{351,199}</string>
            </dict>
            <key>SageJiraiya_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,422},{72,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>SageJiraiya_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,415},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>SageJiraiya_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,234},{122,84}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>SageJiraiya_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{186,83}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{186,83}}</string>
                <key>sourceSize</key>
                <string>{500,83}</string>
            </dict>
            <key>SageJiraiya_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{294,91}}</string>
                <key>offset</key>
                <string>{97,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{294,91}}</string>
                <key>sourceSize</key>
                <string>{500,91}</string>
            </dict>
            <key>SageJiraiya_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{300,148}}</string>
                <key>offset</key>
                <string>{100,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{300,148}}</string>
                <key>sourceSize</key>
                <string>{500,148}</string>
            </dict>
            <key>SageJiraiya_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,164}}</string>
                <key>offset</key>
                <string>{99,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,0},{300,164}}</string>
                <key>sourceSize</key>
                <string>{500,164}</string>
            </dict>
            <key>SageJiraiya_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{288,170}}</string>
                <key>offset</key>
                <string>{94,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{288,170}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>SageJiraiya_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,292},{288,174}}</string>
                <key>offset</key>
                <string>{93,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,0},{288,174}}</string>
                <key>sourceSize</key>
                <string>{500,174}</string>
            </dict>
            <key>SageJiraiya_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{288,176}}</string>
                <key>offset</key>
                <string>{93,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,0},{288,176}}</string>
                <key>sourceSize</key>
                <string>{500,176}</string>
            </dict>
            <key>SageJiraiya_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{258,144}}</string>
                <key>offset</key>
                <string>{79,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{258,144}}</string>
                <key>sourceSize</key>
                <string>{500,144}</string>
            </dict>
            <key>SageJiraiya_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,262},{246,136}}</string>
                <key>offset</key>
                <string>{72,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,0},{246,136}}</string>
                <key>sourceSize</key>
                <string>{500,136}</string>
            </dict>
            <key>SageJiraiya_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{238,116}}</string>
                <key>offset</key>
                <string>{68,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,0},{238,116}}</string>
                <key>sourceSize</key>
                <string>{500,116}</string>
            </dict>
            <key>SageJiraiya_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,292},{218,83}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{218,83}}</string>
                <key>sourceSize</key>
                <string>{500,83}</string>
            </dict>
            <key>SageJiraiya_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,359},{81,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,67}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>SageJiraiya_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,341},{79,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{79,63}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>SageJiraiya_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,162},{73,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>SageJiraiya_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,442},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>SageJiraiya_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,252},{79,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>SageJiraiya_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,246},{73,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SageJiraiya.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5641c1598cbf73d3e7b46e2f6c5511ea$</string>
            <key>textureFileName</key>
            <string>SageJiraiya.png</string>
        </dict>
    </dict>
</plist>
