<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avator.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,220},{179,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,188}}</string>
                <key>sourceSize</key>
                <string>{179,188}</string>
            </dict>
            <key>btm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{164,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,30}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>buy_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,417},{144,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,78},{253,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,101}}</string>
                <key>sourceSize</key>
                <string>{253,101}</string>
            </dict>
            <key>confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{194,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{194,130}</string>
            </dict>
            <key>confirm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{115,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>credits01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{368,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,78}}</string>
                <key>sourceSize</key>
                <string>{368,78}</string>
            </dict>
            <key>credits02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,136}}</string>
                <key>sourceSize</key>
                <string>{390,136}</string>
            </dict>
            <key>error_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{157,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,40}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>gold_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,401},{164,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,170}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>gold_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>hardcore_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,567},{165,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,30}}</string>
                <key>sourceSize</key>
                <string>{165,30}</string>
            </dict>
            <key>hardcore_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,59},{106,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,17}}</string>
                <key>sourceSize</key>
                <string>{106,17}</string>
            </dict>
            <key>hcmode_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,374},{77,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>loading_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,22},{109,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,19}}</string>
                <key>sourceSize</key>
                <string>{109,19}</string>
            </dict>
            <key>menu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,625},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>menu01_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,43},{109,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,14}}</string>
                <key>sourceSize</key>
                <string>{109,14}</string>
            </dict>
            <key>menu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,599},{157,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>menu02_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,127},{47,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,333},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>menu03_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,78},{47,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,547},{143,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,45}}</string>
                <key>sourceSize</key>
                <string>{143,45}</string>
            </dict>
            <key>menu04_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,176},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>news_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,333},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>no_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>no_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,647},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,594},{46,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{46,19}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,567},{56,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,19}}</string>
                <key>sourceSize</key>
                <string>{56,19}</string>
            </dict>
            <key>result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,396},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,395},{66,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{66,19}</string>
            </dict>
            <key>staff_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,375},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>startmenu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,140},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>surrender_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>warning_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,594},{63,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,15}}</string>
                <key>sourceSize</key>
                <string>{63,15}</string>
            </dict>
            <key>yes_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,647},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>yes_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,647},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780054faa3ce512b25ea0af33e002354$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
