<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avator.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>btm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,321},{156,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{156,20}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>buy_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,343},{154,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{154,20}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,436},{144,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{253,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,101}}</string>
                <key>sourceSize</key>
                <string>{253,101}</string>
            </dict>
            <key>confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{194,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{194,130}</string>
            </dict>
            <key>confirm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,451},{109,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{109,14}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>credits01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{366,123}}</string>
                <key>sourceSize</key>
                <string>{368,125}</string>
            </dict>
            <key>credits02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{340,78}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{340,78}}</string>
                <key>sourceSize</key>
                <string>{390,136}</string>
            </dict>
            <key>error_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,451},{95,40}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{95,40}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>gold_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{164,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,170}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>gold_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,218},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>hardcore_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,406},{157,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{157,28}}</string>
                <key>sourceSize</key>
                <string>{165,30}</string>
            </dict>
            <key>hardcore_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,406},{104,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,17}}</string>
                <key>sourceSize</key>
                <string>{106,17}</string>
            </dict>
            <key>hcmode_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,207},{73,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>loading_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,467},{103,17}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,17}}</string>
                <key>sourceSize</key>
                <string>{109,19}</string>
            </dict>
            <key>menu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,365},{151,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>menu01_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{61,14}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{61,14}}</string>
                <key>sourceSize</key>
                <string>{109,14}</string>
            </dict>
            <key>menu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,413},{151,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{151,36}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>menu02_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,310},{43,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,9}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,284},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{67,35}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>menu03_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,503},{31,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{31,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,247},{69,35}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{69,35}}</string>
                <key>sourceSize</key>
                <string>{143,45}</string>
            </dict>
            <key>menu04_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,436},{44,11}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,11}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>news_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,512},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>no_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,510},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>no_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,476},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,554},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{34,17}}</string>
                <key>sourceSize</key>
                <string>{46,19}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,127},{68,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,17}}</string>
                <key>sourceSize</key>
                <string>{72,19}</string>
            </dict>
            <key>result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,486},{32,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{32,17}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{66,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,17}}</string>
                <key>sourceSize</key>
                <string>{66,19}</string>
            </dict>
            <key>staff_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,486},{32,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{32,17}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>startmenu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,228},{72,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,17}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>surrender_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,198},{166,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{166,18}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>warning_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,486},{45,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{45,15}}</string>
                <key>sourceSize</key>
                <string>{63,15}</string>
            </dict>
            <key>yes_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>yes_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,476},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8ff83eabd6c390e3d52e15fde8970ce$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
