<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CutBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,147},{259,137}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{259,137}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{259,137}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{259,137}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLineDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{278,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,23}}</string>
                <key>sourceSize</key>
                <string>{278,23}</string>
            </dict>
            <key>CutLineUP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,143}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,143}}</string>
                <key>sourceSize</key>
                <string>{277,151}</string>
            </dict>
            <key>CutLine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{213,75}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{213,75}}</string>
                <key>sourceSize</key>
                <string>{277,151}</string>
            </dict>
            <key>CutLine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,444},{183,57}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{183,57}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{213,77}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{213,77}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,363},{183,79}}</string>
                <key>offset</key>
                <string>{-48,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{183,79}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,408},{99,29}}</string>
                <key>offset</key>
                <string>{-72,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,38},{99,29}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{233,95}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{233,95}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,282},{205,79}}</string>
                <key>offset</key>
                <string>{-37,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{205,79}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
            <key>CutLine_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,363},{121,33}}</string>
                <key>offset</key>
                <string>{-79,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{121,33}}</string>
                <key>sourceSize</key>
                <string>{279,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ougis.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29846eb1ee1c8a2e44655e1cdef5f999$</string>
            <key>textureFileName</key>
            <string>Ougis.png</string>
        </dict>
    </dict>
</plist>
