<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,454},{230,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,227}}</string>
                <key>sourceSize</key>
                <string>{230,227}</string>
            </dict>
            <key>Deidara_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,479},{224,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,193}}</string>
                <key>sourceSize</key>
                <string>{224,193}</string>
            </dict>
            <key>Gaara_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{250,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,194}}</string>
                <key>sourceSize</key>
                <string>{250,194}</string>
            </dict>
            <key>Han_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{238,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,215}}</string>
                <key>sourceSize</key>
                <string>{238,215}</string>
            </dict>
            <key>Hidan_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,216}}</string>
                <key>sourceSize</key>
                <string>{271,216}</string>
            </dict>
            <key>Hinata_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,245},{219,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,253}}</string>
                <key>sourceSize</key>
                <string>{219,253}</string>
            </dict>
            <key>Hiruzen_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,173},{253,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,235}}</string>
                <key>sourceSize</key>
                <string>{253,235}</string>
            </dict>
            <key>HokageMinato_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,243},{246,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,209}}</string>
                <key>sourceSize</key>
                <string>{246,209}</string>
            </dict>
            <key>ImmortalSasuke_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,670},{205,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,220}}</string>
                <key>sourceSize</key>
                <string>{205,220}</string>
            </dict>
            <key>Ino_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{263,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,219}}</string>
                <key>sourceSize</key>
                <string>{263,219}</string>
            </dict>
            <key>Itachi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,674},{214,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,164}}</string>
                <key>sourceSize</key>
                <string>{214,164}</string>
            </dict>
            <key>Jiraiya_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,466},{239,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,202}}</string>
                <key>sourceSize</key>
                <string>{239,202}</string>
            </dict>
            <key>Jugo_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,223},{237,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,232}}</string>
                <key>sourceSize</key>
                <string>{237,232}</string>
            </dict>
            <key>Kakashi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,425},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,222}</string>
            </dict>
            <key>Kankuro_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{238,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,221}}</string>
                <key>sourceSize</key>
                <string>{238,221}</string>
            </dict>
            <key>Karin_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,877},{192,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,208}}</string>
                <key>sourceSize</key>
                <string>{192,208}</string>
            </dict>
            <key>Kiba_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{248,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,239}}</string>
                <key>sourceSize</key>
                <string>{248,239}</string>
            </dict>
            <key>Kimimaro_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{241,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,254}}</string>
                <key>sourceSize</key>
                <string>{241,254}</string>
            </dict>
            <key>Kisame_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,598},{223,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,196}}</string>
                <key>sourceSize</key>
                <string>{223,196}</string>
            </dict>
            <key>Konan_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,840},{161,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,190}}</string>
                <key>sourceSize</key>
                <string>{161,190}</string>
            </dict>
            <key>Lee_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,427},{232,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,210}}</string>
                <key>sourceSize</key>
                <string>{232,210}</string>
            </dict>
            <key>Minato_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,639},{230,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,195}}</string>
                <key>sourceSize</key>
                <string>{230,195}</string>
            </dict>
            <key>Nagato_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,796},{202,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,208}}</string>
                <key>sourceSize</key>
                <string>{202,208}</string>
            </dict>
            <key>Naruto_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1071},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>Neji_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,654},{225,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,219}}</string>
                <key>sourceSize</key>
                <string>{225,219}</string>
            </dict>
            <key>Orochimaru_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,836},{210,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,215}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>Pain_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,457},{231,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,195}}</string>
                <key>sourceSize</key>
                <string>{231,195}</string>
            </dict>
            <key>Roshi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{241,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,267}}</string>
                <key>sourceSize</key>
                <string>{241,267}</string>
            </dict>
            <key>SageJiraiya_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{182,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,202}}</string>
                <key>sourceSize</key>
                <string>{182,202}</string>
            </dict>
            <key>SageNaruto_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,250},{173,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,236}}</string>
                <key>sourceSize</key>
                <string>{173,236}</string>
            </dict>
            <key>Sai_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,410},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>Sakura_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1000},{161,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,185}}</string>
                <key>sourceSize</key>
                <string>{161,185}</string>
            </dict>
            <key>Sasuke_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,649},{230,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,210}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>Shikamaru_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,219},{206,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,238}}</string>
                <key>sourceSize</key>
                <string>{206,238}</string>
            </dict>
            <key>Shino_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{169,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,256}}</string>
                <key>sourceSize</key>
                <string>{169,256}</string>
            </dict>
            <key>Suigetsu_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,683},{189,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,200}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>Tenten_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{180,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,216}}</string>
                <key>sourceSize</key>
                <string>{180,216}</string>
            </dict>
            <key>Tobi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,245},{242,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,232}}</string>
                <key>sourceSize</key>
                <string>{242,232}</string>
            </dict>
            <key>Tobirama_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,2},{238,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,219}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>Tsunade_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{246,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,247}}</string>
                <key>sourceSize</key>
                <string>{246,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ougis2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b88f842eb7d2d3d9768dfcef380a5c43$</string>
            <key>textureFileName</key>
            <string>Ougis2.png</string>
        </dict>
    </dict>
</plist>
