<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,562},{230,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,227}}</string>
                <key>sourceSize</key>
                <string>{230,227}</string>
            </dict>
            <key>Deidara_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,753},{224,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,193}}</string>
                <key>sourceSize</key>
                <string>{224,193}</string>
            </dict>
            <key>Gaara_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,245},{250,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,194}}</string>
                <key>sourceSize</key>
                <string>{250,194}</string>
            </dict>
            <key>Han_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{238,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,215}}</string>
                <key>sourceSize</key>
                <string>{238,215}</string>
            </dict>
            <key>Hidan_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{271,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,216}}</string>
                <key>sourceSize</key>
                <string>{271,216}</string>
            </dict>
            <key>Hinata_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,220},{219,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,253}}</string>
                <key>sourceSize</key>
                <string>{219,253}</string>
            </dict>
            <key>Hiruzen_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,304},{253,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,235}}</string>
                <key>sourceSize</key>
                <string>{253,235}</string>
            </dict>
            <key>HokageMinato_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,441},{246,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,209}}</string>
                <key>sourceSize</key>
                <string>{246,209}</string>
            </dict>
            <key>ImmortalSasuke_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,791},{205,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,220}}</string>
                <key>sourceSize</key>
                <string>{205,220}</string>
            </dict>
            <key>Ino_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,133},{263,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,219}}</string>
                <key>sourceSize</key>
                <string>{263,219}</string>
            </dict>
            <key>Itachi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{214,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,164}}</string>
                <key>sourceSize</key>
                <string>{214,164}</string>
            </dict>
            <key>Jiraiya_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,264},{239,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,202}}</string>
                <key>sourceSize</key>
                <string>{239,202}</string>
            </dict>
            <key>Jugo_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{720,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,129}}</string>
                <key>sourceSize</key>
                <string>{720,129}</string>
            </dict>
            <key>Kakashi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,264},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,222}}</string>
                <key>sourceSize</key>
                <string>{232,222}</string>
            </dict>
            <key>Kankuro_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{238,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,221}}</string>
                <key>sourceSize</key>
                <string>{238,221}</string>
            </dict>
            <key>Karin_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,689},{192,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,208}}</string>
                <key>sourceSize</key>
                <string>{192,208}</string>
            </dict>
            <key>Kiba_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{720,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,129}}</string>
                <key>sourceSize</key>
                <string>{720,129}</string>
            </dict>
            <key>Kimimaro_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{720,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,129}}</string>
                <key>sourceSize</key>
                <string>{720,129}</string>
            </dict>
            <key>Kisame_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,133},{223,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,196}}</string>
                <key>sourceSize</key>
                <string>{223,196}</string>
            </dict>
            <key>Konan_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,948},{161,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,190}}</string>
                <key>sourceSize</key>
                <string>{161,190}</string>
            </dict>
            <key>Lee_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,541},{232,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,210}}</string>
                <key>sourceSize</key>
                <string>{232,210}</string>
            </dict>
            <key>Minato_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,689},{230,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,195}}</string>
                <key>sourceSize</key>
                <string>{230,195}</string>
            </dict>
            <key>Nagato_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{202,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,208}}</string>
                <key>sourceSize</key>
                <string>{202,208}</string>
            </dict>
            <key>Naruto_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1057},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>Neji_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,591},{225,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,219}}</string>
                <key>sourceSize</key>
                <string>{225,219}</string>
            </dict>
            <key>Orochimaru_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,886},{210,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,215}}</string>
                <key>sourceSize</key>
                <string>{210,215}</string>
            </dict>
            <key>Pain_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,358},{231,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,195}}</string>
                <key>sourceSize</key>
                <string>{231,195}</string>
            </dict>
            <key>Roshi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,2},{241,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,267}}</string>
                <key>sourceSize</key>
                <string>{241,267}</string>
            </dict>
            <key>SageJiraiya_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,812},{182,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,202}}</string>
                <key>sourceSize</key>
                <string>{182,202}</string>
            </dict>
            <key>SageNaruto_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,488},{173,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,236}}</string>
                <key>sourceSize</key>
                <string>{173,236}</string>
            </dict>
            <key>Sai_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>Sakura_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,998},{161,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,185}}</string>
                <key>sourceSize</key>
                <string>{161,185}</string>
            </dict>
            <key>Sasuke_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,663},{230,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,210}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>Shikamaru_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,354},{206,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,238}}</string>
                <key>sourceSize</key>
                <string>{206,238}</string>
            </dict>
            <key>Shino_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,133},{169,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,256}}</string>
                <key>sourceSize</key>
                <string>{169,256}</string>
            </dict>
            <key>Suigetsu_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,129}}</string>
                <key>sourceSize</key>
                <string>{720,129}</string>
            </dict>
            <key>Tenten_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,875},{180,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,216}}</string>
                <key>sourceSize</key>
                <string>{180,216}</string>
            </dict>
            <key>Tobi_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,652},{242,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,232}}</string>
                <key>sourceSize</key>
                <string>{242,232}</string>
            </dict>
            <key>Tobirama_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,468},{238,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,219}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>Tsunade_CutIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,441},{246,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,247}}</string>
                <key>sourceSize</key>
                <string>{246,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ougis2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db68371fe63614aaf121d5666be74c92$</string>
            <key>textureFileName</key>
            <string>Ougis2.png</string>
        </dict>
    </dict>
</plist>
