<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,710},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Deidara_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1417},{231,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,228}}</string>
                <key>sourceSize</key>
                <string>{231,228}</string>
            </dict>
            <key>Gaara_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,474},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hidan_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{206,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,228}}</string>
                <key>sourceSize</key>
                <string>{206,228}</string>
            </dict>
            <key>Hinata_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,407},{190,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,228}}</string>
                <key>sourceSize</key>
                <string>{190,228}</string>
            </dict>
            <key>Hinata_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,238},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hiruzen_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>HokageMinato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,228}}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
            <key>ImmortalSasuke_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1654},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Ino_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{220,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,228}}</string>
                <key>sourceSize</key>
                <string>{220,228}</string>
            </dict>
            <key>Ino_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1418},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Itachi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,210},{195,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,228}}</string>
                <key>sourceSize</key>
                <string>{195,228}</string>
            </dict>
            <key>Jiraiya_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1182},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Jugo_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,946},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Kakashi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1653},{232,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,228}}</string>
                <key>sourceSize</key>
                <string>{232,228}</string>
            </dict>
            <key>Kankuro_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,710},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Karin_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1881},{164,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,227}}</string>
                <key>sourceSize</key>
                <string>{164,227}</string>
            </dict>
            <key>Kiba_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{205,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,228}}</string>
                <key>sourceSize</key>
                <string>{205,228}</string>
            </dict>
            <key>Kimimaro_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1650},{223,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,228}}</string>
                <key>sourceSize</key>
                <string>{223,228}</string>
            </dict>
            <key>Kisame_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,474},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Konan_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,231},{188,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,226}}</string>
                <key>sourceSize</key>
                <string>{188,226}</string>
            </dict>
            <key>Konan_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1890},{144,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{144,228}</string>
            </dict>
            <key>Lee_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,219},{214,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,228}}</string>
                <key>sourceSize</key>
                <string>{214,228}</string>
            </dict>
            <key>Minato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1887},{158,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,228}}</string>
                <key>sourceSize</key>
                <string>{158,228}</string>
            </dict>
            <key>Nagato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{215,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,228}}</string>
                <key>sourceSize</key>
                <string>{215,228}</string>
            </dict>
            <key>Naruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1182},{233,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,228}}</string>
                <key>sourceSize</key>
                <string>{233,228}</string>
            </dict>
            <key>Neji_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,238},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Orochimaru_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,209},{204,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,228}}</string>
                <key>sourceSize</key>
                <string>{204,228}</string>
            </dict>
            <key>Pain_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>SageJiraiya_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1744},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>SageNaruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1182},{234,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,227}}</string>
                <key>sourceSize</key>
                <string>{234,227}</string>
            </dict>
            <key>Sai_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,435},{190,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,228}}</string>
                <key>sourceSize</key>
                <string>{190,228}</string>
            </dict>
            <key>Sakura_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1650},{193,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,229}}</string>
                <key>sourceSize</key>
                <string>{193,229}</string>
            </dict>
            <key>Sakura_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1508},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Sasuke_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1272},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Shikamaru_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,946},{234,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,223}}</string>
                <key>sourceSize</key>
                <string>{234,223}</string>
            </dict>
            <key>Shino_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,946},{234,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,227}}</string>
                <key>sourceSize</key>
                <string>{234,227}</string>
            </dict>
            <key>Suigetsu_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,224},{194,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,228}}</string>
                <key>sourceSize</key>
                <string>{194,228}</string>
            </dict>
            <key>Tenten_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{188,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,227}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>Tenten_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,232},{208,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,228}}</string>
                <key>sourceSize</key>
                <string>{208,228}</string>
            </dict>
            <key>Tobi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1418},{233,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,228}}</string>
                <key>sourceSize</key>
                <string>{233,228}</string>
            </dict>
            <key>Tobirama_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1744},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Tsunade_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Tsunade_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>bonds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2001},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bonds_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1980},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bonds_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1980},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>change_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2024},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>change_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2024},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1980},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>fengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1980},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fengyin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1980},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{62,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>rank_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1980},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>rank_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1980},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>rank_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1980},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>rank_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1980},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>return_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2008},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>skill_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Record.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd0396dc3eb452fc4dce1e6ac9af3ae8$</string>
            <key>textureFileName</key>
            <string>Record.png</string>
        </dict>
    </dict>
</plist>
