<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1164},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Deidara_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,738},{231,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,228}}</string>
                <key>sourceSize</key>
                <string>{231,228}</string>
            </dict>
            <key>Gaara_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1428},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hidan_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{206,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{206,224}}</string>
                <key>sourceSize</key>
                <string>{206,228}</string>
            </dict>
            <key>Hinata_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1198},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hinata_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1198},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Hiruzen_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,252},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>HokageMinato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1635},{213,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,228}}</string>
                <key>sourceSize</key>
                <string>{213,228}</string>
            </dict>
            <key>ImmortalSasuke_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1652},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Ino_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1422},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Ino_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1422},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Itachi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,458},{195,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,228}}</string>
                <key>sourceSize</key>
                <string>{195,228}</string>
            </dict>
            <key>Jiraiya_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1192},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Jugo_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>Kakashi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,968},{232,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,228}}</string>
                <key>sourceSize</key>
                <string>{232,228}</string>
            </dict>
            <key>Kankuro_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,962},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Karin_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>Karin_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,692},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Kiba_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,252},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>Kimimaro_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>Kisame_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,732},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Konan_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,692},{144,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{144,228}</string>
            </dict>
            <key>Konan_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,692},{144,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{144,228}</string>
            </dict>
            <key>Lee_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{214,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,228}}</string>
                <key>sourceSize</key>
                <string>{214,228}</string>
            </dict>
            <key>Minato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,922},{158,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,228}}</string>
                <key>sourceSize</key>
                <string>{158,228}</string>
            </dict>
            <key>Nagato_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1635},{215,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,228}}</string>
                <key>sourceSize</key>
                <string>{215,228}</string>
            </dict>
            <key>Naruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>Neji_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,502},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Orochimaru_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,228},{204,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,228}}</string>
                <key>sourceSize</key>
                <string>{204,228}</string>
            </dict>
            <key>Pain_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,462},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>SageJiraiya_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>SageNaruto_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,928},{234,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,227}}</string>
                <key>sourceSize</key>
                <string>{234,227}</string>
            </dict>
            <key>Sai_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1152},{190,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,228}}</string>
                <key>sourceSize</key>
                <string>{190,228}</string>
            </dict>
            <key>Sakura_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Sakura_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Sasuke_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,232},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Shikamaru_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,502},{234,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,223}}</string>
                <key>sourceSize</key>
                <string>{234,223}</string>
            </dict>
            <key>Shino_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1658},{234,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,227}}</string>
                <key>sourceSize</key>
                <string>{234,227}</string>
            </dict>
            <key>Suigetsu_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>Tenten_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1382},{208,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,228}}</string>
                <key>sourceSize</key>
                <string>{208,228}</string>
            </dict>
            <key>Tenten_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1382},{208,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,228}}</string>
                <key>sourceSize</key>
                <string>{208,228}</string>
            </dict>
            <key>Tobi_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1400},{233,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,228}}</string>
                <key>sourceSize</key>
                <string>{233,228}</string>
            </dict>
            <key>Tobirama_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Tsunade_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>Tsunade_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{234,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,228}}</string>
                <key>sourceSize</key>
                <string>{234,228}</string>
            </dict>
            <key>bonds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,776},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bonds_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1882},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>bonds_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1612},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>change_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1612},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>change_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1612},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1882},{101,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,26}}</string>
                <key>sourceSize</key>
                <string>{101,26}</string>
            </dict>
            <key>fengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,732},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fengyin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,688},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1910},{62,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>rank_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1865},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>rank_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1910},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>rank_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1865},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>rank_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,776},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>return_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1882},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>skill_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
            <key>skill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>sourceSize</key>
                <string>{234,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Record.png</string>
            <key>size</key>
            <string>{1146,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e52492ec5ecc33fb56ff179f9b9402$</string>
            <key>textureFileName</key>
            <string>Record.png</string>
        </dict>
    </dict>
</plist>
