<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,257},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Choji_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,101},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>Deidara_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,310},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Deidara_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>Domination_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{138,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,24}}</string>
                <key>sourceSize</key>
                <string>{138,24}</string>
            </dict>
            <key>DoubleKill_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,28},{119,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,20}}</string>
                <key>sourceSize</key>
                <string>{119,20}</string>
            </dict>
            <key>Fukasaku_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Fukasaku_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,54},{108,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,23}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>Gaara_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,306},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Gaara_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,148},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,23}</string>
            </dict>
            <key>Godlike_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,79},{101,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,20}}</string>
                <key>sourceSize</key>
                <string>{101,20}</string>
            </dict>
            <key>Han_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,306},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Han_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,125},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>Hidan_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,274},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hidan_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,28},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>Hinata_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hinata_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,52},{61,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,22}}</string>
                <key>sourceSize</key>
                <string>{61,22}</string>
            </dict>
            <key>Hiruzen_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,286},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hiruzen_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,174},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,22}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
            <key>HokageMinato_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,286},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>HokageMinato_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,124},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Holyshit_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{107,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,24}}</string>
                <key>sourceSize</key>
                <string>{107,24}</string>
            </dict>
            <key>ImmortalSasuke_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,270},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ImmortalSasuke_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>Ino_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,270},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Ino_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,233},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>Itachi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,273},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Itachi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,177},{52,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,22}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>Jiraiya_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,273},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Jiraiya_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,124},{63,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,25}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>Jugo_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,250},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Jugo_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,187},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>Kakashi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,250},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kakashi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{73,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,22}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>Kakuzu_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,100},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>Kankuro_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,245},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kankuro_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,76},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>Karin_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,237},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Karin_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,173},{50,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>Kiba_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,237},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kiba_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,199},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>KillingSpree_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{139,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,24}}</string>
                <key>sourceSize</key>
                <string>{139,24}</string>
            </dict>
            <key>Kimimaro_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,238},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kimimaro_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{86,22}</string>
            </dict>
            <key>Kisame_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kisame_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,100},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>Konan_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,234},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Konan_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,151},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>Lee_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,234},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Lee_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,54},{81,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,22}}</string>
                <key>sourceSize</key>
                <string>{81,22}</string>
            </dict>
            <key>Minato_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,214},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Minato_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,124},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Nagato_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,214},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Nagato_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,101},{67,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,25}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>Naruto_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,223},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Naruto_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,153},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Neji_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,209},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Neji_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,160},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>Orochimaru_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,201},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Orochimaru_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,76},{106,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,23}}</string>
                <key>sourceSize</key>
                <string>{106,23}</string>
            </dict>
            <key>Pain_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,201},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Pain_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,197},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>Rampage_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,28},{120,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>Roshi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,202},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Roshi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,125},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>SageJiraiya_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SageJiraiya_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,124},{63,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,25}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>SageNaruto_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SageNaruto_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,153},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Sai_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Sai_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,197},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>Sakura_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,178},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Sakura_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,128},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>Sasuke_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,178},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Sasuke_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>Shikamaru_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,250},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Shikamaru_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,79},{97,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,23}}</string>
                <key>sourceSize</key>
                <string>{97,23}</string>
            </dict>
            <key>Shino_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,214},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Shino_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,153},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>Suigetsu_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,221},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Suigetsu_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{81,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,26}}</string>
                <key>sourceSize</key>
                <string>{81,26}</string>
            </dict>
            <key>Tenten_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,173},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tenten_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{72,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,22}}</string>
                <key>sourceSize</key>
                <string>{72,22}</string>
            </dict>
            <key>Tobi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,124},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tobi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,175},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>Tobirama_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,137},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tobirama_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,101},{87,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,22}}</string>
                <key>sourceSize</key>
                <string>{87,22}</string>
            </dict>
            <key>Tower_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{93,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,22}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>TripeKill_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,50},{112,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,24}}</string>
                <key>sourceSize</key>
                <string>{112,24}</string>
            </dict>
            <key>Tsunade_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,101},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tsunade_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,30},{81,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,22}}</string>
                <key>sourceSize</key>
                <string>{81,22}</string>
            </dict>
            <key>Unstoppable_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>destroy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{125,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,25}}</string>
                <key>sourceSize</key>
                <string>{125,25}</string>
            </dict>
            <key>skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,55},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>slain.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,78},{81,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,20}}</string>
                <key>sourceSize</key>
                <string>{83,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Report.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9559a3ddb7ddb6ecb33b5d4ad21595d8$</string>
            <key>textureFileName</key>
            <string>Report.png</string>
        </dict>
    </dict>
</plist>
