<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,549},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Choji_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,378},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>Deidara_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,548},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Deidara_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>Domination_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,33},{119,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,31}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>DoubleKill_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,30}}</string>
                <key>sourceSize</key>
                <string>{130,32}</string>
            </dict>
            <key>Fukasaku_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,549},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Fukasaku_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,23}</string>
            </dict>
            <key>Gaara_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,560},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Gaara_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,21}}</string>
                <key>sourceSize</key>
                <string>{60,23}</string>
            </dict>
            <key>Godlike_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,300},{63,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{63,31}}</string>
                <key>sourceSize</key>
                <string>{101,33}</string>
            </dict>
            <key>Han_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,546},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Han_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{83,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,21}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>Hidan_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,524},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hidan_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{55,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,20}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>Hinata_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,510},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hinata_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,333},{61,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,20}}</string>
                <key>sourceSize</key>
                <string>{61,22}</string>
            </dict>
            <key>Hiruzen_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,510},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Hiruzen_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
            <key>HokageMinato_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,549},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>HokageMinato_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Holyshit_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,96},{118,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,30}</string>
            </dict>
            <key>ImmortalSasuke_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,513},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ImmortalSasuke_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,149},{70,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,21}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>Ino_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,512},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Ino_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,582},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>Itachi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,512},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Itachi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,358},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>Jiraiya_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Jiraiya_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,137},{61,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,23}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>Jugo_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,488},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Jugo_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,355},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>Kakashi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,474},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kakashi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,20}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>Kakuzu_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,269},{69,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,20}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>Kankuro_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kankuro_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,223},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>Karin_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,474},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Karin_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,380},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>Kiba_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,477},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kiba_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,260},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>KillingSpree_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{127,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{127,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
            <key>Kimimaro_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,488},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kimimaro_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,195},{79,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,26}}</string>
                <key>sourceSize</key>
                <string>{81,26}</string>
            </dict>
            <key>Kisame_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,476},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Kisame_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>Konan_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,476},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Konan_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,336},{60,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,20}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>Lee_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,441},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Lee_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,149},{81,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,22}}</string>
                <key>sourceSize</key>
                <string>{81,22}</string>
            </dict>
            <key>Minato_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,440},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Minato_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Nagato_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,452},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Nagato_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{67,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,25}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>Naruto_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,440},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Naruto_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,314},{63,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,20}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Neji_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,438},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Neji_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,221},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>Orochimaru_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Orochimaru_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{104,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,21}}</string>
                <key>sourceSize</key>
                <string>{106,23}</string>
            </dict>
            <key>Pain_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,438},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Pain_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,236},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>Rampage_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{122,29}}</string>
                <key>sourceSize</key>
                <string>{130,29}</string>
            </dict>
            <key>Roshi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,405},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Roshi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{83,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,21}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>SageJiraiya_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,404},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SageJiraiya_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,137},{61,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,23}}</string>
                <key>sourceSize</key>
                <string>{63,25}</string>
            </dict>
            <key>SageNaruto_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,416},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SageNaruto_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,314},{63,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,20}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>Sai_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,404},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Sai_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>Sakura_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,402},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Sakura_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,291},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,21}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>Sasuke_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Sasuke_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,149},{70,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,21}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>Shikamaru_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,402},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Shikamaru_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{97,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,21}}</string>
                <key>sourceSize</key>
                <string>{97,23}</string>
            </dict>
            <key>Shino_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Shino_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,355},{54,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,21}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>Suigetsu_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,380},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Suigetsu_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,195},{79,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,26}}</string>
                <key>sourceSize</key>
                <string>{81,26}</string>
            </dict>
            <key>Suigetsu_rpf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,195},{79,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,26}}</string>
                <key>sourceSize</key>
                <string>{81,26}</string>
            </dict>
            <key>Tenten_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,344},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tenten_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,245},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{72,22}</string>
            </dict>
            <key>Tobi_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,308},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tobi_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,284},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>Tobirama_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,262},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tobirama_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{85,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,22}}</string>
                <key>sourceSize</key>
                <string>{87,22}</string>
            </dict>
            <key>Tower_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,126},{91,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{91,22}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>TripeKill_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,66},{123,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,28}}</string>
                <key>sourceSize</key>
                <string>{123,28}</string>
            </dict>
            <key>Tsunade_rp.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,200},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Tsunade_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,219},{79,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,22}}</string>
                <key>sourceSize</key>
                <string>{81,22}</string>
            </dict>
            <key>Unstoppable_rpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{128,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{144,24}</string>
            </dict>
            <key>destroy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{125,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,23}}</string>
                <key>sourceSize</key>
                <string>{125,25}</string>
            </dict>
            <key>skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,114},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>slain.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,173},{81,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,20}}</string>
                <key>sourceSize</key>
                <string>{83,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Report.png</string>
            <key>size</key>
            <string>{256,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba9c3586f351cb00ddec9a1aa89adf74$</string>
            <key>textureFileName</key>
            <string>Report.png</string>
        </dict>
    </dict>
</plist>
