<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Deidara_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,298},{295,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,18}</string>
            </dict>
            <key>Deidara_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{312,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,17}}</string>
                <key>sourceSize</key>
                <string>{312,17}</string>
            </dict>
            <key>Deidara_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{323,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,17}}</string>
                <key>sourceSize</key>
                <string>{323,17}</string>
            </dict>
            <key>Deidara_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{322,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,18}}</string>
                <key>sourceSize</key>
                <string>{322,18}</string>
            </dict>
            <key>Hinata_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{307,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,18}}</string>
                <key>sourceSize</key>
                <string>{307,18}</string>
            </dict>
            <key>Hinata_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{278,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,17}}</string>
                <key>sourceSize</key>
                <string>{278,17}</string>
            </dict>
            <key>Hinata_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{308,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,17}}</string>
                <key>sourceSize</key>
                <string>{308,17}</string>
            </dict>
            <key>Hinata_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{324,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,17}}</string>
                <key>sourceSize</key>
                <string>{324,17}</string>
            </dict>
            <key>Itachi_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{280,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,17}}</string>
                <key>sourceSize</key>
                <string>{280,17}</string>
            </dict>
            <key>Itachi_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,771},{263,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,17}}</string>
                <key>sourceSize</key>
                <string>{263,17}</string>
            </dict>
            <key>Itachi_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{296,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,17}}</string>
                <key>sourceSize</key>
                <string>{296,17}</string>
            </dict>
            <key>Itachi_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{324,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,17}}</string>
                <key>sourceSize</key>
                <string>{324,17}</string>
            </dict>
            <key>Jiraiya_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,878},{212,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,17}}</string>
                <key>sourceSize</key>
                <string>{212,17}</string>
            </dict>
            <key>Jiraiya_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,40},{244,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,19}}</string>
                <key>sourceSize</key>
                <string>{244,19}</string>
            </dict>
            <key>Jiraiya_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{291,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,17}}</string>
                <key>sourceSize</key>
                <string>{291,17}</string>
            </dict>
            <key>Jiraiya_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{307,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,17}}</string>
                <key>sourceSize</key>
                <string>{307,17}</string>
            </dict>
            <key>Kakashi_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,583},{259,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,17}}</string>
                <key>sourceSize</key>
                <string>{259,17}</string>
            </dict>
            <key>Kakashi_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,580},{277,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,18}}</string>
                <key>sourceSize</key>
                <string>{277,18}</string>
            </dict>
            <key>Kakashi_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{324,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,17}}</string>
                <key>sourceSize</key>
                <string>{324,17}</string>
            </dict>
            <key>Kakashi_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,830},{244,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,18}}</string>
                <key>sourceSize</key>
                <string>{244,18}</string>
            </dict>
            <key>Kankuro_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,888},{233,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,17}}</string>
                <key>sourceSize</key>
                <string>{233,17}</string>
            </dict>
            <key>Kankuro_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{296,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,17}}</string>
                <key>sourceSize</key>
                <string>{296,17}</string>
            </dict>
            <key>Kankuro_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{298,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,17}}</string>
                <key>sourceSize</key>
                <string>{298,17}</string>
            </dict>
            <key>Kankuro_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{297,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,17}}</string>
                <key>sourceSize</key>
                <string>{297,17}</string>
            </dict>
            <key>Konan_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{249,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,17}}</string>
                <key>sourceSize</key>
                <string>{249,17}</string>
            </dict>
            <key>Konan_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{282,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,17}}</string>
                <key>sourceSize</key>
                <string>{282,17}</string>
            </dict>
            <key>Konan_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{312,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,17}}</string>
                <key>sourceSize</key>
                <string>{312,17}</string>
            </dict>
            <key>Konan_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{311,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,17}}</string>
                <key>sourceSize</key>
                <string>{311,17}</string>
            </dict>
            <key>Minato_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,595},{261,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,18}}</string>
                <key>sourceSize</key>
                <string>{261,18}</string>
            </dict>
            <key>Minato_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{307,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,18}}</string>
                <key>sourceSize</key>
                <string>{307,18}</string>
            </dict>
            <key>Minato_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,869},{244,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,17}}</string>
                <key>sourceSize</key>
                <string>{244,17}</string>
            </dict>
            <key>Minato_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,583},{245,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,17}}</string>
                <key>sourceSize</key>
                <string>{245,17}</string>
            </dict>
            <key>Naruto_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,850},{244,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,17}}</string>
                <key>sourceSize</key>
                <string>{244,17}</string>
            </dict>
            <key>Naruto_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,790},{261,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,18}}</string>
                <key>sourceSize</key>
                <string>{261,18}</string>
            </dict>
            <key>Naruto_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{276,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,17}}</string>
                <key>sourceSize</key>
                <string>{276,17}</string>
            </dict>
            <key>Naruto_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{307,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,17}}</string>
                <key>sourceSize</key>
                <string>{307,17}</string>
            </dict>
            <key>Pain_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{281,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,17}}</string>
                <key>sourceSize</key>
                <string>{281,17}</string>
            </dict>
            <key>Pain_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,286},{295,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,18}</string>
            </dict>
            <key>Pain_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,40},{256,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,19}}</string>
                <key>sourceSize</key>
                <string>{256,19}</string>
            </dict>
            <key>Pain_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,595},{260,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,18}}</string>
                <key>sourceSize</key>
                <string>{260,18}</string>
            </dict>
            <key>Sai_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{282,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,17}}</string>
                <key>sourceSize</key>
                <string>{282,17}</string>
            </dict>
            <key>Sai_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{293,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,18}}</string>
                <key>sourceSize</key>
                <string>{293,18}</string>
            </dict>
            <key>Sai_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{310,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,18}}</string>
                <key>sourceSize</key>
                <string>{310,18}</string>
            </dict>
            <key>Sai_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{291,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,18}}</string>
                <key>sourceSize</key>
                <string>{291,18}</string>
            </dict>
            <key>Sakura_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,859},{213,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,17}}</string>
                <key>sourceSize</key>
                <string>{213,17}</string>
            </dict>
            <key>Sakura_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{165,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,17}}</string>
                <key>sourceSize</key>
                <string>{165,17}</string>
            </dict>
            <key>Sakura_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,897},{211,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,17}}</string>
                <key>sourceSize</key>
                <string>{211,17}</string>
            </dict>
            <key>Sakura_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,17}}</string>
                <key>sourceSize</key>
                <string>{325,17}</string>
            </dict>
            <key>Sasuke_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{291,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,17}}</string>
                <key>sourceSize</key>
                <string>{291,17}</string>
            </dict>
            <key>Sasuke_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,810},{244,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,18}}</string>
                <key>sourceSize</key>
                <string>{244,18}</string>
            </dict>
            <key>Sasuke_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,21},{309,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,19}}</string>
                <key>sourceSize</key>
                <string>{309,19}</string>
            </dict>
            <key>Sasuke_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{307,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,17}}</string>
                <key>sourceSize</key>
                <string>{307,17}</string>
            </dict>
            <key>Shikamaru_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{276,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,17}}</string>
                <key>sourceSize</key>
                <string>{276,17}</string>
            </dict>
            <key>Shikamaru_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,810},{212,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,17}}</string>
                <key>sourceSize</key>
                <string>{212,17}</string>
            </dict>
            <key>Shikamaru_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{308,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,17}}</string>
                <key>sourceSize</key>
                <string>{308,17}</string>
            </dict>
            <key>Shikamaru_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{290,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,18}}</string>
                <key>sourceSize</key>
                <string>{290,18}</string>
            </dict>
            <key>Suigetsu_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{275,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,17}}</string>
                <key>sourceSize</key>
                <string>{275,17}</string>
            </dict>
            <key>Suigetsu_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,40},{306,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,18}}</string>
                <key>sourceSize</key>
                <string>{306,18}</string>
            </dict>
            <key>Suigetsu_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{293,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,17}}</string>
                <key>sourceSize</key>
                <string>{293,17}</string>
            </dict>
            <key>Suigetsu_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{309,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,17}}</string>
                <key>sourceSize</key>
                <string>{309,17}</string>
            </dict>
            <key>Tenten_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{293,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,18}}</string>
                <key>sourceSize</key>
                <string>{293,18}</string>
            </dict>
            <key>Tenten_label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{274,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,18}}</string>
                <key>sourceSize</key>
                <string>{274,18}</string>
            </dict>
            <key>Tenten_label3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{292,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,17}}</string>
                <key>sourceSize</key>
                <string>{292,17}</string>
            </dict>
            <key>Tenten_label4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{277,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,17}}</string>
                <key>sourceSize</key>
                <string>{277,17}</string>
            </dict>
            <key>fenglabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,21},{157,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,17}}</string>
                <key>sourceSize</key>
                <string>{157,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Select2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c009dd4b6d2696a46911bdde223b3b6$</string>
            <key>textureFileName</key>
            <string>Select2.png</string>
        </dict>
    </dict>
</plist>
