<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sai_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,935},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>Sai_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,935},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Sai_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,821},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>Sai_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>Sai_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,681},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>Sai_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,890},{43,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,65}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>Sai_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,801},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,773},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,784},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,71}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,794},{46,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,613},{61,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>Sai_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,388},{77,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{77,24}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>Sai_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,308},{78,26}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>Sai_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,227},{79,26}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{79,26}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>Sai_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,892},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>Sai_NAttack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,877},{50,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>Sai_NAttack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,849},{41,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,69}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>Sai_NAttack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,961},{54,61}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>Sai_NAttack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,228},{116,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{116,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>Sai_NAttack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,65}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{154,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>Sai_NAttack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{130,65}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{130,65}}</string>
                <key>sourceSize</key>
                <string>{190,65}</string>
            </dict>
            <key>Sai_NAttack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,744},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>Sai_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,832},{43,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,69}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>Sai_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,670},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>Sai_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,673},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>Sai_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,753},{46,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,71}</string>
            </dict>
            <key>Sai_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,561},{82,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>Sai_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,614},{80,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>Sai_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,743},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>Sai_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,628},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>Sai_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,614},{54,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>Sai_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,295},{115,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,66}}</string>
                <key>sourceSize</key>
                <string>{115,72}</string>
            </dict>
            <key>Sai_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{60,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>Sai_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{75,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>Sai_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,53},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>Sai_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,793},{46,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>Sai_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,538},{37,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,73}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>Sai_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,148},{29,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,77}}</string>
                <key>sourceSize</key>
                <string>{29,77}</string>
            </dict>
            <key>Sai_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,841},{44,51}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>Sai_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,490},{35,47}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,77}</string>
            </dict>
            <key>Sai_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,69},{29,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,77}}</string>
                <key>sourceSize</key>
                <string>{29,77}</string>
            </dict>
            <key>Sai_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,929},{43,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,65}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>Sai_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,561},{64,51}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{146,51}</string>
            </dict>
            <key>Sai_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,842},{66,46}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>Sai_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,461},{108,50}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{108,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>Sai_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{146,55}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,55}}</string>
                <key>sourceSize</key>
                <string>{146,65}</string>
            </dict>
            <key>Sai_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,69},{120,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>Sai_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{120,51}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{120,51}}</string>
                <key>sourceSize</key>
                <string>{146,65}</string>
            </dict>
            <key>Sai_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>Sai_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,879},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>Sai_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>Sai_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,365},{83,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{83,111}</string>
            </dict>
            <key>Sai_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{43,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,107}}</string>
                <key>sourceSize</key>
                <string>{43,107}</string>
            </dict>
            <key>Sai_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,726},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>Sai_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,734},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>Sai_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{102,69}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>Sai_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,490},{106,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,69}}</string>
                <key>sourceSize</key>
                <string>{106,71}</string>
            </dict>
            <key>Sai_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{98,69}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{98,69}}</string>
                <key>sourceSize</key>
                <string>{108,69}</string>
            </dict>
            <key>Sai_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{102,83}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>Sai_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,99},{107,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>Sai_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,538},{98,103}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{108,103}</string>
            </dict>
            <key>Sai_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,121},{118,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{118,105}</string>
            </dict>
            <key>Sai_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,638},{100,86}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>Sai_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,513},{99,103}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{123,103}</string>
            </dict>
            <key>Sai_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{120,108}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>Sai_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,299},{114,87}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,87}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>Sai_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,171},{116,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{116,88}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>Sai_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,81}</string>
            </dict>
            <key>Sai_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,192},{108,105}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{108,105}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>Sai_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,59},{121,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{121,110}}</string>
                <key>sourceSize</key>
                <string>{125,114}</string>
            </dict>
            <key>Sai_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,261},{115,102}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,102}}</string>
                <key>sourceSize</key>
                <string>{125,110}</string>
            </dict>
            <key>Sai_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,388},{108,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{108,100}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>Sai_Skill05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,363},{112,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>Sai_Skill05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,450},{110,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>Sai_Skill05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{110,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{116,92}</string>
            </dict>
            <key>Sai_Skill05_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{116,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,92}</string>
            </dict>
            <key>Sai_Skill05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,676},{44,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>Sai_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,929},{65,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>Sai_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,841},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Sai_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,945},{55,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>Sai_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,944},{65,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>Sai_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,930},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Sai_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,894},{55,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca6c1d8f7d1250263b0f9dc227185ab$</string>
            <key>textureFileName</key>
            <string>Sai.png</string>
        </dict>
    </dict>
</plist>
