<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hidan_AirHurt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,231},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>Hidan_Float_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,185},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
            <key>Hidan_Float_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,638},{58,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,84}}</string>
                <key>sourceSize</key>
                <string>{58,84}</string>
            </dict>
            <key>Hidan_Float_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,416},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>Hidan_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>Hidan_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,315},{84,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,60}}</string>
                <key>sourceSize</key>
                <string>{84,60}</string>
            </dict>
            <key>Hidan_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,315},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,435},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,407},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,435},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{101,71}</string>
            </dict>
            <key>Hidan_KnockDown_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,424},{77,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>Hidan_KnockDown_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{83,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,91}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>Hidan_KnockDown_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,185},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>Hidan_KnockDown_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,352},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,58}</string>
            </dict>
            <key>Hidan_KnockDown_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{84,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>Hidan_NAttack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,499},{84,74}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{84,74}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,449},{84,74}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{84,74}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,487},{84,76}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{84,76}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,481},{84,76}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,26},{84,76}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,406},{84,72}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{84,72}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,277},{84,78}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{84,78}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,64},{112,102}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,251},{110,68}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{110,68}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>Hidan_NAttack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,148},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>Hidan_NAttack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,480},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>Hidan_NAttack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{92,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,59}}</string>
                <key>sourceSize</key>
                <string>{92,59}</string>
            </dict>
            <key>Hidan_NAttack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{138,65}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{138,65}}</string>
                <key>sourceSize</key>
                <string>{206,65}</string>
            </dict>
            <key>Hidan_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,575},{84,61}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,548},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,562},{84,57}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,525},{84,61}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,548},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,559},{84,57}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Skill01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,363},{85,74}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{85,74}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,94},{97,90}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,286},{67,88}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{67,88}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,331},{85,86}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{85,86}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,268},{85,88}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{85,88}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>Hidan_Skill02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,401},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>Hidan_Skill02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,492},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>Hidan_Skill02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,168},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>Hidan_Skill02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,223},{102,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,61}}</string>
                <key>sourceSize</key>
                <string>{102,61}</string>
            </dict>
            <key>Hidan_Skill03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,255},{92,90}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{92,90}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,64},{182,82}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{182,82}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{142,100}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{142,100}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,148},{120,88}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{120,88}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>Hidan_Skill04_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,64},{142,88}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,2},{142,88}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{192,86}}</string>
                <key>offset</key>
                <string>{43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,4},{192,86}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,90}}</string>
                <key>offset</key>
                <string>{69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{244,90}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{238,60}}</string>
                <key>offset</key>
                <string>{66,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,30},{238,60}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{200,60}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,30},{200,60}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{120,60}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,30},{120,60}}</string>
                <key>sourceSize</key>
                <string>{382,90}</string>
            </dict>
            <key>Hidan_Skill04_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,588},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>Hidan_Skill04_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,358},{85,75}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{85,75}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,154},{67,115}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{67,115}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,164},{111,85}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{111,85}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,238},{101,75}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{101,75}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,90},{89,79}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{89,79}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,291},{59,87}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{59,87}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,181},{85,79}}</string>
                <key>offset</key>
                <string>{34,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,39},{85,79}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,69},{121,93}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{121,93}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,90},{111,93}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{111,93}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,186},{67,95}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{67,95}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill04_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,388},{85,59}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,68},{85,59}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>Hidan_Skill05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,480},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,480},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,698},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,648},{70,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,609},{72,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill05_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,575},{74,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Hidan_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,321},{84,85}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,85}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Hidan_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,245},{84,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>Hidan_Skill12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,347},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,439},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,418},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,412},{85,67}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,355},{85,67}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Skill12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{85,59}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{85,59}}</string>
                <key>sourceSize</key>
                <string>{113,67}</string>
            </dict>
            <key>Hidan_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,320},{84,61}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,503},{84,57}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,234},{84,61}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{84,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,59}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>Hidan_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{84,57}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{84,57}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hidan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c992995cdf85707c5b228496b77999de$</string>
            <key>textureFileName</key>
            <string>Hidan.png</string>
        </dict>
    </dict>
</plist>
