<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Konan_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,434},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,57}}</string>
                <key>sourceSize</key>
                <string>{47,57}</string>
            </dict>
            <key>Konan_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,770},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>Konan_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,813},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>Konan_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>Konan_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,695},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>Konan_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,357},{46,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>Konan_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,746},{24,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,77}}</string>
                <key>sourceSize</key>
                <string>{24,77}</string>
            </dict>
            <key>Konan_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,720},{24,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,77}}</string>
                <key>sourceSize</key>
                <string>{24,77}</string>
            </dict>
            <key>Konan_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{26,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,77}}</string>
                <key>sourceSize</key>
                <string>{26,77}</string>
            </dict>
            <key>Konan_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{24,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,77}}</string>
                <key>sourceSize</key>
                <string>{24,77}</string>
            </dict>
            <key>Konan_Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,821},{24,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,77}}</string>
                <key>sourceSize</key>
                <string>{24,77}</string>
            </dict>
            <key>Konan_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,829},{56,42}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{56,42}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>Konan_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,384},{77,30}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{77,30}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>Konan_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,470},{82,26}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Konan_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,847},{56,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>Konan_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,772},{33,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,76}}</string>
                <key>sourceSize</key>
                <string>{33,82}</string>
            </dict>
            <key>Konan_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,669},{24,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,78}}</string>
                <key>sourceSize</key>
                <string>{24,82}</string>
            </dict>
            <key>Konan_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,779},{32,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,76}}</string>
                <key>sourceSize</key>
                <string>{32,78}</string>
            </dict>
            <key>Konan_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,648},{29,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,78}}</string>
                <key>sourceSize</key>
                <string>{29,78}</string>
            </dict>
            <key>Konan_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>Konan_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,543},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>Konan_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>Konan_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,635},{32,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,78}}</string>
                <key>sourceSize</key>
                <string>{32,78}</string>
            </dict>
            <key>Konan_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,695},{23,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,78}}</string>
                <key>sourceSize</key>
                <string>{23,78}</string>
            </dict>
            <key>Konan_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,577},{42,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{42,78}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>Konan_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,383},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>Konan_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,384},{84,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>Konan_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,58}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{143,58}}</string>
                <key>sourceSize</key>
                <string>{143,90}</string>
            </dict>
            <key>Konan_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{129,62}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{129,62}}</string>
                <key>sourceSize</key>
                <string>{129,90}</string>
            </dict>
            <key>Konan_NAttack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,485},{80,68}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>Konan_NAttack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{37,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{37,78}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>Konan_NAttack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{39,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,90}</string>
            </dict>
            <key>Konan_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,459},{24,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,81}}</string>
                <key>sourceSize</key>
                <string>{24,83}</string>
            </dict>
            <key>Konan_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,434},{34,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,83}}</string>
                <key>sourceSize</key>
                <string>{34,83}</string>
            </dict>
            <key>Konan_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,83}}</string>
                <key>sourceSize</key>
                <string>{52,83}</string>
            </dict>
            <key>Konan_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,553},{58,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,83}</string>
            </dict>
            <key>Konan_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,493},{75,49}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>Konan_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{96,23}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{96,23}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>Konan_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,284},{109,23}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{109,23}}</string>
                <key>sourceSize</key>
                <string>{109,83}</string>
            </dict>
            <key>Konan_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,779},{32,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,76}}</string>
                <key>sourceSize</key>
                <string>{32,78}</string>
            </dict>
            <key>Konan_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,463},{29,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,78}}</string>
                <key>sourceSize</key>
                <string>{29,78}</string>
            </dict>
            <key>Konan_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,470},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>Konan_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,538},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>Konan_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,600},{55,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>Konan_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>Konan_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,698},{38,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{38,78}</string>
            </dict>
            <key>Konan_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,657},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>Konan_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,570},{52,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>Konan_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,799},{74,58}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>Konan_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,493},{75,58}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>Konan_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,713},{51,58}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>Konan_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,739},{77,58}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{77,58}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>Konan_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,807},{38,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,78}</string>
            </dict>
            <key>Konan_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,621},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>Konan_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,704},{33,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,78}}</string>
                <key>sourceSize</key>
                <string>{33,78}</string>
            </dict>
            <key>Konan_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,277},{25,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,78}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>Konan_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,679},{23,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,78}}</string>
                <key>sourceSize</key>
                <string>{23,78}</string>
            </dict>
            <key>Konan_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,277},{25,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,78}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>Konan_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,738},{37,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,78}}</string>
                <key>sourceSize</key>
                <string>{37,78}</string>
            </dict>
            <key>Konan_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,664},{38,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,78}}</string>
                <key>sourceSize</key>
                <string>{38,78}</string>
            </dict>
            <key>Konan_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{37,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,78}}</string>
                <key>sourceSize</key>
                <string>{37,78}</string>
            </dict>
            <key>Konan_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,613},{33,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,76}}</string>
                <key>sourceSize</key>
                <string>{33,76}</string>
            </dict>
            <key>Konan_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,847},{41,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,73}}</string>
                <key>sourceSize</key>
                <string>{41,73}</string>
            </dict>
            <key>Konan_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,405},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>Konan_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{65,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,126}}</string>
                <key>sourceSize</key>
                <string>{65,126}</string>
            </dict>
            <key>Konan_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,134},{66,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,126}}</string>
                <key>sourceSize</key>
                <string>{66,126}</string>
            </dict>
            <key>Konan_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,94},{66,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,126}}</string>
                <key>sourceSize</key>
                <string>{66,126}</string>
            </dict>
            <key>Konan_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,66},{66,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,126}}</string>
                <key>sourceSize</key>
                <string>{66,126}</string>
            </dict>
            <key>Konan_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,773},{42,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>Konan_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,309},{73,104}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,104}}</string>
                <key>sourceSize</key>
                <string>{73,114}</string>
            </dict>
            <key>Konan_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{113,104}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,104}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>Konan_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,248},{109,104}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,104}}</string>
                <key>sourceSize</key>
                <string>{109,114}</string>
            </dict>
            <key>Konan_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,197},{109,104}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,104}}</string>
                <key>sourceSize</key>
                <string>{109,114}</string>
            </dict>
            <key>Konan_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{110,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>Konan_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,623},{54,70}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>Konan_Skill05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,197},{25,78}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{25,78}}</string>
                <key>sourceSize</key>
                <string>{25,108}</string>
            </dict>
            <key>Konan_Skill05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,777},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>Konan_Skill05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,634},{51,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,77}</string>
            </dict>
            <key>Konan_Skill05_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,704},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>Konan_Skill05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{93,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>Konan_Skill05_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,126}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>Konan_Skill05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{128,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>Konan_Skill05_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,162},{112,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{112,84}}</string>
                <key>sourceSize</key>
                <string>{112,90}</string>
            </dict>
            <key>Konan_Skill05_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,202},{111,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>Konan_Skill05_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,117},{118,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{118,78}}</string>
                <key>sourceSize</key>
                <string>{118,90}</string>
            </dict>
            <key>Konan_Skill05_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{60,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>Konan_Skill10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,657},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>Konan_Skill10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,498},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>Konan_Skill10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,657},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>Konan_Skill10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,354},{91,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>Konan_Skill10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,303},{91,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>Konan_Skill10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,555},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>Konan_Skill10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,354},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>Konan_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,920},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Konan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2470e085021519d056b0ee48749776a8$</string>
            <key>textureFileName</key>
            <string>Konan.png</string>
        </dict>
    </dict>
</plist>
