<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fukasaku_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,256},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>Fukasaku_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,308},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>Fukasaku_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,281},{77,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,29}}</string>
                <key>sourceSize</key>
                <string>{77,29}</string>
            </dict>
            <key>Fukasaku_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{77,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,37}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>Fukasaku_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,379},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>Fukasaku_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>Fukasaku_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,339},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>Fukasaku_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,275},{66,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>Fukasaku_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,430},{67,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,44}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>Fukasaku_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,408},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>Fukasaku_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{76,33}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{76,33}}</string>
                <key>sourceSize</key>
                <string>{76,49}</string>
            </dict>
            <key>Fukasaku_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,234},{80,19}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{80,19}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>Fukasaku_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{74,25}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{74,25}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>Fukasaku_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{77,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,47}}</string>
                <key>sourceSize</key>
                <string>{79,49}</string>
            </dict>
            <key>Fukasaku_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,289},{72,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{72,49}</string>
            </dict>
            <key>Fukasaku_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,427},{67,37}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>Fukasaku_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,361},{59,40}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>Fukasaku_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,403},{45,40}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>Fukasaku_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,379},{73,44}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{73,44}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>Fukasaku_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,312},{75,44}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>Fukasaku_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,454},{61,56}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>Fukasaku_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,164},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>Fukasaku_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,90},{82,46}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>Fukasaku_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,128},{82,34}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{82,34}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>Fukasaku_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,255},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>Fukasaku_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,245},{79,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,34}}</string>
                <key>sourceSize</key>
                <string>{79,34}</string>
            </dict>
            <key>Fukasaku_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,202},{70,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>Fukasaku_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,445},{64,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>Fukasaku_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,291},{63,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{63,46}</string>
            </dict>
            <key>Fukasaku_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,291},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>Fukasaku_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,183},{131,41}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{297,41}</string>
            </dict>
            <key>Fukasaku_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,43},{203,41}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{203,41}}</string>
                <key>sourceSize</key>
                <string>{297,41}</string>
            </dict>
            <key>Fukasaku_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,41}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{205,41}}</string>
                <key>sourceSize</key>
                <string>{297,41}</string>
            </dict>
            <key>Fukasaku_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{205,39}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{205,39}}</string>
                <key>sourceSize</key>
                <string>{297,39}</string>
            </dict>
            <key>Fukasaku_Skill01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{200,39}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{200,39}}</string>
                <key>sourceSize</key>
                <string>{296,39}</string>
            </dict>
            <key>Fukasaku_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,244},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>Fukasaku_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,407},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>Fukasaku_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,407},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>Fukasaku_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,45},{88,43}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{258,43}</string>
            </dict>
            <key>Fukasaku_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,138},{120,43}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{120,43}}</string>
                <key>sourceSize</key>
                <string>{258,43}</string>
            </dict>
            <key>Fukasaku_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{152,43}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{258,43}</string>
            </dict>
            <key>Fukasaku_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,148},{142,52}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{258,52}</string>
            </dict>
            <key>Fukasaku_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,86},{148,60}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{258,60}</string>
            </dict>
            <key>Fukasaku_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,360},{68,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,37}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>Fukasaku_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,340},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>Fukasaku_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,426},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>Fukasaku_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,358},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>Fukasaku_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,202},{80,41}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{80,41}}</string>
                <key>sourceSize</key>
                <string>{240,41}</string>
            </dict>
            <key>Fukasaku_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,41}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{92,41}}</string>
                <key>sourceSize</key>
                <string>{240,41}</string>
            </dict>
            <key>Fukasaku_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,86},{106,40}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{106,40}}</string>
                <key>sourceSize</key>
                <string>{240,40}</string>
            </dict>
            <key>Fukasaku_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,226},{122,47}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{122,47}}</string>
                <key>sourceSize</key>
                <string>{240,47}</string>
            </dict>
            <key>Fukasaku_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{132,55}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{132,55}}</string>
                <key>sourceSize</key>
                <string>{240,55}</string>
            </dict>
            <key>Fukasaku_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{142,66}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{238,66}</string>
            </dict>
            <key>Fukasaku_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,319},{66,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>Fukasaku_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,339},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>Fukasaku_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,361},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>Fukasaku_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,358},{67,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fukasaku.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d1e08fefaa21af8219d4771012656d0$</string>
            <key>textureFileName</key>
            <string>Fukasaku.png</string>
        </dict>
    </dict>
</plist>
