<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C3_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,328},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Centipede_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,338},{131,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,81}}</string>
                <key>sourceSize</key>
                <string>{131,85}</string>
            </dict>
            <key>Centipede_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,329},{132,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,85}}</string>
                <key>sourceSize</key>
                <string>{132,85}</string>
            </dict>
            <key>Centipede_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,242},{138,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,85}}</string>
                <key>sourceSize</key>
                <string>{138,85}</string>
            </dict>
            <key>Centipede_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{149,83}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{149,83}}</string>
                <key>sourceSize</key>
                <string>{149,95}</string>
            </dict>
            <key>Centipede_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,330},{144,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,93}}</string>
                <key>sourceSize</key>
                <string>{144,95}</string>
            </dict>
            <key>Centipede_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,329},{136,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,93}}</string>
                <key>sourceSize</key>
                <string>{136,95}</string>
            </dict>
            <key>Centipede_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,454},{127,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,93}}</string>
                <key>sourceSize</key>
                <string>{127,95}</string>
            </dict>
            <key>Centipede_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,384},{157,81}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{157,81}}</string>
                <key>sourceSize</key>
                <string>{157,95}</string>
            </dict>
            <key>Centipede_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,467},{157,75}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{157,75}}</string>
                <key>sourceSize</key>
                <string>{157,95}</string>
            </dict>
            <key>Centipede_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,416},{131,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,83}}</string>
                <key>sourceSize</key>
                <string>{131,87}</string>
            </dict>
            <key>Centipede_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,424},{127,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,85}}</string>
                <key>sourceSize</key>
                <string>{127,87}</string>
            </dict>
            <key>Centipede_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,242},{137,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,85}}</string>
                <key>sourceSize</key>
                <string>{137,87}</string>
            </dict>
            <key>Centipede_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{138,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,87}}</string>
                <key>sourceSize</key>
                <string>{138,87}</string>
            </dict>
            <key>DeidaraBom_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,432},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>DeidaraBom_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,238},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
            <key>DeidaraBom_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{246,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,83}}</string>
                <key>sourceSize</key>
                <string>{246,83}</string>
            </dict>
            <key>DeidaraBom_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{280,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,84}}</string>
                <key>sourceSize</key>
                <string>{280,84}</string>
            </dict>
            <key>DeidaraBom_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,238},{284,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,90}}</string>
                <key>sourceSize</key>
                <string>{284,90}</string>
            </dict>
            <key>DeidaraBom_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,128},{328,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,112}}</string>
                <key>sourceSize</key>
                <string>{328,112}</string>
            </dict>
            <key>DeidaraBom_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{322,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,118}}</string>
                <key>sourceSize</key>
                <string>{322,118}</string>
            </dict>
            <key>DeidaraBom_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,118}}</string>
                <key>sourceSize</key>
                <string>{342,118}</string>
            </dict>
            <key>DeidaraBom_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{330,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,124}}</string>
                <key>sourceSize</key>
                <string>{330,124}</string>
            </dict>
            <key>DeidaraBom_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,118},{336,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,118}}</string>
                <key>sourceSize</key>
                <string>{336,118}</string>
            </dict>
            <key>DeidaraBom_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{340,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,114}}</string>
                <key>sourceSize</key>
                <string>{340,114}</string>
            </dict>
            <key>DeidaraBom_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,330},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>Spider_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,152},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>Spider_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,137},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>Spider_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,167},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>Spider_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,122},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>bom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,189},{22,12}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,94}</string>
            </dict>
            <key>bom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,362},{30,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,90}}</string>
                <key>sourceSize</key>
                <string>{30,94}</string>
            </dict>
            <key>bom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,430},{33,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,88}}</string>
                <key>sourceSize</key>
                <string>{33,94}</string>
            </dict>
            <key>bom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,336},{34,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,92}}</string>
                <key>sourceSize</key>
                <string>{34,94}</string>
            </dict>
            <key>bom_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,242},{39,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,92}}</string>
                <key>sourceSize</key>
                <string>{39,94}</string>
            </dict>
            <key>bom_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,242},{46,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,94}}</string>
                <key>sourceSize</key>
                <string>{46,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Deidara_Skill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c84bf94a1262a491abf53f1fb8708f68$</string>
            <key>textureFileName</key>
            <string>Deidara_Skill.png</string>
        </dict>
    </dict>
</plist>
