<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sabaku_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,134},{232,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,9}}</string>
                <key>sourceSize</key>
                <string>{232,9}</string>
            </dict>
            <key>Sabaku_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,312},{208,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,14}}</string>
                <key>sourceSize</key>
                <string>{208,14}</string>
            </dict>
            <key>Sabaku_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,437},{186,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,22}}</string>
                <key>sourceSize</key>
                <string>{186,22}</string>
            </dict>
            <key>Sabaku_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,385},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>Sabaku_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,426},{198,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,48}}</string>
                <key>sourceSize</key>
                <string>{198,48}</string>
            </dict>
            <key>Sabaku_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,328},{206,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,55}}</string>
                <key>sourceSize</key>
                <string>{206,55}</string>
            </dict>
            <key>Sabaku_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,245},{210,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,65}}</string>
                <key>sourceSize</key>
                <string>{210,65}</string>
            </dict>
            <key>Sabaku_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,145},{212,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,98}}</string>
                <key>sourceSize</key>
                <string>{212,98}</string>
            </dict>
            <key>Sabaku_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{236,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,130}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>Sabaku_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,157}}</string>
                <key>sourceSize</key>
                <string>{260,157}</string>
            </dict>
            <key>Sabaku_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{256,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,172}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>Sabaku_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{256,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
            <key>Sabaku_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{256,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,108}}</string>
                <key>sourceSize</key>
                <string>{256,108}</string>
            </dict>
            <key>Sabaku_Move_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{256,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,97}}</string>
                <key>sourceSize</key>
                <string>{256,97}</string>
            </dict>
            <key>Sabaku_Move_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,461},{256,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,110}}</string>
                <key>sourceSize</key>
                <string>{256,110}</string>
            </dict>
            <key>Sabaku_Move_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{259,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,48}}</string>
                <key>sourceSize</key>
                <string>{259,48}</string>
            </dict>
            <key>SandBall_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,745},{103,22}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{103,22}}</string>
                <key>sourceSize</key>
                <string>{105,88}</string>
            </dict>
            <key>SandBall_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,182},{98,30}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>SandBall_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,850},{92,56}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SandBall_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,944},{91,64}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>SandBall_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,629},{86,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>SandBall_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,461},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>SandBall_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,715},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,86}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>SandBall_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,549},{78,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>SandBall_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{75,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{75,84}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>SandSRK_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,850},{86,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,53}}</string>
                <key>sourceSize</key>
                <string>{86,53}</string>
            </dict>
            <key>SandSRK_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{94,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{96,53}</string>
            </dict>
            <key>SandSRK_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,718},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>SandStream_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,145},{25,10}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,78}</string>
            </dict>
            <key>SandStream_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,134},{46,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,12}}</string>
                <key>sourceSize</key>
                <string>{46,12}</string>
            </dict>
            <key>SandStream_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,282},{37,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,78}}</string>
                <key>sourceSize</key>
                <string>{37,78}</string>
            </dict>
            <key>SandStream_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,626},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>SandStream_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,362},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>SandStream_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,706},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>SandStream_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,134},{46,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,12}}</string>
                <key>sourceSize</key>
                <string>{46,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gaara_Skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f8a0f3e623b51db4e353b3cea711e3$</string>
            <key>textureFileName</key>
            <string>Gaara_Skill.png</string>
        </dict>
    </dict>
</plist>
