<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HugeSRK_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,247},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>HugeSRK_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,220},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>HugeSRK_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,220},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>Monkey_Idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,338},{78,61}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{78,61}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>Monkey_Idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,254},{88,61}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{88,61}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>Monkey_Idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,261},{88,61}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{88,61}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>Monkey_Idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,184},{90,61}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,61}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>Monkey_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,75}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>Monkey_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,75}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>Monkey_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,79},{80,71}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>Monkey_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,317},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>Monkey_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,284},{85,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,63}}</string>
                <key>sourceSize</key>
                <string>{85,63}</string>
            </dict>
            <key>Monkey_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,182},{102,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,70}}</string>
                <key>sourceSize</key>
                <string>{102,70}</string>
            </dict>
            <key>TodonPillar_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,152},{80,30}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,80},{80,30}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,182},{100,50}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,60},{100,50}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{124,72}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{124,72}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{138,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{138,102}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>TodonPillar_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,76},{122,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{122,104}}</string>
                <key>sourceSize</key>
                <string>{142,110}</string>
            </dict>
            <key>Tuji2_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,111},{120,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,107}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>Tuji2_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{143,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{143,107}}</string>
                <key>sourceSize</key>
                <string>{143,109}</string>
            </dict>
            <key>Tuji2_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,89}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{155,89}}</string>
                <key>sourceSize</key>
                <string>{155,109}</string>
            </dict>
            <key>Tuji2_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{118,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{118,83}}</string>
                <key>sourceSize</key>
                <string>{118,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hiruzen_Skill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:959c124f7ed35c13a555715d527f31ce$</string>
            <key>textureFileName</key>
            <string>Hiruzen_Skill.png</string>
        </dict>
    </dict>
</plist>
