<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Amaterasu_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,856},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>Amaterasu_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,732},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>Amaterasu_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,972},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>Amaterasu_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,915},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>Amaterasu_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,972},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>Amaterasu_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,731},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>ItachiSusano_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,266},{210,252}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>ItachiSusano_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{208,286}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{208,286}}</string>
                <key>sourceSize</key>
                <string>{264,286}</string>
            </dict>
            <key>ItachiSusano_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{214,262}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,262}}</string>
                <key>sourceSize</key>
                <string>{264,262}</string>
            </dict>
            <key>ItachiSusano_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{208,268}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{208,268}}</string>
                <key>sourceSize</key>
                <string>{264,268}</string>
            </dict>
            <key>ItachiSusano_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,520},{250,238}}</string>
                <key>offset</key>
                <string>{-31,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,238}}</string>
                <key>sourceSize</key>
                <string>{312,282}</string>
            </dict>
            <key>ItachiSusano_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{186,198}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{186,198}}</string>
                <key>sourceSize</key>
                <string>{312,282}</string>
            </dict>
            <key>ItachiSusano_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,234}}</string>
                <key>offset</key>
                <string>{77,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,48},{288,234}}</string>
                <key>sourceSize</key>
                <string>{442,282}</string>
            </dict>
            <key>SusanoTama_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,732},{52,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>SusanoTama_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,972},{50,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>SusanoTama_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{53,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,37}</string>
            </dict>
            <key>SusanoTama_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,972},{50,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>SusanoTama_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,658},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{39,32}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>SusanoTama_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{53,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{53,50}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>SusanoTama_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,791},{63,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{63,62}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>SusanoTama_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,658},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{71,68}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>SusanoTama_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,658},{77,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>SusanoTama_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{75,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Itachi_Skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9acc48c5aa799658925c4c23de3a6537$</string>
            <key>textureFileName</key>
            <string>Itachi_Skill.png</string>
        </dict>
    </dict>
</plist>
