<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoneBullet_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,49},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>BoneBullet_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,34},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>BoneBullet_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,34},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>BoneBullet_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>BoneBullet_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,34},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>BoneBullet_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,34},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>Bone_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,30}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>Bone_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,30}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>Bone_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{52,34}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>Bone_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,88},{44,32}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{44,32}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jugo_Skill.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b6704257bdb79e743fc3e8e7f4e429c$</string>
            <key>textureFileName</key>
            <string>Jugo_Skill.png</string>
        </dict>
    </dict>
</plist>
