<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dogs_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,233},{64,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,8}}</string>
                <key>sourceSize</key>
                <string>{64,8}</string>
            </dict>
            <key>Dogs_Nattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>Dogs_Nattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>Dogs_Nattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>Dogs_Nattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,192},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>Park_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,243},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>Park_Nattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>Park_Nattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,38},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>Park_Nattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,64},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>Shenwei_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,32},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{86,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{34,38}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,232},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{22,22}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,233},{12,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{12,12}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kakashi_Skill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739e341c2c3e23494e9f1914e1828645$</string>
            <key>textureFileName</key>
            <string>Kakashi_Skill.png</string>
        </dict>
    </dict>
</plist>
