<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KarasuSRK_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,33},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>KarasuSRK_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>KarasuSRK_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>Kuroari_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{59,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,95}}</string>
                <key>sourceSize</key>
                <string>{59,95}</string>
            </dict>
            <key>Kuroari_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>Kuroari_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>Kuroari_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kankuro_Skill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef246da9b04f1dacc28973d050d7a78d$</string>
            <key>textureFileName</key>
            <string>Kankuro_Skill.png</string>
        </dict>
    </dict>
</plist>
