<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PaperRain_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{126,44}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,59},{126,44}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,286},{122,56}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,65},{122,56}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{128,88}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,55},{128,88}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{134,60}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,82},{134,60}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,132},{152,82}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,62},{152,82}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{160,84}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,60},{160,84}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{142,80}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,64},{142,80}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{156,54}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,89},{156,54}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperRain_Move_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,40}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,104},{162,40}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>PaperSpear_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,204},{69,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,6}}</string>
                <key>sourceSize</key>
                <string>{69,6}</string>
            </dict>
            <key>PaperSpear_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,132},{70,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,6}}</string>
                <key>sourceSize</key>
                <string>{70,6}</string>
            </dict>
            <key>PaperSrk_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,295},{25,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>PaperSrk_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,268},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Konan_Skill.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca4beec10a23b3726ab7bd6387370477$</string>
            <key>textureFileName</key>
            <string>Konan_Skill.png</string>
        </dict>
    </dict>
</plist>
