<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HiraishinKunai_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,96},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>HiraishinKunai_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>HiraishinKunai_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{76,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,19}}</string>
                <key>sourceSize</key>
                <string>{76,19}</string>
            </dict>
            <key>HiraishinKunai_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{57,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,1}}</string>
                <key>sourceSize</key>
                <string>{57,1}</string>
            </dict>
            <key>HiraishinMark_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,85},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>HiraishinMark_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>SpcKunai_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{49,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>SpcKunai_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,37},{57,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>SpcKunai_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,19}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{76,19}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
            <key>SpcKunai_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{57,1}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{57,1}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Minato_Skill.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e40e316d7838aa72e16cfee8114bb57$</string>
            <key>textureFileName</key>
            <string>Minato_Skill.png</string>
        </dict>
    </dict>
</plist>
