<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FudonSRK_Dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,64},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>FudonSRK_Dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{91,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{91,67}</string>
            </dict>
            <key>FudonSRK_Dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>FudonSRK_Dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>FudonSRK_Dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,244},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>FudonSRK_Dead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,104},{118,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,83}}</string>
                <key>sourceSize</key>
                <string>{118,83}</string>
            </dict>
            <key>FudonSRK_Dead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>FudonSRK_Dead_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,189},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>FudonSRK_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,54},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,41},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,28},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,15},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>Jiuwei_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,60}}</string>
                <key>sourceSize</key>
                <string>{202,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Naruto_Skill.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e2b057d6fdac088c04aeb0d30cbb67$</string>
            <key>textureFileName</key>
            <string>Naruto_Skill.png</string>
        </dict>
    </dict>
</plist>
