<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bikyu_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{176,104}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,104}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>Bikyu_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>Bikyu_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{190,110}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{190,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>Bikyu_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,87},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>FudonSRK_Dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,223},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>FudonSRK_Dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,195},{91,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,67}}</string>
                <key>sourceSize</key>
                <string>{91,67}</string>
            </dict>
            <key>FudonSRK_Dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>FudonSRK_Dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,114},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>FudonSRK_Dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,114},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>FudonSRK_Dead_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,83}}</string>
                <key>sourceSize</key>
                <string>{118,83}</string>
            </dict>
            <key>FudonSRK_Dead_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{108,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,60}}</string>
                <key>sourceSize</key>
                <string>{108,60}</string>
            </dict>
            <key>FudonSRK_Dead_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,114},{107,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,53}}</string>
                <key>sourceSize</key>
                <string>{107,53}</string>
            </dict>
            <key>FudonSRK_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,249},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,236},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>FudonSRK_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{46,11}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,11}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Naruto_Skill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8969029d291ca056ede721cdf1f83691$</string>
            <key>textureFileName</key>
            <string>Naruto_Skill.png</string>
        </dict>
    </dict>
</plist>
