<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hasan_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,164},{162,126}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,126}}</string>
                <key>sourceSize</key>
                <string>{162,126}</string>
            </dict>
            <key>Hasan_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{160,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,140}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>Hasan_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{188,176}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,176}}</string>
                <key>sourceSize</key>
                <string>{188,176}</string>
            </dict>
            <key>Kaiten_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,359},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,328},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,299},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,240},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,180},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,121},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{167,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,117}}</string>
                <key>sourceSize</key>
                <string>{189,75}</string>
            </dict>
            <key>Kaiten_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,418},{167,106}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,106}}</string>
                <key>sourceSize</key>
                <string>{167,106}</string>
            </dict>
            <key>Kaiten_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,447},{151,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,100}}</string>
                <key>sourceSize</key>
                <string>{151,100}</string>
            </dict>
            <key>Kaiten_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,478},{151,96}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,96}}</string>
                <key>sourceSize</key>
                <string>{151,96}</string>
            </dict>
			<key>Hasan_Bo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{267,96}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{267,96}}</string>
                <key>sourceSize</key>
                <string>{283,96}</string>
            </dict>
            <key>Hasan_Bo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{279,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{279,111}}</string>
                <key>sourceSize</key>
                <string>{283,111}</string>
            </dict>
            <key>Hasan_Bo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,116}}</string>
                <key>sourceSize</key>
                <string>{283,116}</string>
            </dict>
            <key>Hasan_Bo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{175,115}}</string>
                <key>offset</key>
                <string>{54,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{175,115}}</string>
                <key>sourceSize</key>
                <string>{283,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Neji_Skill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ffad0a17f1e949f136eaad10b6814d7$</string>
            <key>textureFileName</key>
            <string>Neji_Skill.png</string>
        </dict>
    </dict>
</plist>
