<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SansyoBlue_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,141},{55,127}}</string>
                <key>offset</key>
                <string>{10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,171},{55,127}}</string>
                <key>sourceSize</key>
                <string>{171,299}</string>
            </dict>
            <key>SansyoBlue_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{137,233}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{137,233}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoBlue_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,280},{137,203}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{137,203}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoBlue_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,834},{135,197}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{135,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoBlue_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,558},{137,197}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{137,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoBlue_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,558},{137,197}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{137,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoGreen_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,141},{55,127}}</string>
                <key>offset</key>
                <string>{10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,171},{55,127}}</string>
                <key>sourceSize</key>
                <string>{171,299}</string>
            </dict>
            <key>SansyoGreen_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{137,233}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{137,233}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoGreen_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{137,203}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{137,203}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoGreen_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,757},{135,197}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{135,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoGreen_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{137,197}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{137,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoGreen_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{137,197}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{137,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoRed_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,141},{55,127}}</string>
                <key>offset</key>
                <string>{10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,171},{55,127}}</string>
                <key>sourceSize</key>
                <string>{171,299}</string>
            </dict>
            <key>SansyoRed_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,233}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{137,233}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoRed_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,141},{137,203}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{137,203}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoRed_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,697},{135,197}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{135,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoRed_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,419},{137,197}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{137,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>SansyoRed_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{137,197}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{137,197}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Orochimaru_Skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:209dccbd0aecc224d7929e5292117ae5$</string>
            <key>textureFileName</key>
            <string>Orochimaru_Skill.png</string>
        </dict>
    </dict>
</plist>
