<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Orochimaru_Skill05_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{590,400}}</string>
        <key>offset</key>
        <string>{139,-102}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{590,400}}</string>
        <key>sourceSize</key>
        <string>{590,400}</string>
      </dict>
      <key>Orochimaru_Skill05_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{590,400}}</string>
        <key>offset</key>
        <string>{139,-102}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{590,400}}</string>
        <key>sourceSize</key>
        <string>{590,400}</string>
      </dict>
      <key>Orochimaru_Skill03_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,0},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1694,0},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{2208,0},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2722,0},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3236,0},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill02_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3750,0},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3750,165},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill03_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,200},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1694,200},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{2208,200},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{2722,200},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{3236,200},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill02_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3750,330},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill03_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,400},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1028,400},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill03_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1542,400},{514,200}}</string>
        <key>offset</key>
        <string>{215,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{514,200}}</string>
        <key>sourceSize</key>
        <string>{514,200}</string>
      </dict>
      <key>Orochimaru_Skill01_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2056,400},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2556,400},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3056,400},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_NAttack_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3556,400},{189,102}}</string>
        <key>offset</key>
        <string>{65,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>Orochimaru_Skill01_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3556,502},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,600},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,600},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,600},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1500,600},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,692},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2500,692},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3000,692},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3500,794},{500,292}}</string>
        <key>offset</key>
        <string>{131.5,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,892},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,892},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,892},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1500,892},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,984},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{2500,984},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{3000,984},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{3500,1086},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1184},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,1184},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill01_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1184},{500,292}}</string>
        <key>offset</key>
        <string>{132,-92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,292}}</string>
        <key>sourceSize</key>
        <string>{500,292}</string>
      </dict>
      <key>Orochimaru_Skill02_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1500,1184},{460,205}}</string>
        <key>offset</key>
        <string>{166,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,205}}</string>
        <key>sourceSize</key>
        <string>{460,205}</string>
      </dict>
      <key>Orochimaru_Skill02_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1960,1276},{460,205}}</string>
        <key>offset</key>
        <string>{166,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,205}}</string>
        <key>sourceSize</key>
        <string>{460,205}</string>
      </dict>
      <key>Orochimaru_Skill02_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1500,1389},{460,205}}</string>
        <key>offset</key>
        <string>{166,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,205}}</string>
        <key>sourceSize</key>
        <string>{460,205}</string>
      </dict>
      <key>Orochimaru_Skill02_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{2420,1276},{460,205}}</string>
        <key>offset</key>
        <string>{166,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,205}}</string>
        <key>sourceSize</key>
        <string>{460,205}</string>
      </dict>
      <key>Orochimaru_Skill02_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1276},{460,205}}</string>
        <key>offset</key>
        <string>{166,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,205}}</string>
        <key>sourceSize</key>
        <string>{460,205}</string>
      </dict>
      <key>Orochimaru_NAttack_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{3340,1276},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_Skill02_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{3499,1378},{460,205}}</string>
        <key>offset</key>
        <string>{166,-55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{460,205}}</string>
        <key>sourceSize</key>
        <string>{460,205}</string>
      </dict>
      <key>Orochimaru_NAttack_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{3340,1464},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_Skill04_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3499,1583},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill03_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{3889,1583},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{3889,1752},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill04_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1960,1481},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{2350,1481},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2740,1481},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill03_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{3130,1481},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{3130,1650},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_NAttack_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{3336,1652},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_NAttack_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{3336,1840},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_NAttack_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{3336,2028},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_Skill04_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3495,1858},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{3495,2133},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3495,2408},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill03_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{3885,1921},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{3885,2090},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{3885,2259},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{3885,2428},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{3885,2597},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill04_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2766},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2216},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2491},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1819},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_NAttack_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2094},{189,102}}</string>
        <key>offset</key>
        <string>{65,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>Orochimaru_NAttack_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,2094},{189,102}}</string>
        <key>offset</key>
        <string>{65,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>Orochimaru_NAttack_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,2094},{189,102}}</string>
        <key>offset</key>
        <string>{65,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>Orochimaru_Skill04_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,1819},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_NAttack_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1594},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_NAttack_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1476},{189,102}}</string>
        <key>offset</key>
        <string>{65,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>Orochimaru_NAttack_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,1594},{159,188}}</string>
        <key>offset</key>
        <string>{48,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,188}}</string>
        <key>sourceSize</key>
        <string>{159,188}</string>
      </dict>
      <key>Orochimaru_NAttack_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,1476},{189,102}}</string>
        <key>offset</key>
        <string>{65,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,102}}</string>
        <key>sourceSize</key>
        <string>{189,102}</string>
      </dict>
      <key>Orochimaru_Skill03_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,1594},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_NAttack_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,1476},{179,95}}</string>
        <key>offset</key>
        <string>{60,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,95}}</string>
        <key>sourceSize</key>
        <string>{179,95}</string>
      </dict>
      <key>Orochimaru_Skill03_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,1594},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_NAttack_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,1476},{179,95}}</string>
        <key>offset</key>
        <string>{60,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,95}}</string>
        <key>sourceSize</key>
        <string>{179,95}</string>
      </dict>
      <key>Orochimaru_Skill03_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,1594},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill02_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,1476},{174,88}}</string>
        <key>offset</key>
        <string>{40.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,88}}</string>
        <key>sourceSize</key>
        <string>{174,88}</string>
      </dict>
      <key>Orochimaru_Skill02_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,1476},{174,88}}</string>
        <key>offset</key>
        <string>{40.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,88}}</string>
        <key>sourceSize</key>
        <string>{174,88}</string>
      </dict>
      <key>Orochimaru_Skill04_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,1476},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,1751},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill02_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,1763},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,1928},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill04_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1474,1594},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3041},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3316},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3591},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill03_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3866},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,3866},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill04_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,2766},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,2216},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,2491},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill02_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,2094},{174,88}}</string>
        <key>offset</key>
        <string>{40.5,-7}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,88}}</string>
        <key>sourceSize</key>
        <string>{174,88}</string>
      </dict>
      <key>Orochimaru_Skill04_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,3041},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,3316},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,3591},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill03_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,3866},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill03_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,3866},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill04_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,2766},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill04_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,2491},{390,275}}</string>
        <key>offset</key>
        <string>{173,-46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,275}}</string>
        <key>sourceSize</key>
        <string>{390,275}</string>
      </dict>
      <key>Orochimaru_Skill03_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,2216},{206,169}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
      <key>Orochimaru_Skill02_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,2216},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1050,2026},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,3041},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,3206},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,3371},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,3536},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,3701},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,3866},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
      <key>Orochimaru_Skill02_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,3866},{270,165}}</string>
        <key>offset</key>
        <string>{99.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,165}}</string>
        <key>sourceSize</key>
        <string>{270,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Orochimaru_Skill.png</string>
      <key>size</key>
      <string>{4095,4035}</string>
      <key>textureFileName</key>
      <string>Orochimaru_Skill.png</string>
    </dict>
  </dict>
</plist>
