<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pain_Skill05_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,621},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1242},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1863},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2484},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3105},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>

            
            <key>Pain_Skill04_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3726},{533,363}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,363}}</string>
                <key>sourceSize</key>
                <string>{533,363}</string>
            </dict>
            <key>Pain_Skill04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,3726},{533,363}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,363}}</string>
                <key>sourceSize</key>
                <string>{533,363}</string>
            </dict>
            <key>Pain_Skill05_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,0},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{376,272}}</string>
                <key>offset</key>
                <string>{146,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,272}}</string>
                <key>sourceSize</key>
                <string>{376,272}</string>
            </dict>
            <key>Pain_Skill02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,272},{376,272}}</string>
                <key>offset</key>
                <string>{146,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,272}}</string>
                <key>sourceSize</key>
                <string>{376,272}</string>
            </dict>
            <key>Pain_Skill02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,544},{376,272}}</string>
                <key>offset</key>
                <string>{146,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,272}}</string>
                <key>sourceSize</key>
                <string>{376,272}</string>
            </dict>
            <key>Pain_Skill05_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,0},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2274,0},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2878,0},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,0},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,816},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1437},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1437},{376,272}}</string>
                <key>offset</key>
                <string>{146,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,272}}</string>
                <key>sourceSize</key>
                <string>{376,272}</string>
            </dict>
            <key>Pain_Skill05_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,621},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2058},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill05_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2679},{604,621}}</string>
                <key>offset</key>
                <string>{228,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,621}}</string>
                <key>sourceSize</key>
                <string>{604,621}</string>
            </dict>
            <key>Pain_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,3300},{471,286}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,3586},{471,286}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,3300},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,3872},{534,215}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,215}}</string>
                <key>sourceSize</key>
                <string>{534,215}</string>
            </dict>
            <key>Pain_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,3586},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,3586},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2479,3586},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,3872},{534,215}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,215}}</string>
                <key>sourceSize</key>
                <string>{534,215}</string>
            </dict>
            <key>Pain_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2134,3872},{533,215}}</string>
                <key>offset</key>
                <string>{19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2667,3872},{533,215}}</string>
                <key>offset</key>
                <string>{19,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,621},{533,215}}</string>
                <key>offset</key>
                <string>{19.5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,836},{533,215}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,1051},{533,215}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,1266},{533,215}}</string>
                <key>offset</key>
                <string>{9.5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,1481},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,1696},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,1911},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,2126},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,2341},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{3200,2556},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2771},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,3057},{533,215}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,2771},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2150,2771},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,3272},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,3057},{533,215}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,215}}</string>
                <key>sourceSize</key>
                <string>{533,215}</string>
            </dict>
            <key>Pain_Skill03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2017,3272},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,621},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,907},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,1193},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,1479},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,1765},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
            <key>Pain_Skill03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,2051},{471,286}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,286}}</string>
                <key>sourceSize</key>
                <string>{471,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pain_Skill.png</string>
            <key>size</key>
            <string>{4086,4089}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2232e9feb0cdebda3cc4210877a4bec8$</string>
            <key>textureFileName</key>
            <string>Pain_Skill.png</string>
        </dict>
    </dict>
</plist>
