<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JibakuEX_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,148},{17,17}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{17,17}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,455},{19,19}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{19,19}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,228},{61,99}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{61,99}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{75,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{75,121}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,121}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{77,121}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{73,101}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{73,101}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,149},{77,103}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{77,103}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{67,101}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,20},{67,101}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,318},{49,41}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{49,41}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{91,63}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{91,63}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{109,67}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{109,67}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{91,67}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{91,67}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>JibakuEX_Move_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,361},{71,63}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{71,63}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>Jibaku_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{5,6}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,100}</string>
            </dict>
            <key>Jibaku_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,149},{16,16}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,100}</string>
            </dict>
            <key>Jibaku_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,455},{19,18}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,100}</string>
            </dict>
            <key>Jibaku_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,455},{25,24}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,100}</string>
            </dict>
            <key>Jibaku_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,201},{31,32}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,100}</string>
            </dict>
            <key>Jibaku_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,487},{21,22}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{21,22}}</string>
                <key>sourceSize</key>
                <string>{31,100}</string>
            </dict>
            <key>Jibaku_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,234},{42,45}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,109}</string>
            </dict>
            <key>Jibaku_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,318},{49,41}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,109}</string>
            </dict>
            <key>Jibaku_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,363},{90,64}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{92,116}</string>
            </dict>
            <key>Jibaku_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,79},{110,68}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>Jibaku_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,291},{91,68}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{93,120}</string>
            </dict>
            <key>Jibaku_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,434},{70,64}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>Rocket_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,487},{73,19}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>Rocket_Move_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,79},{67,17}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,17}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>Rocket_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,456},{29,28}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{29,28}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Rocket_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,278},{43,38}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{43,38}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Rocket_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{41,42}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{41,42}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Rocket_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,167},{35,32}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{35,32}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pain_Skill.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2232e9feb0cdebda3cc4210877a4bec8$</string>
            <key>textureFileName</key>
            <string>Pain_Skill.png</string>
        </dict>
    </dict>
</plist>
