<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InkBird_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{71,58}}</string>
                <key>offset</key>
                <string>{-9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,80},{71,58}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,219},{139,84}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,55},{139,84}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,78},{139,86}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{139,86}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{119,62}}</string>
                <key>offset</key>
                <string>{31,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{119,62}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{133,140}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{133,140}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,140}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{139,140}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{107,74}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>InkBird_Move_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,440},{57,56}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,1},{57,56}}</string>
                <key>sourceSize</key>
                <string>{181,140}</string>
            </dict>
            <key>Mouse_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,78},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
            <key>Mouse_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,109},{30,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>Mouse_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,194},{31,11}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>Snake_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,141},{51,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,11}}</string>
                <key>sourceSize</key>
                <string>{51,11}</string>
            </dict>
            <key>Snake_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,170},{54,9}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,9}}</string>
                <key>sourceSize</key>
                <string>{54,11}</string>
            </dict>
            <key>Snake_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,109},{59,7}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,7}}</string>
                <key>sourceSize</key>
                <string>{59,11}</string>
            </dict>
            <key>Tiger_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>Tiger_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,360},{77,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,48}}</string>
                <key>sourceSize</key>
                <string>{77,48}</string>
            </dict>
            <key>Tiger_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,400},{80,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>Tiger_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{80,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>ink_boom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,342},{56,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ink_boom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,440},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sai_Skill..png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f8dfdccf1391a8981fec012c9defcf$</string>
            <key>textureFileName</key>
            <string>Sai_Skill..png</string>
        </dict>
    </dict>
</plist>
