<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KageBom_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,138},{95,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,21}}</string>
                <key>sourceSize</key>
                <string>{95,21}</string>
            </dict>
            <key>KageBom_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{123,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,68}}</string>
                <key>sourceSize</key>
                <string>{123,68}</string>
            </dict>
            <key>KageBom_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,72},{117,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,64}}</string>
                <key>sourceSize</key>
                <string>{117,64}</string>
            </dict>
            <key>KageBom_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>KageBom_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,193},{29,30}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{29,30}}</string>
                <key>sourceSize</key>
                <string>{117,84}</string>
            </dict>
            <key>KageBom_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,161},{31,30}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{31,30}}</string>
                <key>sourceSize</key>
                <string>{117,84}</string>
            </dict>
            <key>KageBom_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>KageBom_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,81}}</string>
                <key>sourceSize</key>
                <string>{114,81}</string>
            </dict>
            <key>KageHand_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,214},{41,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{59,38}</string>
            </dict>
            <key>KageHand_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,163},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>KageHand_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,146},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>Kage_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,138},{25,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,3}}</string>
                <key>sourceSize</key>
                <string>{25,3}</string>
            </dict>
            <key>Kage_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,228},{45,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,3}}</string>
                <key>sourceSize</key>
                <string>{45,3}</string>
            </dict>
            <key>Kage_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{65,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,3}}</string>
                <key>sourceSize</key>
                <string>{65,3}</string>
            </dict>
            <key>Kage_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{85,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,3}}</string>
                <key>sourceSize</key>
                <string>{85,3}</string>
            </dict>
            <key>Kage_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{110,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,3}}</string>
                <key>sourceSize</key>
                <string>{110,3}</string>
            </dict>
            <key>Kage_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{142,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,3}}</string>
                <key>sourceSize</key>
                <string>{142,3}</string>
            </dict>
            <key>QuanRen_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,233},{24,21}}</string>
                <key>offset</key>
                <string>{-67,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{24,21}}</string>
                <key>sourceSize</key>
                <string>{196,105}</string>
            </dict>
            <key>QuanRen_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,233},{24,21}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,44},{24,21}}</string>
                <key>sourceSize</key>
                <string>{196,105}</string>
            </dict>
            <key>QuanRen_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,233},{24,21}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{24,21}}</string>
                <key>sourceSize</key>
                <string>{196,105}</string>
            </dict>
            <key>QuanRen_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,233},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shikamaru_Skill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b25c801e6ff7d130ddd6abe0ac92755$</string>
            <key>textureFileName</key>
            <string>Shikamaru_Skill.png</string>
        </dict>
    </dict>
</plist>
