<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BugClone_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,339},{71,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,81}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugClone_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugClone_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{73,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugClone_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,268},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>BugPillar_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,233},{25,16}}</string>
                <key>offset</key>
                <string>{-47,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,112},{25,16}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,268},{75,50}}</string>
                <key>offset</key>
                <string>{-24,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,78},{75,50}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,174},{123,92}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{123,92}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{123,116}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{123,116}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,124}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{129,124}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{83,126}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,2},{83,126}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>BugPillar_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,127},{45,116}}</string>
                <key>offset</key>
                <string>{47,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,3},{45,116}}</string>
                <key>sourceSize</key>
                <string>{139,128}</string>
            </dict>
            <key>Bug_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,213},{18,25}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,25}}</string>
                <key>sourceSize</key>
                <string>{22,65}</string>
            </dict>
            <key>Bug_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,273},{20,24}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>Bug_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,251},{20,24}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>Bug_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,295},{20,22}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shino_Skill.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28be66bbcc1b2c4ed6d107300b16f4ff$</string>
            <key>textureFileName</key>
            <string>Shino_Skill.png</string>
        </dict>
    </dict>
</plist>
