<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FlyKnife_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,30},{43,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,9}}</string>
                <key>sourceSize</key>
                <string>{43,9}</string>
            </dict>
            <key>Mine_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,334},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>Mine_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,334},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>Mine_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{26,13}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
            <key>Mine_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,545},{28,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>Mine_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,312},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>Mine_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,438},{40,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>Mine_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,480},{32,33}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>Shoryu_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,479},{122,86}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,23},{122,86}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,357},{192,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,12},{192,120}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{238,122}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,20},{238,122}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{300,124}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{300,124}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{330,126}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{330,126}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{350,112}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{350,112}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,78}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,64},{362,78}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{362,56}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,86},{362,56}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>Shoryu_Move_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{362,56}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,86},{362,56}}</string>
                <key>sourceSize</key>
                <string>{364,142}</string>
            </dict>
            <key>TentenSRK_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,479},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>TentenSRK_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,514},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tenten_Skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd585011ae3dc131da8dc0e7578c2508$</string>
            <key>textureFileName</key>
            <string>Tenten_Skill.png</string>
        </dict>
    </dict>
</plist>
