<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SuiRyuDan_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,485},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>SuiRyuDan_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{113,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,74}}</string>
                <key>sourceSize</key>
                <string>{113,74}</string>
            </dict>
            <key>SuiRyuDan_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{127,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,92}}</string>
                <key>sourceSize</key>
                <string>{127,92}</string>
            </dict>
            <key>SuiRyuDan_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,263},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>SuiRyuDan_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,131},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>SuiRyuDan_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{127,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,88}}</string>
                <key>sourceSize</key>
                <string>{127,88}</string>
            </dict>
            <key>SuiRyuDan_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{123,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,78}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>SuiRyuDan_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{127,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,69}}</string>
                <key>sourceSize</key>
                <string>{127,69}</string>
            </dict>
            <key>SuiRyuDan_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,127},{121,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{121,63}</string>
            </dict>
            <key>SuiRyuDan_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,257},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>Suijin_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,250},{100,70}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,82},{100,70}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,381},{102,70}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,80},{102,70}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{98,68}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,79},{98,68}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,166},{92,62}}</string>
                <key>offset</key>
                <string>{-9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,79},{92,62}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,454},{92,56}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,87},{92,56}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,124},{92,52}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,89},{92,52}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,230},{92,50}}</string>
                <key>offset</key>
                <string>{-6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,89},{92,50}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,230},{92,50}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,89},{92,50}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,352},{100,50}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,89},{100,50}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,72},{98,50}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,89},{98,50}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,178},{92,50}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,89},{92,50}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,110},{94,54}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,88},{94,54}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,282},{86,54}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,87},{86,54}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{84,56}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,86},{84,56}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,391},{84,112}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{84,112}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,130}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{74,130}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,391},{58,112}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{58,112}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{62,106}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{62,106}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>Suijin_Move_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,60},{46,40}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,107},{46,40}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tobirama_Skill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82a31323a4dcd21e67d661e762d31466$</string>
            <key>textureFileName</key>
            <string>Tobirama_Skill.png</string>
        </dict>
    </dict>
</plist>
