<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>无01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>FakeTobirama_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{33,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{33,34}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>FakeTobirama_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,802},{59,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>FakeTobirama_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>FakeTobirama_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,753},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>FakeTobirama_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,736},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>FakeTobirama_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,802},{59,68}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{59,68}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>FakeTobirama_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,736},{71,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>FakeTobirama_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,312},{53,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{53,68}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>SuiRyuDan_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,37},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>SuiRyuDan_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,600},{113,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,74}}</string>
                <key>sourceSize</key>
                <string>{113,74}</string>
            </dict>
            <key>SuiRyuDan_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,532},{127,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,92}}</string>
                <key>sourceSize</key>
                <string>{127,92}</string>
            </dict>
            <key>SuiRyuDan_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>SuiRyuDan_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,382},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>SuiRyuDan_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,598},{127,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,88}}</string>
                <key>sourceSize</key>
                <string>{127,88}</string>
            </dict>
            <key>SuiRyuDan_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,626},{123,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,78}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>SuiRyuDan_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{127,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,69}}</string>
                <key>sourceSize</key>
                <string>{127,69}</string>
            </dict>
            <key>SuiRyuDan_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,688},{121,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{121,63}</string>
            </dict>
            <key>SuiRyuDan_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,676},{122,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{122,58}</string>
            </dict>
            <key>Suiji_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,508},{96,90}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,60},{96,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Suiji_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,532},{128,64}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,84},{128,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Suiji_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{130,66}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,84},{130,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Suiji_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,192},{118,56}}</string>
                <key>offset</key>
                <string>{15,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,94},{118,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Suijin_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,706},{104,94}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{104,94}}</string>
                <key>sourceSize</key>
                <string>{190,120}</string>
            </dict>
            <key>Suijin_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,382},{148,187}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{148,187}}</string>
                <key>sourceSize</key>
                <string>{190,199}</string>
            </dict>
            <key>Suijin_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{150,224}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{150,224}}</string>
                <key>sourceSize</key>
                <string>{190,226}</string>
            </dict>
            <key>Suijin_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{188,225}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{188,225}}</string>
                <key>sourceSize</key>
                <string>{190,229}</string>
            </dict>
            <key>Suijin_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{186,217}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{186,217}}</string>
                <key>sourceSize</key>
                <string>{190,217}</string>
            </dict>
            <key>Suijin_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,232}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{188,232}}</string>
                <key>sourceSize</key>
                <string>{190,238}</string>
            </dict>
            <key>Suijin_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,192},{188,223}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,223}}</string>
                <key>sourceSize</key>
                <string>{190,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tobirama_Skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2067f3ed64e50e9790430720547c965c$</string>
            <key>textureFileName</key>
            <string>Tobirama_Skill.png</string>
        </dict>
    </dict>
</plist>
