<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FireRain_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{42,40}}</string>
                <key>offset</key>
                <string>{-36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>FireRain_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{66,64}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{66,64}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>FireRain_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{92,90}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,90}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>FireRain_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{78,80}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{78,80}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>FireRain_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{68,68}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{68,68}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>FireRain_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,182},{66,64}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{66,64}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>FireRain_Move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,44},{36,42}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,62},{36,42}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>Shenwei_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,176},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{86,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,82},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{34,38}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,176},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{22,22}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Shenwei_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{12,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{12,12}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>TamaBomb_Move_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,16},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>TamaBomb_Move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,308},{32,32}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TamaBomb_Move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,252},{30,32}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{30,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TamaBomb_Move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,248},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TamaBomb_Move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,252},{60,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TamaBomb_Move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,118},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>TamaBomb_Move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,308},{58,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tobi_Skill.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c27bf51821cdcb962d9218584ee40f5$</string>
            <key>textureFileName</key>
            <string>Tobi_Skill.png</string>
        </dict>
    </dict>
</plist>
