<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SmallSlug_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{62,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>SmallSlug_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,138},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>SmallSlug_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>Tuji_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>Tuji_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>Tuji_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tsunade_Skill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbb0f0583c8a78af3f58f587d0b2abb2$</string>
            <key>textureFileName</key>
            <string>Tsunade_Skill.png</string>
        </dict>
    </dict>
</plist>
