<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choji_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,174},{66,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{66,87}</string>
            </dict>
            <key>Choji_AirHurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{49,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,84}}</string>
                <key>sourceSize</key>
                <string>{49,84}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,483},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,707},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{220,130}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{224,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{224,130}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,815},{228,130}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{228,130}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,837},{228,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{228,130}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,707},{220,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{220,130}}</string>
                <key>sourceSize</key>
                <string>{250,130}</string>
            </dict>
            <key>Choji_Beihua_Zhanche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,702},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>Choji_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,157},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>Choji_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,49}</string>
            </dict>
            <key>Choji_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>Choji_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,52},{61,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>Choji_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,0},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>Choji_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,111},{65,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>Choji_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,113},{65,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>Choji_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{65,75}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{65,75}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>Choji_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,165},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>Choji_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{84,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,47}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
            <key>Choji_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>Choji_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>Choji_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>Choji_KnockDown_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,44},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>Choji_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>Choji_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,247},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>Choji_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,178},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>Choji_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>Choji_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,321},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>Choji_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>Choji_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,179},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>Choji_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>Choji_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,235},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>Choji_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,238},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>Choji_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,51},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Choji_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,44},{53,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>Choji_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,45},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>Choji_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,163},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>Choji_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,109},{112,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{112,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>Choji_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,170},{114,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>Choji_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,110},{114,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,64}}</string>
                <key>sourceSize</key>
                <string>{114,64}</string>
            </dict>
            <key>Choji_Skill02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,173},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>Choji_Skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,98},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>Choji_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,101},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>Choji_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,47},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>Choji_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,378},{86,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,109}}</string>
                <key>sourceSize</key>
                <string>{86,109}</string>
            </dict>
            <key>Choji_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,296},{75,74}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{75,74}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,308},{89,76}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{89,76}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,311},{101,76}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{101,76}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,320},{125,76}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{125,76}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,301},{125,74}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{125,74}}</string>
                <key>sourceSize</key>
                <string>{133,92}</string>
            </dict>
            <key>Choji_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,47},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>Choji_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,316},{78,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,99}}</string>
                <key>sourceSize</key>
                <string>{78,99}</string>
            </dict>
            <key>Choji_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,231},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>Choji_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,387},{86,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,111}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>Choji_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,234},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>Choji_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,304},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>Choji_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,313},{76,88}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>Choji_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,51},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Choji_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,52},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>Choji_Skill09_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,702},{174,113}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{174,113}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill09_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,555},{182,107}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{182,107}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill09_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{176,107}}</string>
                <key>offset</key>
                <string>{-30,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{176,107}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill09_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,683},{180,107}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{180,107}}</string>
                <key>sourceSize</key>
                <string>{262,135}</string>
            </dict>
            <key>Choji_Skill10_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,389},{94,107}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,33},{94,107}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,578},{262,105}}</string>
                <key>offset</key>
                <string>{75,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,35},{262,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,602},{252,105}}</string>
                <key>offset</key>
                <string>{69,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,35},{252,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,473},{108,105}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,27},{108,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,490},{134,107}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,30},{134,107}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,464},{134,101}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,40},{134,101}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,499},{252,103}}</string>
                <key>offset</key>
                <string>{86,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,38},{252,103}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill10_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,597},{248,105}}</string>
                <key>offset</key>
                <string>{79,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,36},{248,105}}</string>
                <key>sourceSize</key>
                <string>{436,141}</string>
            </dict>
            <key>Choji_Skill11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>Choji_Skill11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,402},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>Choji_Skill11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,394},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>Choji_Skill11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,402},{97,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,106}}</string>
                <key>sourceSize</key>
                <string>{97,106}</string>
            </dict>
            <key>Choji_Skill11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,456},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>Choji_Skill11_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,396},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>Choji_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,107},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>Choji_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,103},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>Choji_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,49},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Choji_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,107},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>Choji_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{71,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>Choji_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,49},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>Choji_pNAttack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{44,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>Choji_pNAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,240},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>Choji_pNAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,243},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>Choji_pNAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,246},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>Choji_pNAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,375},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>Choji_pNAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,375},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>Choji_pNAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,223},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>Choji_pNAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,0},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>Choji_pNAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,247},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>Choji_pNAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{93,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,73}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
            <key>pBuff_Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,49},{58,97}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{58,97}}</string>
                <key>sourceSize</key>
                <string>{72,143}</string>
            </dict>
            <key>pBuff_Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,97},{60,96}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,46},{60,96}}</string>
                <key>sourceSize</key>
                <string>{68,146}</string>
            </dict>
            <key>pBuff_Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,0},{51,81}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,53},{51,81}}</string>
                <key>sourceSize</key>
                <string>{67,137}</string>
            </dict>
            <key>pBuff_Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,106},{62,84}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,40},{62,84}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>pBuff_Effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,228},{68,79}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{68,79}}</string>
                <key>sourceSize</key>
                <string>{76,131}</string>
            </dict>
            <key>pBuff_Effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,176},{67,77}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,51},{67,77}}</string>
                <key>sourceSize</key>
                <string>{75,131}</string>
            </dict>
            <key>pBuff_Effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,113},{66,70}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,54},{66,70}}</string>
                <key>sourceSize</key>
                <string>{74,128}</string>
            </dict>
            <key>pBuff_Effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,168},{66,83}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,35},{66,83}}</string>
                <key>sourceSize</key>
                <string>{72,121}</string>
            </dict>
            <key>pBuff_Effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{52,82}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{52,82}}</string>
                <key>sourceSize</key>
                <string>{68,120}</string>
            </dict>
            <key>pBuff_Effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,51},{58,72}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{58,72}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>BGRA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Choji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7040b8ac9eb5806794f27976fa277a79:4450d3d95ddfb7faa20538fd7ba95fb1:deea358ddb1218338c99d80b6b05bde0$</string>
            <key>textureFileName</key>
            <string>Choji.png</string>
        </dict>
    </dict>
</plist>
