<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Deidara_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,432},{41,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,64}}</string>
                <key>sourceSize</key>
                <string>{41,64}</string>
            </dict>
            <key>Deidara_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,389},{64,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,41}}</string>
                <key>sourceSize</key>
                <string>{64,41}</string>
            </dict>
            <key>Deidara_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,389},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>Deidara_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,522},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>Deidara_FlyMove_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{128,105}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,105}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>Deidara_FlyMove_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{128,105}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{128,105}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>Deidara_FlyMove_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{128,106}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>Deidara_FlyMove_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,62},{128,124}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>Deidara_FlyMove_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{128,110}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>Deidara_FlyMove_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{128,123}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,123}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>Deidara_Fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,169},{108,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,121}}</string>
                <key>sourceSize</key>
                <string>{108,139}</string>
            </dict>
            <key>Deidara_Fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,188},{108,119}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{108,119}}</string>
                <key>sourceSize</key>
                <string>{120,139}</string>
            </dict>
            <key>Deidara_Fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,279},{107,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{107,111}}</string>
                <key>sourceSize</key>
                <string>{107,139}</string>
            </dict>
            <key>Deidara_Fly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,73},{108,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,136}</string>
            </dict>
            <key>Deidara_Fly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,114},{108,120}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{108,142}</string>
            </dict>
            <key>Deidara_Fly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,224},{108,112}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,136}</string>
            </dict>
            <key>Deidara_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,460},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>Deidara_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,75}}</string>
                <key>sourceSize</key>
                <string>{40,75}</string>
            </dict>
            <key>Deidara_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,340},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>Deidara_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,362},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>Deidara_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>Deidara_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,405},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>Deidara_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,300},{81,35}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>Deidara_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,176},{80,23}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{80,23}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>Deidara_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,571},{65,49}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>Deidara_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,447},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>Deidara_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,310},{32,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>Deidara_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,524},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>Deidara_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,473},{47,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>Deidara_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,334},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>Deidara_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,432},{75,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>Deidara_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,436},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,67}</string>
            </dict>
            <key>Deidara_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,453},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>Deidara_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,568},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>Deidara_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,560},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>Deidara_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{47,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>Deidara_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,291},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>Deidara_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>Deidara_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,298},{45,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,78}}</string>
                <key>sourceSize</key>
                <string>{45,78}</string>
            </dict>
            <key>Deidara_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,530},{67,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>Deidara_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,485},{64,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>Deidara_Skill01_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,388},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>Deidara_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{36,82}</string>
            </dict>
            <key>Deidara_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,366},{38,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,82}}</string>
                <key>sourceSize</key>
                <string>{38,82}</string>
            </dict>
            <key>Deidara_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,336},{34,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,82}}</string>
                <key>sourceSize</key>
                <string>{34,82}</string>
            </dict>
            <key>Deidara_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,300},{34,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,82}}</string>
                <key>sourceSize</key>
                <string>{34,82}</string>
            </dict>
            <key>Deidara_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,366},{38,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,82}}</string>
                <key>sourceSize</key>
                <string>{38,82}</string>
            </dict>
            <key>Deidara_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{35,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,82}}</string>
                <key>sourceSize</key>
                <string>{35,82}</string>
            </dict>
            <key>Deidara_Skill02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,406},{52,81}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{52,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>Deidara_Skill02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,372},{58,81}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{58,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>Deidara_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,514},{46,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,82}</string>
            </dict>
            <key>Deidara_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,379},{42,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{42,68}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>Deidara_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,480},{43,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{43,66}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>Deidara_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,369},{30,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,82}}</string>
                <key>sourceSize</key>
                <string>{30,82}</string>
            </dict>
            <key>Deidara_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,336},{41,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,80}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>Deidara_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,291},{47,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,80}}</string>
                <key>sourceSize</key>
                <string>{47,82}</string>
            </dict>
            <key>Deidara_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>Deidara_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,205},{101,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,119}}</string>
                <key>sourceSize</key>
                <string>{101,119}</string>
            </dict>
            <key>Deidara_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,109},{125,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,114}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>Deidara_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,183},{119,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{119,115}</string>
            </dict>
            <key>Deidara_Skill03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,176},{114,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,113}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>Deidara_Skill03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{110,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,117}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>Deidara_Skill03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,225},{109,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,111}}</string>
                <key>sourceSize</key>
                <string>{113,117}</string>
            </dict>
            <key>Deidara_Skill03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,94},{109,89}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>Deidara_Skill03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,326},{109,61}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,61}}</string>
                <key>sourceSize</key>
                <string>{109,113}</string>
            </dict>
            <key>Deidara_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,529},{40,55}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,85}</string>
            </dict>
            <key>Deidara_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,602},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>Deidara_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,445},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,67}</string>
            </dict>
            <key>Deidara_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,378},{73,64}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{201,64}</string>
            </dict>
            <key>Deidara_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{83,68}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{201,68}</string>
            </dict>
            <key>Deidara_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,459},{71,63}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{201,63}</string>
            </dict>
            <key>Deidara_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,394},{77,65}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{201,65}</string>
            </dict>
            <key>Deidara_Skill05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,298},{101,66}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{101,66}}</string>
                <key>sourceSize</key>
                <string>{201,66}</string>
            </dict>
            <key>Deidara_Skill05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,110},{123,64}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{201,64}</string>
            </dict>
            <key>Deidara_Skill05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{129,69}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{129,69}}</string>
                <key>sourceSize</key>
                <string>{201,69}</string>
            </dict>
            <key>Deidara_Skill05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,69}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{137,69}}</string>
                <key>sourceSize</key>
                <string>{201,69}</string>
            </dict>
            <key>Deidara_Skill05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{135,58}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{135,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>Deidara_Skill05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,109},{123,58}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{123,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>Deidara_Skill05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>Deidara_Skill05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,637},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>Deidara_Skill05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,699},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>Deidara_Skill05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,656},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>Deidara_Skill05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>Deidara_Skill05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,379},{55,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,68}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>Deidara_Skill05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,514},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>Deidara_Skill05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,423},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>Deidara_Skill05_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,388},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>Deidara_Skill05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,461},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>Deidara_Skill05_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,416},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>Deidara_Skill05_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,503},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>Deidara_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,660},{62,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>Deidara_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,582},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>Deidara_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,586},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>Deidara_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,617},{62,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>Deidara_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,518},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>Deidara_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,459},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Deidara.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1989742818ca8ac8c8a9567349ab2ca1$</string>
            <key>textureFileName</key>
            <string>Deidara.png</string>
        </dict>
    </dict>
</plist>
