<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Orochimaru_AirHurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,654},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>Orochimaru_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,607},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>Orochimaru_Float_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,355},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>Orochimaru_Float_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,296},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>Orochimaru_Hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,513},{47,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{47,75}</string>
            </dict>
            <key>Orochimaru_Hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>Orochimaru_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>Orochimaru_Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,536},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>Orochimaru_Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,566},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>Orochimaru_Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,525},{39,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,68}}</string>
                <key>sourceSize</key>
                <string>{39,68}</string>
            </dict>
            <key>Orochimaru_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>Orochimaru_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,493},{70,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,41}}</string>
                <key>sourceSize</key>
                <string>{70,41}</string>
            </dict>
            <key>Orochimaru_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,119},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,23}}</string>
                <key>sourceSize</key>
                <string>{83,23}</string>
            </dict>
            <key>Orochimaru_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,47},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,23}}</string>
                <key>sourceSize</key>
                <string>{84,23}</string>
            </dict>
            <key>Orochimaru_KnockDown_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,472},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>Orochimaru_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,327},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Orochimaru_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,484},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>Orochimaru_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,298},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>Orochimaru_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,327},{45,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{45,75}</string>
            </dict>
            <key>Orochimaru_NAttack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,436},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>Orochimaru_NAttack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>Orochimaru_NAttack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>Orochimaru_NAttack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,471},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>Orochimaru_NAttack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{45,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,71}}</string>
                <key>sourceSize</key>
                <string>{45,71}</string>
            </dict>
            <key>Orochimaru_NAttack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,557},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>Orochimaru_NAttack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,72},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>Orochimaru_NAttack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,345},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>Orochimaru_Skill01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,527},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,75}</string>
            </dict>
            <key>Orochimaru_Skill01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,414},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>Orochimaru_Skill01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,404},{78,63}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>Orochimaru_Skill01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{130,63}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{130,63}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>Orochimaru_Skill01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,63}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>Orochimaru_Skill01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,233},{106,63}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>Orochimaru_Skill01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,644},{52,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>Orochimaru_Skill01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,568},{52,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{230,62}</string>
            </dict>
            <key>Orochimaru_Skill02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,596},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>Orochimaru_Skill02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,43}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>Orochimaru_Skill02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,147},{108,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,39}}</string>
                <key>sourceSize</key>
                <string>{108,39}</string>
            </dict>
            <key>Orochimaru_Skill02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,194},{109,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,39}}</string>
                <key>sourceSize</key>
                <string>{109,39}</string>
            </dict>
            <key>Orochimaru_Skill02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,188},{107,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,43}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>Orochimaru_Skill02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,419},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Orochimaru_Skill03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,327},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Orochimaru_Skill03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,408},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>Orochimaru_Skill03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,253},{102,72}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>Orochimaru_Skill03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,253},{102,72}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>Orochimaru_Skill03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,419},{76,72}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{220,72}</string>
            </dict>
            <key>Orochimaru_Skill03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,219},{46,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{220,75}</string>
            </dict>
            <key>Orochimaru_Skill03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,67},{126,78}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{220,78}</string>
            </dict>
            <key>Orochimaru_Skill03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{136,74}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{136,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>Orochimaru_Skill03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{132,74}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{132,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>Orochimaru_Skill03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,269},{100,74}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>Orochimaru_Skill04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,481},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>Orochimaru_Skill04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,596},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>Orochimaru_Skill04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,419},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>Orochimaru_Skill04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,386},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>Orochimaru_Skill04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,345},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>Orochimaru_Skill04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,698},{41,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{107,45}</string>
            </dict>
            <key>Orochimaru_Skill04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,78},{39,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{107,24}</string>
            </dict>
            <key>Orochimaru_Skill04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{35,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{107,27}</string>
            </dict>
            <key>Orochimaru_Skill04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,194},{23,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{107,15}</string>
            </dict>
            <key>Orochimaru_Skill04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,235},{101,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,32}</string>
            </dict>
            <key>Orochimaru_Skill04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,147},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>Orochimaru_Skill04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,154},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>Orochimaru_Skill04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{120,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,69}</string>
            </dict>
            <key>Orochimaru_Skill04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,78},{120,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,74}}</string>
                <key>sourceSize</key>
                <string>{120,74}</string>
            </dict>
            <key>Orochimaru_Skill04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,472},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>Orochimaru_Skill05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>Orochimaru_Skill05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,372},{34,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{34,80}</string>
            </dict>
            <key>Orochimaru_Skill05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,403},{31,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,80}}</string>
                <key>sourceSize</key>
                <string>{31,80}</string>
            </dict>
            <key>Orochimaru_Skill05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>Orochimaru_Skill05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,366},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>Orochimaru_Skill05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{31,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,69}}</string>
                <key>sourceSize</key>
                <string>{31,69}</string>
            </dict>
            <key>Orochimaru_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,615},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>Orochimaru_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>Orochimaru_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,529},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>Orochimaru_Walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,562},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>Orochimaru_Walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>Orochimaru_Walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,577},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Orochimaru.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b657fa1f427d7ffbd2873a32e2c83877$</string>
            <key>textureFileName</key>
            <string>Orochimaru.png</string>
        </dict>
    </dict>
</plist>
