<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ObitoFlog_Float_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>ObitoFlog_Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>ObitoFlog_KnockDown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,91},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>ObitoFlog_KnockDown_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>ObitoFlog_KnockDown_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>ObitoFlog_KnockDown_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,31},{65,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,18}}</string>
                <key>sourceSize</key>
                <string>{65,18}</string>
            </dict>
            <key>ObitoFlog_NAttack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,51},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>ObitoFlog_NAttack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,51},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>ObitoFlog_NAttack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>ObitoFlog_NAttack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,46}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>ObitoFlog_Walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,95},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>ObitoFlog_Walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,49},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>ObitoFlog_Walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,94},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ObitoFlog.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5449de6fe4a83b136c1f7e80edb00b97$</string>
            <key>textureFileName</key>
            <string>ObitoFlog.png</string>
        </dict>
    </dict>
</plist>
