<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kakashi_AirHurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{305,766},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Float_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,52}</string>
                <key>spriteSourceSize</key>
                <string>{65,52}</string>
                <key>textureRect</key>
                <string>{{177,805},{65,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Float_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{422,577},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Float_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{63,69}</string>
                <key>textureRect</key>
                <string>{{421,642},{63,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,84}</string>
                <key>spriteSourceSize</key>
                <string>{44,84}</string>
                <key>textureRect</key>
                <string>{{376,535},{44,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{48,78}</string>
                <key>spriteSourceSize</key>
                <string>{48,84}</string>
                <key>textureRect</key>
                <string>{{390,304},{48,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,85}</string>
                <key>spriteSourceSize</key>
                <string>{29,85}</string>
                <key>textureRect</key>
                <string>{{359,173},{29,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{1,707},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{197,685},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{180,745},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{197,685},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_KnockDown_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{86,53}</string>
                <key>textureRect</key>
                <string>{{346,437},{86,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_KnockDown_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{88,23}</string>
                <key>spriteSourceSize</key>
                <string>{88,53}</string>
                <key>textureRect</key>
                <string>{{357,347},{88,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_KnockDown_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{325,693},{71,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_KnockDown_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,53}</string>
                <key>spriteSourceSize</key>
                <string>{49,53}</string>
                <key>textureRect</key>
                <string>{{457,794},{49,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_KnockDown_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{457,741},{51,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_KnockDown_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,53}</string>
                <key>spriteSourceSize</key>
                <string>{72,53}</string>
                <key>textureRect</key>
                <string>{{392,155},{72,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_NAttack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{48,76}</string>
                <key>textureRect</key>
                <string>{{61,759},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_NAttack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{78,58}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{214,470},{78,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_NAttack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{73,60}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{274,546},{73,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_NAttack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,76}</string>
                <key>spriteSourceSize</key>
                <string>{49,76}</string>
                <key>textureRect</key>
                <string>{{165,233},{49,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_NAttack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{142,458},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_NAttack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{71,56}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{382,384},{71,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_NAttack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{390,229},{73,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_NAttack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{41,68}</string>
                <key>spriteSourceSize</key>
                <string>{41,80}</string>
                <key>textureRect</key>
                <string>{{368,700},{41,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_NAttack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,80}</string>
                <key>spriteSourceSize</key>
                <string>{37,80}</string>
                <key>textureRect</key>
                <string>{{337,525},{37,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_NAttack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,233},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_NAttack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{76,80}</string>
                <key>textureRect</key>
                <string>{{83,233},{76,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,85}</string>
                <key>spriteSourceSize</key>
                <string>{29,85}</string>
                <key>textureRect</key>
                <string>{{359,260},{29,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{37,69}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{414,741},{37,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{37,71}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{384,830},{37,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{263,685},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{1,566},{70,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{206,550},{70,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,76}</string>
                <key>spriteSourceSize</key>
                <string>{49,76}</string>
                <key>textureRect</key>
                <string>{{381,457},{49,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,76}</string>
                <key>spriteSourceSize</key>
                <string>{49,76}</string>
                <key>textureRect</key>
                <string>{{226,392},{49,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,76}</string>
                <key>textureRect</key>
                <string>{{359,770},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{244,808},{61,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{32,84}</string>
                <key>textureRect</key>
                <string>{{298,833},{32,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,84}</string>
                <key>spriteSourceSize</key>
                <string>{33,84}</string>
                <key>textureRect</key>
                <string>{{336,607},{33,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{32,84}</string>
                <key>textureRect</key>
                <string>{{411,707},{32,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{63,508},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,80}</string>
                <key>textureRect</key>
                <string>{{63,572},{62,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,80}</string>
                <key>textureRect</key>
                <string>{{278,314},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{1,405},{80,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{77,60}</string>
                <key>textureRect</key>
                <string>{{1,487},{77,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{244,747},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill04_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,80}</string>
                <key>textureRect</key>
                <string>{{268,621},{62,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,80}</string>
                <key>textureRect</key>
                <string>{{131,656},{62,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{142,458},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill04_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{48,82}</string>
                <key>textureRect</key>
                <string>{{1,773},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill04_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,80}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{392,73},{53,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill04_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,118}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,103}</string>
                <key>spriteSourceSize</key>
                <string>{98,103}</string>
                <key>textureRect</key>
                <string>{{287,73},{98,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,103}</string>
                <key>spriteSourceSize</key>
                <string>{95,103}</string>
                <key>textureRect</key>
                <string>{{121,74},{95,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill04_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{48,77}</string>
                <key>textureRect</key>
                <string>{{371,621},{48,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill05_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{173,311},{40,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill05_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{88,61}</string>
                <key>spriteSourceSize</key>
                <string>{96,61}</string>
                <key>textureRect</key>
                <string>{{83,311},{88,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill05_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,61}</string>
                <key>spriteSourceSize</key>
                <string>{96,61}</string>
                <key>textureRect</key>
                <string>{{1,315},{88,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,62}</string>
                <key>textureRect</key>
                <string>{{432,485},{90,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{216,294},{96,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{61,699},{58,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{106,63}</string>
                <key>spriteSourceSize</key>
                <string>{106,71}</string>
                <key>textureRect</key>
                <string>{{1,106},{106,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill05_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{118,63}</string>
                <key>spriteSourceSize</key>
                <string>{118,71}</string>
                <key>textureRect</key>
                <string>{{447,129},{118,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{117,67}</string>
                <key>spriteSourceSize</key>
                <string>{117,71}</string>
                <key>textureRect</key>
                <string>{{444,249},{117,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{115,63}</string>
                <key>spriteSourceSize</key>
                <string>{115,71}</string>
                <key>textureRect</key>
                <string>{{440,368},{115,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{126,61}</string>
                <key>spriteSourceSize</key>
                <string>{132,61}</string>
                <key>textureRect</key>
                <string>{{448,1},{126,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,70}</string>
                <key>spriteSourceSize</key>
                <string>{139,70}</string>
                <key>textureRect</key>
                <string>{{287,173},{139,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill05_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,71}</string>
                <key>spriteSourceSize</key>
                <string>{164,71}</string>
                <key>textureRect</key>
                <string>{{121,1},{164,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill05_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,70}</string>
                <key>spriteSourceSize</key>
                <string>{159,70}</string>
                <key>textureRect</key>
                <string>{{287,1},{159,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill05_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,73}</string>
                <key>spriteSourceSize</key>
                <string>{50,73}</string>
                <key>textureRect</key>
                <string>{{128,720},{50,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{134,528},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{274,472},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill10_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{1,638},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill10_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{133,591},{63,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill10_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{111,795},{55,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill10_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,64}</string>
                <key>textureRect</key>
                <string>{{1,171},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill10_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,59}</string>
                <key>spriteSourceSize</key>
                <string>{108,59}</string>
                <key>textureRect</key>
                <string>{{226,74},{108,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Skill10_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{111,171},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Skill10_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{108,60}</string>
                <key>textureRect</key>
                <string>{{221,184},{108,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{64,374},{80,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,66}</string>
                <key>textureRect</key>
                <string>{{146,392},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{63,636},{61,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,66}</string>
                <key>textureRect</key>
                <string>{{64,442},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakashi_Walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{278,388},{82,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_Walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{199,622},{61,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2d_x.png</string>
            <key>size</key>
            <string>{512,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36bd54e6c177d7271392c71bf6324c3c:9c1c86efd16ed993e9516dc81324b318:09a61732b74bcf8779cc1751bec05576$</string>
            <key>textureFileName</key>
            <string>2d_x.png</string>
        </dict>
    </dict>
</plist>
